<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>boss_big01.png</key>
		<dict>
			<key>frame</key>
			<string>{{389,122},{118,106}}</string>
			<key>offset</key>
			<string>{0,-5}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{16,27},{118,106}}</string>
			<key>sourceSize</key>
			<string>{150,150}</string>
		</dict>
		<key>boss_big02.png</key>
		<dict>
			<key>frame</key>
			<string>{{456,2},{116,114}}</string>
			<key>offset</key>
			<string>{0,-1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{17,19},{116,114}}</string>
			<key>sourceSize</key>
			<string>{150,150}</string>
		</dict>
		<key>fat_boss_green01.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{138,122}}</string>
			<key>offset</key>
			<string>{-2,1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{4,13},{138,122}}</string>
			<key>sourceSize</key>
			<string>{150,150}</string>
		</dict>
		<key>fat_boss_green02.png</key>
		<dict>
			<key>frame</key>
			<string>{{126,2},{138,116}}</string>
			<key>offset</key>
			<string>{-2,-3}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{4,20},{138,116}}</string>
			<key>sourceSize</key>
			<string>{150,150}</string>
		</dict>
		<key>fat_green01.png</key>
		<dict>
			<key>frame</key>
			<string>{{777,2},{86,80}}</string>
			<key>offset</key>
			<string>{0,6}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{7,4},{86,80}}</string>
			<key>sourceSize</key>
			<string>{100,100}</string>
		</dict>
		<key>fat_green02.png</key>
		<dict>
			<key>frame</key>
			<string>{{709,110},{88,74}}</string>
			<key>offset</key>
			<string>{0,2}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{6,11},{88,74}}</string>
			<key>sourceSize</key>
			<string>{100,100}</string>
		</dict>
		<key>fly_blue01.png</key>
		<dict>
			<key>frame</key>
			<string>{{785,90},{58,86}}</string>
			<key>offset</key>
			<string>{-2,7}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{19,0},{58,86}}</string>
			<key>sourceSize</key>
			<string>{100,100}</string>
		</dict>
		<key>fly_blue02.png</key>
		<dict>
			<key>frame</key>
			<string>{{845,90},{58,78}}</string>
			<key>offset</key>
			<string>{-2,4}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{19,7},{58,78}}</string>
			<key>sourceSize</key>
			<string>{100,100}</string>
		</dict>
		<key>fly_boss_blue01.png</key>
		<dict>
			<key>frame</key>
			<string>{{301,130},{86,120}}</string>
			<key>offset</key>
			<string>{-1,5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{26,5},{86,120}}</string>
			<key>sourceSize</key>
			<string>{140,140}</string>
		</dict>
		<key>fly_boss_blue02.png</key>
		<dict>
			<key>frame</key>
			<string>{{687,2},{88,106}}</string>
			<key>offset</key>
			<string>{-2,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{24,18},{88,106}}</string>
			<key>sourceSize</key>
			<string>{140,140}</string>
		</dict>
		<key>fly_boss_yellow01.png</key>
		<dict>
			<key>frame</key>
			<string>{{605,119},{102,114}}</string>
			<key>offset</key>
			<string>{-1,-2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{23,20},{102,114}}</string>
			<key>sourceSize</key>
			<string>{150,150}</string>
		</dict>
		<key>fly_boss_yellow02.png</key>
		<dict>
			<key>frame</key>
			<string>{{244,2},{102,126}}</string>
			<key>offset</key>
			<string>{-1,4}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{23,8},{102,126}}</string>
			<key>sourceSize</key>
			<string>{150,150}</string>
		</dict>
		<key>fly_yellow01.png</key>
		<dict>
			<key>frame</key>
			<string>{{975,2},{58,66}}</string>
			<key>offset</key>
			<string>{-1,-2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{20,19},{58,66}}</string>
			<key>sourceSize</key>
			<string>{100,100}</string>
		</dict>
		<key>fly_yellow02.png</key>
		<dict>
			<key>frame</key>
			<string>{{859,2},{58,74}}</string>
			<key>offset</key>
			<string>{-1,2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{20,11},{58,74}}</string>
			<key>sourceSize</key>
			<string>{100,100}</string>
		</dict>
		<key>land_boss_nima01.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,142},{119,109}}</string>
			<key>offset</key>
			<string>{-3,-2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{10,20},{119,109}}</string>
			<key>sourceSize</key>
			<string>{145,145}</string>
		</dict>
		<key>land_boss_nima02.png</key>
		<dict>
			<key>frame</key>
			<string>{{572,2},{115,113}}</string>
			<key>offset</key>
			<string>{-3,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{12,16},{115,113}}</string>
			<key>sourceSize</key>
			<string>{145,145}</string>
		</dict>
		<key>land_boss_pink01.png</key>
		<dict>
			<key>frame</key>
			<string>{{123,142},{87,109}}</string>
			<key>offset</key>
			<string>{-2,8}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{17,0},{87,109}}</string>
			<key>sourceSize</key>
			<string>{125,125}</string>
		</dict>
		<key>land_boss_pink02.png</key>
		<dict>
			<key>frame</key>
			<string>{{212,142},{87,107}}</string>
			<key>offset</key>
			<string>{-2,7}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{17,2},{87,107}}</string>
			<key>sourceSize</key>
			<string>{125,125}</string>
		</dict>
		<key>land_boss_star01.png</key>
		<dict>
			<key>frame</key>
			<string>{{348,2},{106,118}}</string>
			<key>offset</key>
			<string>{0,5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{17,6},{106,118}}</string>
			<key>sourceSize</key>
			<string>{140,140}</string>
		</dict>
		<key>land_boss_star02.png</key>
		<dict>
			<key>frame</key>
			<string>{{497,120},{106,116}}</string>
			<key>offset</key>
			<string>{-1,4}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{16,8},{106,116}}</string>
			<key>sourceSize</key>
			<string>{140,140}</string>
		</dict>
		<key>land_nima01.png</key>
		<dict>
			<key>frame</key>
			<string>{{905,78},{72,66}}</string>
			<key>offset</key>
			<string>{-2,-1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{12,18},{72,66}}</string>
			<key>sourceSize</key>
			<string>{100,100}</string>
		</dict>
		<key>land_nima02.png</key>
		<dict>
			<key>frame</key>
			<string>{{921,152},{68,68}}</string>
			<key>offset</key>
			<string>{-2,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{14,16},{68,68}}</string>
			<key>sourceSize</key>
			<string>{100,100}</string>
		</dict>
		<key>land_pink01.png</key>
		<dict>
			<key>frame</key>
			<string>{{919,2},{54,72}}</string>
			<key>offset</key>
			<string>{2,2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{25,12},{54,72}}</string>
			<key>sourceSize</key>
			<string>{100,100}</string>
		</dict>
		<key>land_pink02.png</key>
		<dict>
			<key>frame</key>
			<string>{{975,70},{54,70}}</string>
			<key>offset</key>
			<string>{2,1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{25,14},{54,70}}</string>
			<key>sourceSize</key>
			<string>{100,100}</string>
		</dict>
		<key>land_star01.png</key>
		<dict>
			<key>frame</key>
			<string>{{853,170},{66,74}}</string>
			<key>offset</key>
			<string>{-2,3}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{15,10},{66,74}}</string>
			<key>sourceSize</key>
			<string>{100,100}</string>
		</dict>
		<key>land_star02.png</key>
		<dict>
			<key>frame</key>
			<string>{{785,178},{66,72}}</string>
			<key>offset</key>
			<string>{-2,2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{15,12},{66,72}}</string>
			<key>sourceSize</key>
			<string>{100,100}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>Monsters01-hd.png</string>
		<key>size</key>
		<string>{1039,253}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:5cd6bf171f630d783461104228b4e24c$</string>
		<key>textureFileName</key>
		<string>Monsters01-hd.png</string>
	</dict>
</dict>
</plist>
