<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>cloud01.png</key>
		<dict>
			<key>frame</key>
			<string>{{82,156},{78,66}}</string>
			<key>offset</key>
			<string>{-1,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,8},{78,66}}</string>
			<key>sourceSize</key>
			<string>{80,80}</string>
		</dict>
		<key>cloud02.png</key>
		<dict>
			<key>frame</key>
			<string>{{607,140},{70,76}}</string>
			<key>offset</key>
			<string>{-1,2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{4,0},{70,76}}</string>
			<key>sourceSize</key>
			<string>{80,80}</string>
		</dict>
		<key>cloud03.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,156},{78,66}}</string>
			<key>offset</key>
			<string>{0,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1,8},{78,66}}</string>
			<key>sourceSize</key>
			<string>{80,80}</string>
		</dict>
		<key>cloud04.png</key>
		<dict>
			<key>frame</key>
			<string>{{751,136},{76,60}}</string>
			<key>offset</key>
			<string>{1,-2}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{3,12},{76,60}}</string>
			<key>sourceSize</key>
			<string>{80,80}</string>
		</dict>
		<key>cloud05.png</key>
		<dict>
			<key>frame</key>
			<string>{{382,140},{128,68}}</string>
			<key>offset</key>
			<string>{4,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{20,7},{128,68}}</string>
			<key>sourceSize</key>
			<string>{160,80}</string>
		</dict>
		<key>cloud06.png</key>
		<dict>
			<key>frame</key>
			<string>{{120,2},{152,116}}</string>
			<key>offset</key>
			<string>{1,-11}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{5,33},{152,116}}</string>
			<key>sourceSize</key>
			<string>{160,160}</string>
		</dict>
		<key>cloud07.png</key>
		<dict>
			<key>frame</key>
			<string>{{616,2},{124,136}}</string>
			<key>offset</key>
			<string>{-4,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{14,12},{124,136}}</string>
			<key>sourceSize</key>
			<string>{160,160}</string>
		</dict>
		<key>cloud08.png</key>
		<dict>
			<key>frame</key>
			<string>{{679,140},{70,72}}</string>
			<key>offset</key>
			<string>{-1,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{4,4},{70,72}}</string>
			<key>sourceSize</key>
			<string>{80,80}</string>
		</dict>
		<key>cloud09.png</key>
		<dict>
			<key>frame</key>
			<string>{{240,142},{140,70}}</string>
			<key>offset</key>
			<string>{0,4}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{10,1},{140,70}}</string>
			<key>sourceSize</key>
			<string>{160,80}</string>
		</dict>
		<key>cloud10.png</key>
		<dict>
			<key>frame</key>
			<string>{{162,156},{76,66}}</string>
			<key>offset</key>
			<string>{0,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2,8},{76,66}}</string>
			<key>sourceSize</key>
			<string>{80,80}</string>
		</dict>
		<key>cloud11.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{152,116}}</string>
			<key>offset</key>
			<string>{1,-11}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{5,33},{152,116}}</string>
			<key>sourceSize</key>
			<string>{160,160}</string>
		</dict>
		<key>cloud12.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,156},{78,66}}</string>
			<key>offset</key>
			<string>{0,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1,8},{78,66}}</string>
			<key>sourceSize</key>
			<string>{80,80}</string>
		</dict>
		<key>cloud17.png</key>
		<dict>
			<key>frame</key>
			<string>{{238,2},{124,138}}</string>
			<key>offset</key>
			<string>{-4,1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{14,10},{124,138}}</string>
			<key>sourceSize</key>
			<string>{160,160}</string>
		</dict>
		<key>cloud27.png</key>
		<dict>
			<key>frame</key>
			<string>{{490,2},{124,136}}</string>
			<key>offset</key>
			<string>{-4,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{14,12},{124,136}}</string>
			<key>sourceSize</key>
			<string>{160,160}</string>
		</dict>
		<key>cloud37.png</key>
		<dict>
			<key>frame</key>
			<string>{{364,2},{124,136}}</string>
			<key>offset</key>
			<string>{-4,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{14,12},{124,136}}</string>
			<key>sourceSize</key>
			<string>{160,160}</string>
		</dict>
		<key>cloud47.png</key>
		<dict>
			<key>frame</key>
			<string>{{742,2},{124,132}}</string>
			<key>offset</key>
			<string>{-4,-2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{14,16},{124,132}}</string>
			<key>sourceSize</key>
			<string>{160,160}</string>
		</dict>
		<key>hlb0.png</key>
		<dict>
			<key>frame</key>
			<string>{{813,136},{44,17}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{44,17}}</string>
			<key>sourceSize</key>
			<string>{44,17}</string>
		</dict>
		<key>start01.png</key>
		<dict>
			<key>frame</key>
			<string>{{512,140},{93,73}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{93,73}}</string>
			<key>sourceSize</key>
			<string>{93,73}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>Object02-hd.png</string>
		<key>size</key>
		<string>{868,224}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:8052e885b17b240eb71289cb63c8e857$</string>
		<key>textureFileName</key>
		<string>Object02-hd.png</string>
	</dict>
</dict>
</plist>
