<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>boss_big01.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{180,140}}</string>
			<key>offset</key>
			<string>{3,-14}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{13,44},{180,140}}</string>
			<key>sourceSize</key>
			<string>{200,200}</string>
		</dict>
		<key>boss_big02.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,144},{172,144}}</string>
			<key>offset</key>
			<string>{-1,-12}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{13,40},{172,144}}</string>
			<key>sourceSize</key>
			<string>{200,200}</string>
		</dict>
		<key>fat_boss_green01.png</key>
		<dict>
			<key>frame</key>
			<string>{{140,696},{108,100}}</string>
			<key>offset</key>
			<string>{-4,2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{7,13},{108,100}}</string>
			<key>sourceSize</key>
			<string>{130,130}</string>
		</dict>
		<key>fat_boss_green02.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,930},{102,110}}</string>
			<key>offset</key>
			<string>{-4,7}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{10,3},{102,110}}</string>
			<key>sourceSize</key>
			<string>{130,130}</string>
		</dict>
		<key>fat_green01.png</key>
		<dict>
			<key>frame</key>
			<string>{{104,1068},{70,64}}</string>
			<key>offset</key>
			<string>{1,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{16,19},{70,64}}</string>
			<key>sourceSize</key>
			<string>{100,100}</string>
		</dict>
		<key>fat_green02.png</key>
		<dict>
			<key>frame</key>
			<string>{{184,1004},{68,70}}</string>
			<key>offset</key>
			<string>{0,2}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{16,13},{68,70}}</string>
			<key>sourceSize</key>
			<string>{100,100}</string>
		</dict>
		<key>fly_blue01.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,1042},{90,100}}</string>
			<key>offset</key>
			<string>{0,-10}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{30,35},{90,100}}</string>
			<key>sourceSize</key>
			<string>{150,150}</string>
		</dict>
		<key>fly_blue02.png</key>
		<dict>
			<key>frame</key>
			<string>{{158,536},{96,92}}</string>
			<key>offset</key>
			<string>{-2,-14}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{25,43},{96,92}}</string>
			<key>sourceSize</key>
			<string>{150,150}</string>
		</dict>
		<key>fly_boss_blue01.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,426},{154,134}}</string>
			<key>offset</key>
			<string>{-4,15}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{14,13},{154,134}}</string>
			<key>sourceSize</key>
			<string>{190,190}</string>
		</dict>
		<key>fly_boss_blue02.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,290},{166,134}}</string>
			<key>offset</key>
			<string>{-7,1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{5,27},{166,134}}</string>
			<key>sourceSize</key>
			<string>{190,190}</string>
		</dict>
		<key>fly_boss_yellow01.png</key>
		<dict>
			<key>frame</key>
			<string>{{96,798},{106,102}}</string>
			<key>offset</key>
			<string>{-3,5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{9,9},{106,102}}</string>
			<key>sourceSize</key>
			<string>{130,130}</string>
		</dict>
		<key>fly_boss_yellow02.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,810},{118,92}}</string>
			<key>offset</key>
			<string>{0,-3}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{6,22},{118,92}}</string>
			<key>sourceSize</key>
			<string>{130,130}</string>
		</dict>
		<key>fly_yellow01.png</key>
		<dict>
			<key>frame</key>
			<string>{{170,324},{70,76}}</string>
			<key>offset</key>
			<string>{1,-6}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{26,28},{70,76}}</string>
			<key>sourceSize</key>
			<string>{120,120}</string>
		</dict>
		<key>fly_yellow02.png</key>
		<dict>
			<key>frame</key>
			<string>{{106,1004},{76,62}}</string>
			<key>offset</key>
			<string>{1,-13}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{23,42},{76,62}}</string>
			<key>sourceSize</key>
			<string>{120,120}</string>
		</dict>
		<key>land_boss_nima01.png</key>
		<dict>
			<key>frame</key>
			<string>{{140,630},{64,114}}</string>
			<key>offset</key>
			<string>{0,-2}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{43,20},{64,114}}</string>
			<key>sourceSize</key>
			<string>{150,150}</string>
		</dict>
		<key>land_boss_nima02.png</key>
		<dict>
			<key>frame</key>
			<string>{{80,668},{58,126}}</string>
			<key>offset</key>
			<string>{1,4}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{47,8},{58,126}}</string>
			<key>sourceSize</key>
			<string>{150,150}</string>
		</dict>
		<key>land_boss_pink01.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,562},{130,104}}</string>
			<key>offset</key>
			<string>{0,4}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,9},{130,104}}</string>
			<key>sourceSize</key>
			<string>{130,130}</string>
		</dict>
		<key>land_boss_pink02.png</key>
		<dict>
			<key>frame</key>
			<string>{{158,426},{96,108}}</string>
			<key>offset</key>
			<string>{-2,4}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{15,7},{96,108}}</string>
			<key>sourceSize</key>
			<string>{130,130}</string>
		</dict>
		<key>land_boss_star01.png</key>
		<dict>
			<key>frame</key>
			<string>{{176,144},{140,78}}</string>
			<key>offset</key>
			<string>{0,-15}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,46},{140,78}}</string>
			<key>sourceSize</key>
			<string>{140,140}</string>
		</dict>
		<key>land_boss_star02.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,668},{140,76}}</string>
			<key>offset</key>
			<string>{0,-16}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,48},{140,76}}</string>
			<key>sourceSize</key>
			<string>{140,140}</string>
		</dict>
		<key>land_nima01.png</key>
		<dict>
			<key>frame</key>
			<string>{{204,798},{40,72}}</string>
			<key>offset</key>
			<string>{0,2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{30,12},{40,72}}</string>
			<key>sourceSize</key>
			<string>{100,100}</string>
		</dict>
		<key>land_nima02.png</key>
		<dict>
			<key>frame</key>
			<string>{{176,286},{36,78}}</string>
			<key>offset</key>
			<string>{-1,5}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{31,6},{36,78}}</string>
			<key>sourceSize</key>
			<string>{100,100}</string>
		</dict>
		<key>land_pink01.png</key>
		<dict>
			<key>frame</key>
			<string>{{184,2},{80,70}}</string>
			<key>offset</key>
			<string>{1,1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{11,14},{80,70}}</string>
			<key>sourceSize</key>
			<string>{100,100}</string>
		</dict>
		<key>land_pink02.png</key>
		<dict>
			<key>frame</key>
			<string>{{176,1074},{60,70}}</string>
			<key>offset</key>
			<string>{0,1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{20,14},{60,70}}</string>
			<key>sourceSize</key>
			<string>{100,100}</string>
		</dict>
		<key>land_star01.png</key>
		<dict>
			<key>frame</key>
			<string>{{164,902},{100,54}}</string>
			<key>offset</key>
			<string>{0,-8}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,31},{100,54}}</string>
			<key>sourceSize</key>
			<string>{100,100}</string>
		</dict>
		<key>land_star02.png</key>
		<dict>
			<key>frame</key>
			<string>{{106,902},{100,56}}</string>
			<key>offset</key>
			<string>{0,-7}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,29},{100,56}}</string>
			<key>sourceSize</key>
			<string>{100,100}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>Monsters01-hd.png</string>
		<key>size</key>
		<string>{256,1143}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:321b8367f320655e7ff8aff1c29470ea$</string>
		<key>textureFileName</key>
		<string>Monsters01-hd.png</string>
	</dict>
</dict>
</plist>
