<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>howtoplay_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1434},{448,524}}</string>
                <key>offset</key>
                <string>{1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,0},{448,524}}</string>
                <key>sourceSize</key>
                <string>{460,530}</string>
            </dict>
            <key>howtoplay_0_CN.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,40},{270,38}}</string>
                <key>offset</key>
                <string>{0,117}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{95,129},{270,38}}</string>
                <key>sourceSize</key>
                <string>{460,530}</string>
            </dict>
            <key>howtoplay_0_EN.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,2},{256,36}}</string>
                <key>offset</key>
                <string>{-8,118}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{94,129},{256,36}}</string>
                <key>sourceSize</key>
                <string>{460,530}</string>
            </dict>
            <key>howtoplay_0_TW.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,80},{272,38}}</string>
                <key>offset</key>
                <string>{0,117}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{94,129},{272,38}}</string>
                <key>sourceSize</key>
                <string>{460,530}</string>
            </dict>
            <key>howtoplay_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{356,392},{128,128}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,6},{128,128}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>howtoplay_10_CN.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,216},{222,52}}</string>
                <key>offset</key>
                <string>{-2,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{57,15},{222,52}}</string>
                <key>sourceSize</key>
                <string>{340,90}</string>
            </dict>
            <key>howtoplay_10_EN.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,120},{252,42}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,25},{252,42}}</string>
                <key>sourceSize</key>
                <string>{340,90}</string>
            </dict>
            <key>howtoplay_10_TW.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,172},{222,52}}</string>
                <key>offset</key>
                <string>{-2,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{57,15},{222,52}}</string>
                <key>sourceSize</key>
                <string>{340,90}</string>
            </dict>
            <key>howtoplay_11_CN.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,624},{366,52}}</string>
                <key>offset</key>
                <string>{3,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,8},{366,52}}</string>
                <key>sourceSize</key>
                <string>{400,90}</string>
            </dict>
            <key>howtoplay_11_EN.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,452},{352,50}}</string>
                <key>offset</key>
                <string>{-5,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,10},{352,50}}</string>
                <key>sourceSize</key>
                <string>{400,90}</string>
            </dict>
            <key>howtoplay_11_TW.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,570},{366,52}}</string>
                <key>offset</key>
                <string>{3,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,8},{366,52}}</string>
                <key>sourceSize</key>
                <string>{400,90}</string>
            </dict>
            <key>howtoplay_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{356,296},{138,94}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,35},{138,94}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>howtoplay_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,724},{222,206}}</string>
                <key>offset</key>
                <string>{-5,35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{84,12},{222,206}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>howtoplay_3_CN.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,678},{234,68}}</string>
                <key>offset</key>
                <string>{-7,-107}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{76,223},{234,68}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>howtoplay_3_EN.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,504},{316,64}}</string>
                <key>offset</key>
                <string>{-2,-106}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,224},{316,64}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>howtoplay_3_TW.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,226},{234,68}}</string>
                <key>offset</key>
                <string>{-7,-107}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{76,223},{234,68}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>howtoplay_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1222},{210,218}}</string>
                <key>offset</key>
                <string>{5,34}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{100,7},{210,218}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>howtoplay_4_CN.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,818},{276,68}}</string>
                <key>offset</key>
                <string>{2,-108}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{64,224},{276,68}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>howtoplay_4_EN.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,984},{374,70}}</string>
                <key>offset</key>
                <string>{-2,-108}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,223},{374,70}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>howtoplay_4_TW.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,748},{276,68}}</string>
                <key>offset</key>
                <string>{2,-108}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{64,224},{276,68}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>howtoplay_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{384,2},{84,66}}</string>
                <key>offset</key>
                <string>{1,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,0},{84,66}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>howtoplay_5_CN.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,2},{38,20}}</string>
                <key>offset</key>
                <string>{-1,34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,6},{38,20}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>howtoplay_5_EN.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{42,16}}</string>
                <key>offset</key>
                <string>{-1,34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,8},{42,16}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>howtoplay_5_TW.png</key>
            <dict>
                <key>frame</key>
                <string>{{46,2},{38,20}}</string>
                <key>offset</key>
                <string>{-1,34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,6},{38,20}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>howtoplay_6_CN.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,522},{200,98}}</string>
                <key>offset</key>
                <string>{6,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{46,16},{200,98}}</string>
                <key>sourceSize</key>
                <string>{280,130}</string>
            </dict>
            <key>howtoplay_6_EN.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,888},{276,94}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,17},{276,94}}</string>
                <key>sourceSize</key>
                <string>{280,130}</string>
            </dict>
            <key>howtoplay_6_TW.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,522},{200,98}}</string>
                <key>offset</key>
                <string>{6,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{46,16},{200,98}}</string>
                <key>sourceSize</key>
                <string>{280,130}</string>
            </dict>
            <key>howtoplay_7_CN.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,164},{222,50}}</string>
                <key>offset</key>
                <string>{4,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{68,16},{222,50}}</string>
                <key>sourceSize</key>
                <string>{350,90}</string>
            </dict>
            <key>howtoplay_7_EN.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,122},{248,48}}</string>
                <key>offset</key>
                <string>{1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,18},{248,48}}</string>
                <key>sourceSize</key>
                <string>{350,90}</string>
            </dict>
            <key>howtoplay_7_TW.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,70},{222,50}}</string>
                <key>offset</key>
                <string>{4,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{68,16},{222,50}}</string>
                <key>sourceSize</key>
                <string>{350,90}</string>
            </dict>
            <key>howtoplay_8_CN.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,400},{352,50}}</string>
                <key>offset</key>
                <string>{-3,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,11},{352,50}}</string>
                <key>sourceSize</key>
                <string>{370,90}</string>
            </dict>
            <key>howtoplay_8_EN.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,348},{352,50}}</string>
                <key>offset</key>
                <string>{-5,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,10},{352,50}}</string>
                <key>sourceSize</key>
                <string>{370,90}</string>
            </dict>
            <key>howtoplay_8_TW.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,296},{352,50}}</string>
                <key>offset</key>
                <string>{-3,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,11},{352,50}}</string>
                <key>sourceSize</key>
                <string>{370,90}</string>
            </dict>
            <key>howtoplay_9_CN.png</key>
            <dict>
                <key>frame</key>
                <string>{{390,932},{324,90}}</string>
                <key>offset</key>
                <string>{7,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{45,7},{324,90}}</string>
                <key>sourceSize</key>
                <string>{400,100}</string>
            </dict>
            <key>howtoplay_9_EN.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1056},{386,72}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,14},{386,72}}</string>
                <key>sourceSize</key>
                <string>{400,100}</string>
            </dict>
            <key>howtoplay_9_TW.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1130},{324,90}}</string>
                <key>offset</key>
                <string>{7,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{45,7},{324,90}}</string>
                <key>sourceSize</key>
                <string>{400,100}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Items03-hd.png</string>
            <key>size</key>
            <string>{506,1960}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:bafdbae255dffa8249a4bba5ec7d3ce0$</string>
            <key>textureFileName</key>
            <string>Items03-hd.png</string>
        </dict>
    </dict>
</plist>
