<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>NT6_CN.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,848},{272,246}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,5},{272,246}}</string>
                <key>sourceSize</key>
                <string>{330,260}</string>
            </dict>
            <key>NT6_EN.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1370},{194,248}}</string>
                <key>offset</key>
                <string>{3,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{71,5},{194,248}}</string>
                <key>sourceSize</key>
                <string>{330,260}</string>
            </dict>
            <key>NT6_TW.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,570},{276,246}}</string>
                <key>offset</key>
                <string>{4,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{31,4},{276,246}}</string>
                <key>sourceSize</key>
                <string>{330,260}</string>
            </dict>
            <key>NT7_CN.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,1088},{234,246}}</string>
                <key>offset</key>
                <string>{6,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,4},{234,246}}</string>
                <key>sourceSize</key>
                <string>{330,260}</string>
            </dict>
            <key>NT7_EN.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,252},{244,248}}</string>
                <key>offset</key>
                <string>{4,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,4},{244,248}}</string>
                <key>sourceSize</key>
                <string>{330,260}</string>
            </dict>
            <key>NT7_TW.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,1336},{234,244}}</string>
                <key>offset</key>
                <string>{7,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{55,5},{234,244}}</string>
                <key>sourceSize</key>
                <string>{330,260}</string>
            </dict>
            <key>NT8_CN.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1122},{264,246}}</string>
                <key>offset</key>
                <string>{2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,5},{264,246}}</string>
                <key>sourceSize</key>
                <string>{330,260}</string>
            </dict>
            <key>NT8_EN.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,2},{246,248}}</string>
                <key>offset</key>
                <string>{4,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,5},{246,248}}</string>
                <key>sourceSize</key>
                <string>{330,260}</string>
            </dict>
            <key>NT8_TW.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,570},{262,246}}</string>
                <key>offset</key>
                <string>{2,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{36,4},{262,246}}</string>
                <key>sourceSize</key>
                <string>{330,260}</string>
            </dict>
            <key>NT9_CN.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,286},{282,248}}</string>
                <key>offset</key>
                <string>{2,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,4},{282,248}}</string>
                <key>sourceSize</key>
                <string>{330,260}</string>
            </dict>
            <key>NT9_EN.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,834},{252,248}}</string>
                <key>offset</key>
                <string>{3,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{42,5},{252,248}}</string>
                <key>sourceSize</key>
                <string>{330,260}</string>
            </dict>
            <key>NT9_TW.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{282,248}}</string>
                <key>offset</key>
                <string>{2,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,4},{282,248}}</string>
                <key>sourceSize</key>
                <string>{330,260}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Items06-hd.png</string>
            <key>size</key>
            <string>{504,1582}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:28b64528649397e6a1dddf3c6514a7c8$</string>
            <key>textureFileName</key>
            <string>Items06-hd.png</string>
        </dict>
    </dict>
</plist>
