<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>NT-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1246,338},{196,72}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,15},{196,72}}</string>
                <key>sourceSize</key>
                <string>{240,100}</string>
            </dict>
            <key>NT-1_CN.png</key>
            <dict>
                <key>frame</key>
                <string>{{574,366},{54,28}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{93,32},{54,28}}</string>
                <key>sourceSize</key>
                <string>{240,100}</string>
            </dict>
            <key>NT-1_EN.png</key>
            <dict>
                <key>frame</key>
                <string>{{604,366},{38,26}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{101,32},{38,26}}</string>
                <key>sourceSize</key>
                <string>{240,100}</string>
            </dict>
            <key>NT-1_TW.png</key>
            <dict>
                <key>frame</key>
                <string>{{544,366},{54,28}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{93,32},{54,28}}</string>
                <key>sourceSize</key>
                <string>{240,100}</string>
            </dict>
            <key>NT-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1048,338},{196,72}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,15},{196,72}}</string>
                <key>sourceSize</key>
                <string>{240,100}</string>
            </dict>
            <key>NT-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{430,540}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{430,540}}</string>
                <key>sourceSize</key>
                <string>{430,540}</string>
            </dict>
            <key>NT-4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1048,2},{334,468}}</string>
                <key>offset</key>
                <string>{-4,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{44,32},{334,468}}</string>
                <key>sourceSize</key>
                <string>{430,540}</string>
            </dict>
            <key>NT-5.png</key>
            <dict>
                <key>frame</key>
                <string>{{544,2},{362,502}}</string>
                <key>offset</key>
                <string>{-1,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{33,15},{362,502}}</string>
                <key>sourceSize</key>
                <string>{430,540}</string>
            </dict>
            <key>NT-5_CN.png</key>
            <dict>
                <key>frame</key>
                <string>{{1518,194},{190,236}}</string>
                <key>offset</key>
                <string>{-1,68}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{119,84},{190,236}}</string>
                <key>sourceSize</key>
                <string>{430,540}</string>
            </dict>
            <key>NT-5_EN.png</key>
            <dict>
                <key>frame</key>
                <string>{{1710,194},{186,234}}</string>
                <key>offset</key>
                <string>{-1,69}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{121,84},{186,234}}</string>
                <key>sourceSize</key>
                <string>{430,540}</string>
            </dict>
            <key>NT-5_TW.png</key>
            <dict>
                <key>frame</key>
                <string>{{1518,2},{190,236}}</string>
                <key>offset</key>
                <string>{-1,69}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{119,83},{190,236}}</string>
                <key>sourceSize</key>
                <string>{430,540}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Items04-hd.png</string>
            <key>size</key>
            <string>{1898,434}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:44a47f6c3f0f10d5a150d886b4271ff0$</string>
            <key>textureFileName</key>
            <string>Items04-hd.png</string>
        </dict>
    </dict>
</plist>
