<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>range_100.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,769},{282,282}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{282,282}}</string>
                <key>sourceSize</key>
                <string>{282,282}</string>
            </dict>
            <key>range_120.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,428},{339,339}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{339,339}}</string>
                <key>sourceSize</key>
                <string>{339,339}</string>
            </dict>
            <key>range_150.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,2},{424,424}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{424,424}}</string>
                <key>sourceSize</key>
                <string>{424,424}</string>
            </dict>
            <key>range_160.png</key>
            <dict>
                <key>frame</key>
                <string>{{768,769},{226,226}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{226,226}}</string>
                <key>sourceSize</key>
                <string>{226,226}</string>
            </dict>
            <key>range_170.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,644},{480,480}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{480,480}}</string>
                <key>sourceSize</key>
                <string>{480,480}</string>
            </dict>
            <key>range_200.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,769},{282,282}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{282,282}}</string>
                <key>sourceSize</key>
                <string>{282,282}</string>
            </dict>
            <key>range_226.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{640,640}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,640}}</string>
                <key>sourceSize</key>
                <string>{640,640}</string>
            </dict>
            <key>range_240.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,428},{339,339}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{339,339}}</string>
                <key>sourceSize</key>
                <string>{339,339}</string>
            </dict>
            <key>range_300.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,2},{424,424}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{424,424}}</string>
                <key>sourceSize</key>
                <string>{424,424}</string>
            </dict>
            <key>range_340.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,644},{480,480}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{480,480}}</string>
                <key>sourceSize</key>
                <string>{480,480}</string>
            </dict>
            <key>range_452.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{640,640}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,640}}</string>
                <key>sourceSize</key>
                <string>{640,640}</string>
            </dict>
            <key>range_80.png</key>
            <dict>
                <key>frame</key>
                <string>{{768,769},{226,226}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{226,226}}</string>
                <key>sourceSize</key>
                <string>{226,226}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Items00-hd.png</string>
            <key>size</key>
            <string>{1126,1126}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:85cf471f0a5870a22475225714d93b2e$</string>
            <key>textureFileName</key>
            <string>Items00-hd.png</string>
        </dict>
    </dict>
</plist>
