<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>NT3_CN.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,500},{252,246}}</string>
                <key>offset</key>
                <string>{5,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,5},{252,246}}</string>
                <key>sourceSize</key>
                <string>{330,260}</string>
            </dict>
            <key>NT3_EN.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,2},{250,248}}</string>
                <key>offset</key>
                <string>{3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,5},{250,248}}</string>
                <key>sourceSize</key>
                <string>{330,260}</string>
            </dict>
            <key>NT3_TW.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,500},{252,246}}</string>
                <key>offset</key>
                <string>{4,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,4},{252,246}}</string>
                <key>sourceSize</key>
                <string>{330,260}</string>
            </dict>
            <key>NT4_CN.png</key>
            <dict>
                <key>frame</key>
                <string>{{490,252},{198,242}}</string>
                <key>offset</key>
                <string>{2,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{68,4},{198,242}}</string>
                <key>sourceSize</key>
                <string>{330,260}</string>
            </dict>
            <key>NT4_EN.png</key>
            <dict>
                <key>frame</key>
                <string>{{510,496},{192,248}}</string>
                <key>offset</key>
                <string>{4,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{73,5},{192,248}}</string>
                <key>sourceSize</key>
                <string>{330,260}</string>
            </dict>
            <key>NT4_TW.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,252},{208,246}}</string>
                <key>offset</key>
                <string>{5,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{66,5},{208,246}}</string>
                <key>sourceSize</key>
                <string>{330,260}</string>
            </dict>
            <key>NT5_CN.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{276,248}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,4},{276,248}}</string>
                <key>sourceSize</key>
                <string>{330,260}</string>
            </dict>
            <key>NT5_EN.png</key>
            <dict>
                <key>frame</key>
                <string>{{532,2},{210,248}}</string>
                <key>offset</key>
                <string>{3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{63,5},{210,248}}</string>
                <key>sourceSize</key>
                <string>{330,260}</string>
            </dict>
            <key>NT5_TW.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,252},{276,246}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,5},{276,246}}</string>
                <key>sourceSize</key>
                <string>{330,260}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Items05-hd.png</string>
            <key>size</key>
            <string>{748,748}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0390e207aaa714e96891cb64ccb03587$</string>
            <key>textureFileName</key>
            <string>Items05-hd.png</string>
        </dict>
    </dict>
</plist>
