<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>NT14_CN.png</key>
            <dict>
                <key>frame</key>
                <string>{{858,252},{172,246}}</string>
                <key>offset</key>
                <string>{2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{81,4},{172,246}}</string>
                <key>sourceSize</key>
                <string>{330,260}</string>
            </dict>
            <key>NT14_EN.png</key>
            <dict>
                <key>frame</key>
                <string>{{1032,250},{180,240}}</string>
                <key>offset</key>
                <string>{5,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,5},{180,240}}</string>
                <key>sourceSize</key>
                <string>{330,260}</string>
            </dict>
            <key>NT14_TW.png</key>
            <dict>
                <key>frame</key>
                <string>{{1362,2},{172,246}}</string>
                <key>offset</key>
                <string>{2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{81,4},{172,246}}</string>
                <key>sourceSize</key>
                <string>{330,260}</string>
            </dict>
            <key>NT15_CN.png</key>
            <dict>
                <key>frame</key>
                <string>{{1156,2},{204,246}}</string>
                <key>offset</key>
                <string>{5,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{68,4},{204,246}}</string>
                <key>sourceSize</key>
                <string>{330,260}</string>
            </dict>
            <key>NT15_EN.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,250},{228,242}}</string>
                <key>offset</key>
                <string>{8,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{59,5},{228,242}}</string>
                <key>sourceSize</key>
                <string>{330,260}</string>
            </dict>
            <key>NT15_TW.png</key>
            <dict>
                <key>frame</key>
                <string>{{950,2},{204,246}}</string>
                <key>offset</key>
                <string>{5,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{68,4},{204,246}}</string>
                <key>sourceSize</key>
                <string>{330,260}</string>
            </dict>
            <key>NT16_CN.png</key>
            <dict>
                <key>frame</key>
                <string>{{726,2},{222,248}}</string>
                <key>offset</key>
                <string>{6,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{60,3},{222,248}}</string>
                <key>sourceSize</key>
                <string>{330,260}</string>
            </dict>
            <key>NT16_EN.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,250},{248,244}}</string>
                <key>offset</key>
                <string>{6,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,3},{248,244}}</string>
                <key>sourceSize</key>
                <string>{330,260}</string>
            </dict>
            <key>NT16_TW.png</key>
            <dict>
                <key>frame</key>
                <string>{{502,2},{222,248}}</string>
                <key>offset</key>
                <string>{6,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{60,2},{222,248}}</string>
                <key>sourceSize</key>
                <string>{330,260}</string>
            </dict>
            <key>NT17_CN.png</key>
            <dict>
                <key>frame</key>
                <string>{{670,252},{186,246}}</string>
                <key>offset</key>
                <string>{10,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{82,4},{186,246}}</string>
                <key>sourceSize</key>
                <string>{330,260}</string>
            </dict>
            <key>NT17_EN.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,2},{244,246}}</string>
                <key>offset</key>
                <string>{7,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,5},{244,246}}</string>
                <key>sourceSize</key>
                <string>{330,260}</string>
            </dict>
            <key>NT17_TW.png</key>
            <dict>
                <key>frame</key>
                <string>{{482,252},{186,246}}</string>
                <key>offset</key>
                <string>{10,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{82,4},{186,246}}</string>
                <key>sourceSize</key>
                <string>{330,260}</string>
            </dict>
            <key>NT18_CN.png</key>
            <dict>
                <key>frame</key>
                <string>{{1366,250},{150,246}}</string>
                <key>offset</key>
                <string>{2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{92,4},{150,246}}</string>
                <key>sourceSize</key>
                <string>{330,260}</string>
            </dict>
            <key>NT18_EN.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{252,246}}</string>
                <key>offset</key>
                <string>{5,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,4},{252,246}}</string>
                <key>sourceSize</key>
                <string>{330,260}</string>
            </dict>
            <key>NT18_TW.png</key>
            <dict>
                <key>frame</key>
                <string>{{1214,250},{150,246}}</string>
                <key>offset</key>
                <string>{2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{92,4},{150,246}}</string>
                <key>sourceSize</key>
                <string>{330,260}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Items32-hd.png</string>
            <key>size</key>
            <string>{1536,501}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7d51e5ebc0df906d82969bfb18ee74cc$</string>
            <key>textureFileName</key>
            <string>Items32-hd.png</string>
        </dict>
    </dict>
</plist>
