<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>BM01.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,698},{58,78}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,2},{58,78}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>BM02.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,866},{62,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,0},{62,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>BM03.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,778},{54,74}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,6},{54,74}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>BM11.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,866},{70,64}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{115,114},{70,64}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>BM12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,866},{110,112}}</string>
                <key>offset</key>
                <string>{-5,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{90,92},{110,112}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>BM13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,698},{188,166}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{55,68},{188,166}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>BM14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,504},{224,192}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,50},{224,192}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>BM15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,276},{228,226}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,38},{228,226}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>BM16.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{272,242}}</string>
                <key>offset</key>
                <string>{10,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,29},{272,242}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Items08-hd.png</string>
            <key>size</key>
            <string>{252,978}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7370b4accb8af2457afe5ccffa1a2e6e$</string>
            <key>textureFileName</key>
            <string>Items08-hd.png</string>
        </dict>
    </dict>
</plist>
