<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>CutWhale.png</key>
            <dict>
                <key>frame</key>
                <string>{{398,606},{22,234}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,234}}</string>
                <key>sourceSize</key>
                <string>{22,234}</string>
            </dict>
            <key>Whale-11.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,858},{152,70}}</string>
                <key>offset</key>
                <string>{-171,134}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{66,15},{152,70}}</string>
                <key>sourceSize</key>
                <string>{626,368}</string>
            </dict>
            <key>Whale-12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,858},{152,70}}</string>
                <key>offset</key>
                <string>{-173,136}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{64,13},{152,70}}</string>
                <key>sourceSize</key>
                <string>{626,368}</string>
            </dict>
            <key>Whale-21.png</key>
            <dict>
                <key>frame</key>
                <string>{{734,2},{236,180}}</string>
                <key>offset</key>
                <string>{-178,94}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,0},{236,180}}</string>
                <key>sourceSize</key>
                <string>{626,368}</string>
            </dict>
            <key>Whale-22.png</key>
            <dict>
                <key>frame</key>
                <string>{{438,204},{258,210}}</string>
                <key>offset</key>
                <string>{-179,79}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{258,210}}</string>
                <key>sourceSize</key>
                <string>{626,368}</string>
            </dict>
            <key>Whale-23.png</key>
            <dict>
                <key>frame</key>
                <string>{{398,416},{258,188}}</string>
                <key>offset</key>
                <string>{-178,78}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,12},{258,188}}</string>
                <key>sourceSize</key>
                <string>{626,368}</string>
            </dict>
            <key>Whale01.png</key>
            <dict>
                <key>frame</key>
                <string>{{880,360},{28,48}}</string>
                <key>offset</key>
                <string>{-74,157}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{225,46},{28,48}}</string>
                <key>sourceSize</key>
                <string>{626,454}</string>
            </dict>
            <key>Whale02.png</key>
            <dict>
                <key>frame</key>
                <string>{{872,778},{92,56}}</string>
                <key>offset</key>
                <string>{-76,168}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{191,31},{92,56}}</string>
                <key>sourceSize</key>
                <string>{626,454}</string>
            </dict>
            <key>Whale03.png</key>
            <dict>
                <key>frame</key>
                <string>{{722,826},{104,66}}</string>
                <key>offset</key>
                <string>{-72,179}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{189,15},{104,66}}</string>
                <key>sourceSize</key>
                <string>{626,454}</string>
            </dict>
            <key>Whale04.png</key>
            <dict>
                <key>frame</key>
                <string>{{706,588},{138,34}}</string>
                <key>offset</key>
                <string>{-71,164}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{173,46},{138,34}}</string>
                <key>sourceSize</key>
                <string>{626,454}</string>
            </dict>
            <key>Whale11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{434,352}}</string>
                <key>offset</key>
                <string>{-87,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,8},{434,352}}</string>
                <key>sourceSize</key>
                <string>{626,368}</string>
            </dict>
            <key>Whale12.png</key>
            <dict>
                <key>frame</key>
                <string>{{438,2},{294,200}}</string>
                <key>offset</key>
                <string>{155,-68}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{321,152},{294,200}}</string>
                <key>sourceSize</key>
                <string>{626,368}</string>
            </dict>
            <key>Whale13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,654},{290,202}}</string>
                <key>offset</key>
                <string>{154,-67}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{322,150},{290,202}}</string>
                <key>sourceSize</key>
                <string>{626,368}</string>
            </dict>
            <key>Whale21.png</key>
            <dict>
                <key>frame</key>
                <string>{{914,240},{92,14}}</string>
                <key>offset</key>
                <string>{-179,132}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{88,45},{92,14}}</string>
                <key>sourceSize</key>
                <string>{626,368}</string>
            </dict>
            <key>Whale22.png</key>
            <dict>
                <key>frame</key>
                <string>{{914,240},{92,14}}</string>
                <key>offset</key>
                <string>{-183,132}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{84,45},{92,14}}</string>
                <key>sourceSize</key>
                <string>{626,368}</string>
            </dict>
            <key>Whale31.png</key>
            <dict>
                <key>frame</key>
                <string>{{726,624},{118,52}}</string>
                <key>offset</key>
                <string>{-166,128}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{88,30},{118,52}}</string>
                <key>sourceSize</key>
                <string>{626,368}</string>
            </dict>
            <key>Whale41.png</key>
            <dict>
                <key>frame</key>
                <string>{{390,868},{58,54}}</string>
                <key>offset</key>
                <string>{-70,143}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{214,14},{58,54}}</string>
                <key>sourceSize</key>
                <string>{626,368}</string>
            </dict>
            <key>Whale42.png</key>
            <dict>
                <key>frame</key>
                <string>{{398,356},{42,38}}</string>
                <key>offset</key>
                <string>{-70,141}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{222,24},{42,38}}</string>
                <key>sourceSize</key>
                <string>{626,368}</string>
            </dict>
            <key>Whale51.png</key>
            <dict>
                <key>frame</key>
                <string>{{606,818},{66,114}}</string>
                <key>offset</key>
                <string>{11,72}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{291,55},{66,114}}</string>
                <key>sourceSize</key>
                <string>{626,368}</string>
            </dict>
            <key>Whale61.png</key>
            <dict>
                <key>frame</key>
                <string>{{846,412},{132,82}}</string>
                <key>offset</key>
                <string>{176,-112}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{423,255},{132,82}}</string>
                <key>sourceSize</key>
                <string>{626,368}</string>
            </dict>
            <key>Whale62.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,678},{126,88}}</string>
                <key>offset</key>
                <string>{172,-109}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{422,249},{126,88}}</string>
                <key>sourceSize</key>
                <string>{626,368}</string>
            </dict>
            <key>Whale71.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,356},{394,296}}</string>
                <key>offset</key>
                <string>{-16,-34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{100,70},{394,296}}</string>
                <key>sourceSize</key>
                <string>{626,368}</string>
            </dict>
            <key>Whale81.png</key>
            <dict>
                <key>frame</key>
                <string>{{846,546},{80,114}}</string>
                <key>offset</key>
                <string>{-142,100}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{131,27},{80,114}}</string>
                <key>sourceSize</key>
                <string>{626,368}</string>
            </dict>
            <key>warning_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,838},{86,78}}</string>
                <key>offset</key>
                <string>{6,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,15},{86,78}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>warning_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{522,678},{86,78}}</string>
                <key>offset</key>
                <string>{6,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,15},{86,78}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>whalespeech_1_CN.png</key>
            <dict>
                <key>frame</key>
                <string>{{706,412},{174,46}}</string>
                <key>offset</key>
                <string>{2,16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,21},{174,46}}</string>
                <key>sourceSize</key>
                <string>{220,120}</string>
            </dict>
            <key>whalespeech_1_EN.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,768},{162,50}}</string>
                <key>offset</key>
                <string>{0,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,20},{162,50}}</string>
                <key>sourceSize</key>
                <string>{220,120}</string>
            </dict>
            <key>whalespeech_1_TW.png</key>
            <dict>
                <key>frame</key>
                <string>{{658,416},{174,46}}</string>
                <key>offset</key>
                <string>{0,16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,21},{174,46}}</string>
                <key>sourceSize</key>
                <string>{220,120}</string>
            </dict>
            <key>whalespeech_2_CN.png</key>
            <dict>
                <key>frame</key>
                <string>{{800,412},{174,44}}</string>
                <key>offset</key>
                <string>{2,15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,23},{174,44}}</string>
                <key>sourceSize</key>
                <string>{220,120}</string>
            </dict>
            <key>whalespeech_2_EN.png</key>
            <dict>
                <key>frame</key>
                <string>{{698,360},{180,50}}</string>
                <key>offset</key>
                <string>{1,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,20},{180,50}}</string>
                <key>sourceSize</key>
                <string>{220,120}</string>
            </dict>
            <key>whalespeech_2_TW.png</key>
            <dict>
                <key>frame</key>
                <string>{{754,412},{174,44}}</string>
                <key>offset</key>
                <string>{0,15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,23},{174,44}}</string>
                <key>sourceSize</key>
                <string>{220,120}</string>
            </dict>
            <key>whalespeech_3_CN.png</key>
            <dict>
                <key>frame</key>
                <string>{{564,630},{160,46}}</string>
                <key>offset</key>
                <string>{0,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,21},{160,46}}</string>
                <key>sourceSize</key>
                <string>{220,120}</string>
            </dict>
            <key>whalespeech_3_EN.png</key>
            <dict>
                <key>frame</key>
                <string>{{758,778},{112,46}}</string>
                <key>offset</key>
                <string>{4,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{58,20},{112,46}}</string>
                <key>sourceSize</key>
                <string>{220,120}</string>
            </dict>
            <key>whalespeech_3_TW.png</key>
            <dict>
                <key>frame</key>
                <string>{{766,678},{162,46}}</string>
                <key>offset</key>
                <string>{0,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,21},{162,46}}</string>
                <key>sourceSize</key>
                <string>{220,120}</string>
            </dict>
            <key>whalespeech_4_CN.png</key>
            <dict>
                <key>frame</key>
                <string>{{602,678},{162,46}}</string>
                <key>offset</key>
                <string>{2,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,21},{162,46}}</string>
                <key>sourceSize</key>
                <string>{220,120}</string>
            </dict>
            <key>whalespeech_4_EN.png</key>
            <dict>
                <key>frame</key>
                <string>{{398,630},{164,46}}</string>
                <key>offset</key>
                <string>{2,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,20},{164,46}}</string>
                <key>sourceSize</key>
                <string>{220,120}</string>
            </dict>
            <key>whalespeech_4_TW.png</key>
            <dict>
                <key>frame</key>
                <string>{{558,766},{162,46}}</string>
                <key>offset</key>
                <string>{2,16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{31,21},{162,46}}</string>
                <key>sourceSize</key>
                <string>{220,120}</string>
            </dict>
            <key>whalespeech_5_CN.png</key>
            <dict>
                <key>frame</key>
                <string>{{606,772},{150,44}}</string>
                <key>offset</key>
                <string>{2,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,23},{150,44}}</string>
                <key>sourceSize</key>
                <string>{220,120}</string>
            </dict>
            <key>whalespeech_5_EN.png</key>
            <dict>
                <key>frame</key>
                <string>{{294,654},{182,50}}</string>
                <key>offset</key>
                <string>{0,15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,20},{182,50}}</string>
                <key>sourceSize</key>
                <string>{220,120}</string>
            </dict>
            <key>whalespeech_5_TW.png</key>
            <dict>
                <key>frame</key>
                <string>{{606,726},{150,44}}</string>
                <key>offset</key>
                <string>{0,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,23},{150,44}}</string>
                <key>sourceSize</key>
                <string>{220,120}</string>
            </dict>
            <key>whalespeech_6_CN.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,654},{174,46}}</string>
                <key>offset</key>
                <string>{1,16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,21},{174,46}}</string>
                <key>sourceSize</key>
                <string>{220,120}</string>
            </dict>
            <key>whalespeech_6_EN.png</key>
            <dict>
                <key>frame</key>
                <string>{{758,726},{134,50}}</string>
                <key>offset</key>
                <string>{4,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,20},{134,50}}</string>
                <key>sourceSize</key>
                <string>{220,120}</string>
            </dict>
            <key>whalespeech_6_TW.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,820},{162,46}}</string>
                <key>offset</key>
                <string>{1,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,21},{162,46}}</string>
                <key>sourceSize</key>
                <string>{220,120}</string>
            </dict>
            <key>whalespeech_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{698,240},{214,118}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{214,118}}</string>
                <key>sourceSize</key>
                <string>{220,120}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Items11-hd.png</string>
            <key>size</key>
            <string>{930,930}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:441fa7b1051802c6202197f6a8d09d99$</string>
            <key>textureFileName</key>
            <string>Items11-hd.png</string>
        </dict>
    </dict>
</plist>
