<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>MenuBG.png</key>
            <dict>
                <key>frame</key>
                <string>{{826,166},{926,78}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,0},{926,78}}</string>
                <key>sourceSize</key>
                <string>{960,80}</string>
            </dict>
            <key>air31.png</key>
            <dict>
                <key>frame</key>
                <string>{{1590,2},{71,146}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,146}}</string>
                <key>sourceSize</key>
                <string>{71,146}</string>
            </dict>
            <key>air32.png</key>
            <dict>
                <key>frame</key>
                <string>{{1765,2},{116,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{42,52},{116,96}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>air33.png</key>
            <dict>
                <key>frame</key>
                <string>{{1663,2},{130,100}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{36,50},{130,100}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>air34.png</key>
            <dict>
                <key>frame</key>
                <string>{{1480,2},{146,108}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,46},{146,108}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>air35.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,2},{186,120}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,41},{186,120}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>arrow.png</key>
            <dict>
                <key>frame</key>
                <string>{{418,190},{38,52}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{38,52}}</string>
                <key>sourceSize</key>
                <string>{38,56}</string>
            </dict>
            <key>countdown_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{706,2},{116,174}}</string>
                <key>offset</key>
                <string>{-38,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,23},{116,174}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>gainhonor_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{824,2},{118,162}}</string>
                <key>offset</key>
                <string>{1,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,15},{118,162}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>gainhonor_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{578,2},{126,174}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,3},{126,174}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>gainhonor_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{944,2},{128,160}}</string>
                <key>offset</key>
                <string>{-2,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,17},{128,160}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>gainhonor_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1074,2},{120,160}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,17},{120,160}}</string>
                <key>sourceSize</key>
                <string>{120,180}</string>
            </dict>
            <key>honor_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,190},{50,54}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,6},{50,54}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>honor_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{458,180},{50,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{50,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>honor_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,190},{54,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,0},{54,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>light.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{212,300}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{44,0},{212,300}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>mcm01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1921,60},{70,68}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{45,45},{70,68}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>mcm02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1812,120},{98,92}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,32},{98,92}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>menu01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1964,130},{56,56}}</string>
                <key>offset</key>
                <string>{1,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,7},{56,56}}</string>
                <key>sourceSize</key>
                <string>{60,80}</string>
            </dict>
            <key>menu02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1863,60},{56,58}}</string>
                <key>offset</key>
                <string>{1,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,6},{56,58}}</string>
                <key>sourceSize</key>
                <string>{60,80}</string>
            </dict>
            <key>pause01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1906,188},{56,56}}</string>
                <key>offset</key>
                <string>{1,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,7},{56,56}}</string>
                <key>sourceSize</key>
                <string>{60,80}</string>
            </dict>
            <key>pause02.png</key>
            <dict>
                <key>frame</key>
                <string>{{768,178},{56,58}}</string>
                <key>offset</key>
                <string>{1,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,6},{56,58}}</string>
                <key>sourceSize</key>
                <string>{60,80}</string>
            </dict>
            <key>pause11.png</key>
            <dict>
                <key>frame</key>
                <string>{{1906,130},{56,56}}</string>
                <key>offset</key>
                <string>{1,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,7},{56,56}}</string>
                <key>sourceSize</key>
                <string>{60,80}</string>
            </dict>
            <key>pause12.png</key>
            <dict>
                <key>frame</key>
                <string>{{710,178},{56,58}}</string>
                <key>offset</key>
                <string>{1,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,6},{56,58}}</string>
                <key>sourceSize</key>
                <string>{60,80}</string>
            </dict>
            <key>speed11.png</key>
            <dict>
                <key>frame</key>
                <string>{{1754,134},{100,56}}</string>
                <key>offset</key>
                <string>{-2,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,7},{100,56}}</string>
                <key>sourceSize</key>
                <string>{110,80}</string>
            </dict>
            <key>speed12.png</key>
            <dict>
                <key>frame</key>
                <string>{{510,180},{100,58}}</string>
                <key>offset</key>
                <string>{-2,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,6},{100,58}}</string>
                <key>sourceSize</key>
                <string>{110,80}</string>
            </dict>
            <key>speed21.png</key>
            <dict>
                <key>frame</key>
                <string>{{1906,2},{96,56}}</string>
                <key>offset</key>
                <string>{4,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,7},{96,56}}</string>
                <key>sourceSize</key>
                <string>{110,80}</string>
            </dict>
            <key>speed22.png</key>
            <dict>
                <key>frame</key>
                <string>{{612,178},{96,58}}</string>
                <key>offset</key>
                <string>{4,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,6},{96,58}}</string>
                <key>sourceSize</key>
                <string>{110,80}</string>
            </dict>
            <key>ss_gainhonor_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1338,2},{140,152}}</string>
                <key>offset</key>
                <string>{0,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,27},{140,152}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>ss_gainhonor_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1196,2},{140,156}}</string>
                <key>offset</key>
                <string>{0,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,23},{140,156}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>ss_gainhonor_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{426,2},{150,176}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,3},{150,176}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>touming-hd.png</string>
            <key>size</key>
            <string>{2022,246}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:31a4c5d3d99e2b47e2aa654bbb404580$</string>
            <key>textureFileName</key>
            <string>touming-hd.png</string>
        </dict>
    </dict>
</plist>
