<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>newtheme_CN.png</key>
            <dict>
                <key>frame</key>
                <string>{{418,28},{206,58}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,8},{206,58}}</string>
                <key>sourceSize</key>
                <string>{240,80}</string>
            </dict>
            <key>newtheme_EN.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,28},{206,58}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,8},{206,58}}</string>
                <key>sourceSize</key>
                <string>{240,80}</string>
            </dict>
            <key>newtheme_TW.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,26},{206,58}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,8},{206,58}}</string>
                <key>sourceSize</key>
                <string>{240,80}</string>
            </dict>
            <key>theend_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1448,527},{480,320}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{480,320}}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
            <key>theend_bg_CN.png</key>
            <dict>
                <key>frame</key>
                <string>{{1366,53},{434,74}}</string>
                <key>offset</key>
                <string>{4,86}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,37},{434,74}}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
            <key>theend_bg_EN.png</key>
            <dict>
                <key>frame</key>
                <string>{{438,100},{424,86}}</string>
                <key>offset</key>
                <string>{7,85}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,32},{424,86}}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
            <key>theend_bg_TW.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,88},{434,76}}</string>
                <key>offset</key>
                <string>{4,87}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,35},{434,76}}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
            <key>theend_home.png</key>
            <dict>
                <key>frame</key>
                <string>{{1094,2},{36,36}}</string>
                <key>offset</key>
                <string>{-6,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,7},{36,36}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>theend_rate_CN.png</key>
            <dict>
                <key>frame</key>
                <string>{{1332,2},{96,40}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,9},{96,40}}</string>
                <key>sourceSize</key>
                <string>{120,60}</string>
            </dict>
            <key>theend_rate_EN.png</key>
            <dict>
                <key>frame</key>
                <string>{{1230,2},{100,40}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,9},{100,40}}</string>
                <key>sourceSize</key>
                <string>{120,60}</string>
            </dict>
            <key>theend_rate_TW.png</key>
            <dict>
                <key>frame</key>
                <string>{{1132,2},{96,40}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,9},{96,40}}</string>
                <key>sourceSize</key>
                <string>{120,60}</string>
            </dict>
            <key>theend_sina_CN.png</key>
            <dict>
                <key>frame</key>
                <string>{{1634,2},{98,40}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,9},{98,40}}</string>
                <key>sourceSize</key>
                <string>{120,60}</string>
            </dict>
            <key>theend_sina_EN.png</key>
            <dict>
                <key>frame</key>
                <string>{{1530,2},{102,40}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,9},{102,40}}</string>
                <key>sourceSize</key>
                <string>{120,60}</string>
            </dict>
            <key>theend_sina_TW.png</key>
            <dict>
                <key>frame</key>
                <string>{{1430,2},{98,40}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,9},{98,40}}</string>
                <key>sourceSize</key>
                <string>{120,60}</string>
            </dict>
            <key>导入萝卜2/theend_tov2_CN.png</key>
            <dict>
                <key>frame</key>
                <string>{{451,205},{447,128}}</string>
                <key>offset</key>
                <string>{0,76}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,20},{447,128}}</string>
                <key>sourceSize</key>
                <string>{447,320}</string>
            </dict>
            <key>导入萝卜2/theend_tov2_EN.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,188},{447,126}}</string>
                <key>offset</key>
                <string>{0,77}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,20},{447,126}}</string>
                <key>sourceSize</key>
                <string>{447,320}</string>
            </dict>
            <key>导入萝卜2/theend_tov2_TW.png</key>
            <dict>
                <key>frame</key>
                <string>{{1344,129},{447,126}}</string>
                <key>offset</key>
                <string>{0,77}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,20},{447,126}}</string>
                <key>sourceSize</key>
                <string>{447,320}</string>
            </dict>
            <key>导入萝卜2/theend_tov2_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{966,527},{480,320}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{480,320}}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
            <key>导入萝卜2/theend_tov2_close_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{1056,2},{36,36}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,0},{36,36}}</string>
                <key>sourceSize</key>
                <string>{50,40}</string>
            </dict>
            <key>导入萝卜2/theend_tov2_close_pressed.png</key>
            <dict>
                <key>frame</key>
                <string>{{1018,2},{36,36}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,0},{36,36}}</string>
                <key>sourceSize</key>
                <string>{50,40}</string>
            </dict>
            <key>最终通关/theend2_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,471},{480,320}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{480,320}}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
            <key>最终通关/theend2_bg_CN.png</key>
            <dict>
                <key>frame</key>
                <string>{{1628,257},{364,268}}</string>
                <key>offset</key>
                <string>{14,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{72,31},{364,268}}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
            <key>最终通关/theend2_bg_EN.png</key>
            <dict>
                <key>frame</key>
                <string>{{900,205},{360,264}}</string>
                <key>offset</key>
                <string>{11,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{71,33},{360,264}}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
            <key>最终通关/theend2_bg_TW.png</key>
            <dict>
                <key>frame</key>
                <string>{{1262,257},{364,268}}</string>
                <key>offset</key>
                <string>{14,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{72,31},{364,268}}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
            <key>最终通关/theend2_close_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{1056,2},{36,36}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,0},{36,36}}</string>
                <key>sourceSize</key>
                <string>{50,40}</string>
            </dict>
            <key>最终通关/theend2_close_pressed.png</key>
            <dict>
                <key>frame</key>
                <string>{{1018,2},{36,36}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,0},{36,36}}</string>
                <key>sourceSize</key>
                <string>{50,40}</string>
            </dict>
            <key>最终通关/theend2_tweibo_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{1734,2},{47,49}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,14},{47,49}}</string>
                <key>sourceSize</key>
                <string>{75,75}</string>
            </dict>
            <key>最终通关/theend2_tweibo_press.png</key>
            <dict>
                <key>frame</key>
                <string>{{1948,2},{69,67}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{69,67}}</string>
                <key>sourceSize</key>
                <string>{75,75}</string>
            </dict>
            <key>最终通关/theend2_wechat_disable.png</key>
            <dict>
                <key>frame</key>
                <string>{{1838,2},{49,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,12},{49,51}}</string>
                <key>sourceSize</key>
                <string>{75,75}</string>
            </dict>
            <key>最终通关/theend2_wechat_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{1785,2},{49,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,12},{49,51}}</string>
                <key>sourceSize</key>
                <string>{75,75}</string>
            </dict>
            <key>最终通关/theend2_wechat_press.png</key>
            <dict>
                <key>frame</key>
                <string>{{626,28},{69,69}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{69,69}}</string>
                <key>sourceSize</key>
                <string>{75,75}</string>
            </dict>
            <key>最终通关/theend2_weibo_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{1891,2},{55,53}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,10},{55,53}}</string>
                <key>sourceSize</key>
                <string>{75,75}</string>
            </dict>
            <key>最终通关/theend2_weibo_press.png</key>
            <dict>
                <key>frame</key>
                <string>{{1289,44},{75,71}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,71}}</string>
                <key>sourceSize</key>
                <string>{75,75}</string>
            </dict>
            <key>貌似通关/theend1_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,335},{480,320}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{480,320}}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
            <key>貌似通关/theend1_bg_CN.png</key>
            <dict>
                <key>frame</key>
                <string>{{993,44},{294,64}}</string>
                <key>offset</key>
                <string>{0,117}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{93,11},{294,64}}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
            <key>貌似通关/theend1_bg_EN.png</key>
            <dict>
                <key>frame</key>
                <string>{{864,117},{478,86}}</string>
                <key>offset</key>
                <string>{-1,117}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{478,86}}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
            <key>貌似通关/theend1_bg_TW.png</key>
            <dict>
                <key>frame</key>
                <string>{{697,34},{294,64}}</string>
                <key>offset</key>
                <string>{0,117}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{93,11},{294,64}}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
            <key>貌似通关/theend1_btn_disable.png</key>
            <dict>
                <key>frame</key>
                <string>{{916,2},{100,30}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,9},{100,30}}</string>
                <key>sourceSize</key>
                <string>{110,50}</string>
            </dict>
            <key>貌似通关/theend1_btn_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{814,2},{100,30}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,9},{100,30}}</string>
                <key>sourceSize</key>
                <string>{110,50}</string>
            </dict>
            <key>貌似通关/theend1_btn_press.png</key>
            <dict>
                <key>frame</key>
                <string>{{712,2},{100,30}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,9},{100,30}}</string>
                <key>sourceSize</key>
                <string>{110,50}</string>
            </dict>
            <key>貌似通关/theend1_close_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{1056,2},{36,36}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,0},{36,36}}</string>
                <key>sourceSize</key>
                <string>{50,40}</string>
            </dict>
            <key>貌似通关/theend1_close_pressed.png</key>
            <dict>
                <key>frame</key>
                <string>{{1018,2},{36,36}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,0},{36,36}}</string>
                <key>sourceSize</key>
                <string>{50,40}</string>
            </dict>
            <key>貌似通关/theend1_tweibo_CN.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,2},{76,24}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,13},{76,24}}</string>
                <key>sourceSize</key>
                <string>{110,50}</string>
            </dict>
            <key>貌似通关/theend1_tweibo_EN.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,2},{76,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,13},{76,24}}</string>
                <key>sourceSize</key>
                <string>{110,50}</string>
            </dict>
            <key>貌似通关/theend1_tweibo_TW.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,2},{76,24}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,13},{76,24}}</string>
                <key>sourceSize</key>
                <string>{110,50}</string>
            </dict>
            <key>貌似通关/theend1_wechat_CN.png</key>
            <dict>
                <key>frame</key>
                <string>{{636,2},{74,24}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,12},{74,24}}</string>
                <key>sourceSize</key>
                <string>{110,50}</string>
            </dict>
            <key>貌似通关/theend1_wechat_EN.png</key>
            <dict>
                <key>frame</key>
                <string>{{566,2},{68,24}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,12},{68,24}}</string>
                <key>sourceSize</key>
                <string>{110,50}</string>
            </dict>
            <key>貌似通关/theend1_wechat_TW.png</key>
            <dict>
                <key>frame</key>
                <string>{{490,2},{74,24}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,12},{74,24}}</string>
                <key>sourceSize</key>
                <string>{110,50}</string>
            </dict>
            <key>貌似通关/theend1_weibo_CN.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,2},{82,22}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,13},{82,22}}</string>
                <key>sourceSize</key>
                <string>{110,50}</string>
            </dict>
            <key>貌似通关/theend1_weibo_EN.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,2},{84,22}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,13},{84,22}}</string>
                <key>sourceSize</key>
                <string>{110,50}</string>
            </dict>
            <key>貌似通关/theend1_weibo_TW.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{82,22}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,13},{82,22}}</string>
                <key>sourceSize</key>
                <string>{110,50}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>accomplish.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:385f24a324f9dd1d25e26bd65515da44:536e814ddb5dc3875f0d8a8b5df6b8da:d5e849a57a87ef53e500130d77376857$</string>
            <key>textureFileName</key>
            <string>accomplish.png</string>
        </dict>
    </dict>
</plist>
