<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>newtheme_CN.png</key>
		<dict>
			<key>frame</key>
			<string>{{826,52},{410,114}}</string>
			<key>offset</key>
			<string>{0,5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{35,18},{410,114}}</string>
			<key>sourceSize</key>
			<string>{480,160}</string>
		</dict>
		<key>newtheme_EN.png</key>
		<dict>
			<key>frame</key>
			<string>{{414,50},{410,114}}</string>
			<key>offset</key>
			<string>{0,5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{35,18},{410,114}}</string>
			<key>sourceSize</key>
			<string>{480,160}</string>
		</dict>
		<key>newtheme_TW.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,46},{410,114}}</string>
			<key>offset</key>
			<string>{0,5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{35,18},{410,114}}</string>
			<key>sourceSize</key>
			<string>{480,160}</string>
		</dict>
		<key>theend_bg.png</key>
		<dict>
			<key>frame</key>
			<string>{{2888,1032},{960,640}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{960,640}}</string>
			<key>sourceSize</key>
			<string>{960,640}</string>
		</dict>
		<key>theend_bg_CN.png</key>
		<dict>
			<key>frame</key>
			<string>{{2568,98},{870,146}}</string>
			<key>offset</key>
			<string>{7,172}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{52,75},{870,146}}</string>
			<key>sourceSize</key>
			<string>{960,640}</string>
		</dict>
		<key>theend_bg_EN.png</key>
		<dict>
			<key>frame</key>
			<string>{{872,192},{848,170}}</string>
			<key>offset</key>
			<string>{13,170}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{69,65},{848,170}}</string>
			<key>sourceSize</key>
			<string>{960,640}</string>
		</dict>
		<key>theend_bg_TW.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,168},{868,148}}</string>
			<key>offset</key>
			<string>{8,173}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{54,73},{868,148}}</string>
			<key>sourceSize</key>
			<string>{960,640}</string>
		</dict>
		<key>theend_home.png</key>
		<dict>
			<key>frame</key>
			<string>{{2130,2},{72,72}}</string>
			<key>offset</key>
			<string>{-11,10}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{13,14},{72,72}}</string>
			<key>sourceSize</key>
			<string>{120,120}</string>
		</dict>
		<key>theend_rate_CN.png</key>
		<dict>
			<key>frame</key>
			<string>{{2596,2},{190,80}}</string>
			<key>offset</key>
			<string>{-2,2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{23,18},{190,80}}</string>
			<key>sourceSize</key>
			<string>{240,120}</string>
		</dict>
		<key>theend_rate_EN.png</key>
		<dict>
			<key>frame</key>
			<string>{{2396,2},{198,80}}</string>
			<key>offset</key>
			<string>{3,2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{24,18},{198,80}}</string>
			<key>sourceSize</key>
			<string>{240,120}</string>
		</dict>
		<key>theend_rate_TW.png</key>
		<dict>
			<key>frame</key>
			<string>{{2204,2},{190,80}}</string>
			<key>offset</key>
			<string>{-2,2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{23,18},{190,80}}</string>
			<key>sourceSize</key>
			<string>{240,120}</string>
		</dict>
		<key>theend_sina_CN.png</key>
		<dict>
			<key>frame</key>
			<string>{{3194,2},{196,80}}</string>
			<key>offset</key>
			<string>{-5,2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{17,18},{196,80}}</string>
			<key>sourceSize</key>
			<string>{240,120}</string>
		</dict>
		<key>theend_sina_EN.png</key>
		<dict>
			<key>frame</key>
			<string>{{2986,2},{206,80}}</string>
			<key>offset</key>
			<string>{-1,2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{16,18},{206,80}}</string>
			<key>sourceSize</key>
			<string>{240,120}</string>
		</dict>
		<key>theend_sina_TW.png</key>
		<dict>
			<key>frame</key>
			<string>{{2788,2},{196,80}}</string>
			<key>offset</key>
			<string>{-5,2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{17,18},{196,80}}</string>
			<key>sourceSize</key>
			<string>{240,120}</string>
		</dict>
		<key>导入萝卜2/theend_tov2_CN.png</key>
		<dict>
			<key>frame</key>
			<string>{{898,418},{894,252}}</string>
			<key>offset</key>
			<string>{0,151}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,43},{894,252}}</string>
			<key>sourceSize</key>
			<string>{894,640}</string>
		</dict>
		<key>导入萝卜2/theend_tov2_EN.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,364},{894,248}}</string>
			<key>offset</key>
			<string>{0,153}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,43},{894,248}}</string>
			<key>sourceSize</key>
			<string>{894,640}</string>
		</dict>
		<key>导入萝卜2/theend_tov2_TW.png</key>
		<dict>
			<key>frame</key>
			<string>{{2678,246},{894,248}}</string>
			<key>offset</key>
			<string>{0,153}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,43},{894,248}}</string>
			<key>sourceSize</key>
			<string>{894,640}</string>
		</dict>
		<key>导入萝卜2/theend_tov2_bg.png</key>
		<dict>
			<key>frame</key>
			<string>{{1926,1032},{960,640}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{960,640}}</string>
			<key>sourceSize</key>
			<string>{960,640}</string>
		</dict>
		<key>导入萝卜2/theend_tov2_close_normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{2060,2},{68,68}}</string>
			<key>offset</key>
			<string>{1,3}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{17,3},{68,68}}</string>
			<key>sourceSize</key>
			<string>{100,80}</string>
		</dict>
		<key>导入萝卜2/theend_tov2_close_pressed.png</key>
		<dict>
			<key>frame</key>
			<string>{{1990,2},{68,68}}</string>
			<key>offset</key>
			<string>{1,3}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{17,3},{68,68}}</string>
			<key>sourceSize</key>
			<string>{100,80}</string>
		</dict>
		<key>最终通关/theend2_bg.png</key>
		<dict>
			<key>frame</key>
			<string>{{964,946},{960,640}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{960,640}}</string>
			<key>sourceSize</key>
			<string>{960,640}</string>
		</dict>
		<key>最终通关/theend2_bg_CN.png</key>
		<dict>
			<key>frame</key>
			<string>{{3244,496},{726,534}}</string>
			<key>offset</key>
			<string>{28,-10}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{145,63},{726,534}}</string>
			<key>sourceSize</key>
			<string>{960,640}</string>
		</dict>
		<key>最终通关/theend2_bg_EN.png</key>
		<dict>
			<key>frame</key>
			<string>{{1794,418},{720,526}}</string>
			<key>offset</key>
			<string>{21,-11}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{141,68},{720,526}}</string>
			<key>sourceSize</key>
			<string>{960,640}</string>
		</dict>
		<key>最终通关/theend2_bg_TW.png</key>
		<dict>
			<key>frame</key>
			<string>{{2516,496},{726,534}}</string>
			<key>offset</key>
			<string>{28,-10}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{145,63},{726,534}}</string>
			<key>sourceSize</key>
			<string>{960,640}</string>
		</dict>
		<key>最终通关/theend2_close_normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{2060,2},{68,68}}</string>
			<key>offset</key>
			<string>{1,3}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{17,3},{68,68}}</string>
			<key>sourceSize</key>
			<string>{100,80}</string>
		</dict>
		<key>最终通关/theend2_close_pressed.png</key>
		<dict>
			<key>frame</key>
			<string>{{1990,2},{68,68}}</string>
			<key>offset</key>
			<string>{1,3}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{17,3},{68,68}}</string>
			<key>sourceSize</key>
			<string>{100,80}</string>
		</dict>
		<key>最终通关/theend2_tweibo_normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{3392,2},{94,96}}</string>
			<key>offset</key>
			<string>{1,-4}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{29,31},{94,96}}</string>
			<key>sourceSize</key>
			<string>{150,150}</string>
		</dict>
		<key>最终通关/theend2_tweibo_press.png</key>
		<dict>
			<key>frame</key>
			<string>{{3808,2},{138,132}}</string>
			<key>offset</key>
			<string>{0,1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{6,8},{138,132}}</string>
			<key>sourceSize</key>
			<string>{150,150}</string>
		</dict>
		<key>最终通关/theend2_wechat_disable.png</key>
		<dict>
			<key>frame</key>
			<string>{{3594,2},{102,102}}</string>
			<key>offset</key>
			<string>{1,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{25,25},{102,102}}</string>
			<key>sourceSize</key>
			<string>{150,150}</string>
		</dict>
		<key>最终通关/theend2_wechat_normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{3490,2},{102,102}}</string>
			<key>offset</key>
			<string>{1,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{25,25},{102,102}}</string>
			<key>sourceSize</key>
			<string>{150,150}</string>
		</dict>
		<key>最终通关/theend2_wechat_press.png</key>
		<dict>
			<key>frame</key>
			<string>{{3948,2},{134,138}}</string>
			<key>offset</key>
			<string>{-1,5}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{7,1},{134,138}}</string>
			<key>sourceSize</key>
			<string>{150,150}</string>
		</dict>
		<key>最终通关/theend2_weibo_normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{3698,2},{108,108}}</string>
			<key>offset</key>
			<string>{-2,2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{19,19},{108,108}}</string>
			<key>sourceSize</key>
			<string>{150,150}</string>
		</dict>
		<key>最终通关/theend2_weibo_press.png</key>
		<dict>
			<key>frame</key>
			<string>{{1828,62},{148,140}}</string>
			<key>offset</key>
			<string>{-1,5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{148,140}}</string>
			<key>sourceSize</key>
			<string>{150,150}</string>
		</dict>
		<key>貌似通关/theend1_bg.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,672},{960,640}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{960,640}}</string>
			<key>sourceSize</key>
			<string>{960,640}</string>
		</dict>
		<key>貌似通关/theend1_bg_CN.png</key>
		<dict>
			<key>frame</key>
			<string>{{1978,84},{588,128}}</string>
			<key>offset</key>
			<string>{0,235}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{186,21},{588,128}}</string>
			<key>sourceSize</key>
			<string>{960,640}</string>
		</dict>
		<key>貌似通关/theend1_bg_EN.png</key>
		<dict>
			<key>frame</key>
			<string>{{1722,246},{954,170}}</string>
			<key>offset</key>
			<string>{-3,235}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{954,170}}</string>
			<key>sourceSize</key>
			<string>{960,640}</string>
		</dict>
		<key>貌似通关/theend1_bg_TW.png</key>
		<dict>
			<key>frame</key>
			<string>{{1238,62},{588,128}}</string>
			<key>offset</key>
			<string>{0,235}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{186,21},{588,128}}</string>
			<key>sourceSize</key>
			<string>{960,640}</string>
		</dict>
		<key>貌似通关/theend1_btn_disable.png</key>
		<dict>
			<key>frame</key>
			<string>{{1790,2},{198,58}}</string>
			<key>offset</key>
			<string>{0,2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{11,19},{198,58}}</string>
			<key>sourceSize</key>
			<string>{220,100}</string>
		</dict>
		<key>貌似通关/theend1_btn_normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{1590,2},{198,58}}</string>
			<key>offset</key>
			<string>{0,2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{11,19},{198,58}}</string>
			<key>sourceSize</key>
			<string>{220,100}</string>
		</dict>
		<key>貌似通关/theend1_btn_press.png</key>
		<dict>
			<key>frame</key>
			<string>{{1390,2},{198,58}}</string>
			<key>offset</key>
			<string>{0,2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{11,19},{198,58}}</string>
			<key>sourceSize</key>
			<string>{220,100}</string>
		</dict>
		<key>貌似通关/theend1_close_normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{2060,2},{68,68}}</string>
			<key>offset</key>
			<string>{1,3}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{17,3},{68,68}}</string>
			<key>sourceSize</key>
			<string>{100,80}</string>
		</dict>
		<key>貌似通关/theend1_close_pressed.png</key>
		<dict>
			<key>frame</key>
			<string>{{1990,2},{68,68}}</string>
			<key>offset</key>
			<string>{1,3}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{17,3},{68,68}}</string>
			<key>sourceSize</key>
			<string>{100,80}</string>
		</dict>
		<key>貌似通关/theend1_tweibo_CN.png</key>
		<dict>
			<key>frame</key>
			<string>{{1238,2},{150,48}}</string>
			<key>offset</key>
			<string>{-2,-2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{33,28},{150,48}}</string>
			<key>sourceSize</key>
			<string>{220,100}</string>
		</dict>
		<key>貌似通关/theend1_tweibo_EN.png</key>
		<dict>
			<key>frame</key>
			<string>{{1086,2},{150,48}}</string>
			<key>offset</key>
			<string>{1,-2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{36,28},{150,48}}</string>
			<key>sourceSize</key>
			<string>{220,100}</string>
		</dict>
		<key>貌似通关/theend1_tweibo_TW.png</key>
		<dict>
			<key>frame</key>
			<string>{{934,2},{150,48}}</string>
			<key>offset</key>
			<string>{-2,-2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{33,28},{150,48}}</string>
			<key>sourceSize</key>
			<string>{220,100}</string>
		</dict>
		<key>貌似通关/theend1_wechat_CN.png</key>
		<dict>
			<key>frame</key>
			<string>{{788,2},{144,46}}</string>
			<key>offset</key>
			<string>{-5,1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{33,26},{144,46}}</string>
			<key>sourceSize</key>
			<string>{220,100}</string>
		</dict>
		<key>貌似通关/theend1_wechat_EN.png</key>
		<dict>
			<key>frame</key>
			<string>{{650,2},{136,46}}</string>
			<key>offset</key>
			<string>{0,1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{42,26},{136,46}}</string>
			<key>sourceSize</key>
			<string>{220,100}</string>
		</dict>
		<key>貌似通关/theend1_wechat_TW.png</key>
		<dict>
			<key>frame</key>
			<string>{{504,2},{144,46}}</string>
			<key>offset</key>
			<string>{-5,1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{33,26},{144,46}}</string>
			<key>sourceSize</key>
			<string>{220,100}</string>
		</dict>
		<key>貌似通关/theend1_weibo_CN.png</key>
		<dict>
			<key>frame</key>
			<string>{{338,2},{164,42}}</string>
			<key>offset</key>
			<string>{-4,2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{24,27},{164,42}}</string>
			<key>sourceSize</key>
			<string>{220,100}</string>
		</dict>
		<key>貌似通关/theend1_weibo_EN.png</key>
		<dict>
			<key>frame</key>
			<string>{{168,2},{168,42}}</string>
			<key>offset</key>
			<string>{-2,2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{24,27},{168,42}}</string>
			<key>sourceSize</key>
			<string>{220,100}</string>
		</dict>
		<key>貌似通关/theend1_weibo_TW.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{164,42}}</string>
			<key>offset</key>
			<string>{-4,2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{24,27},{164,42}}</string>
			<key>sourceSize</key>
			<string>{220,100}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>accomplish-hd.png</string>
		<key>size</key>
		<string>{4096,4096}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:385f24a324f9dd1d25e26bd65515da44:536e814ddb5dc3875f0d8a8b5df6b8da:d5e849a57a87ef53e500130d77376857$</string>
		<key>textureFileName</key>
		<string>accomplish-hd.png</string>
	</dict>
</dict>
</plist>
