<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>boss_01_locked.png</key>
		<dict>
			<key>frame</key>
			<string>{{412,1664},{408,296}}</string>
			<key>offset</key>
			<string>{0,-4}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{6,26},{408,296}}</string>
			<key>sourceSize</key>
			<string>{420,340}</string>
		</dict>
		<key>boss_01_normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{300,1254},{408,296}}</string>
			<key>offset</key>
			<string>{0,-4}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{6,26},{408,296}}</string>
			<key>sourceSize</key>
			<string>{420,340}</string>
		</dict>
		<key>boss_02_locked.png</key>
		<dict>
			<key>frame</key>
			<string>{{412,644},{408,308}}</string>
			<key>offset</key>
			<string>{0,2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{6,14},{408,308}}</string>
			<key>sourceSize</key>
			<string>{420,340}</string>
		</dict>
		<key>boss_02_normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,644},{408,308}}</string>
			<key>offset</key>
			<string>{0,2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{6,14},{408,308}}</string>
			<key>sourceSize</key>
			<string>{420,340}</string>
		</dict>
		<key>boss_03_locked.png</key>
		<dict>
			<key>frame</key>
			<string>{{1374,638},{408,312}}</string>
			<key>offset</key>
			<string>{0,4}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{6,10},{408,312}}</string>
			<key>sourceSize</key>
			<string>{420,340}</string>
		</dict>
		<key>boss_03_normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{964,638},{408,312}}</string>
			<key>offset</key>
			<string>{0,4}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{6,10},{408,312}}</string>
			<key>sourceSize</key>
			<string>{420,340}</string>
		</dict>
		<key>boss_04_locked.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,1664},{408,296}}</string>
			<key>offset</key>
			<string>{0,-4}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{6,26},{408,296}}</string>
			<key>sourceSize</key>
			<string>{420,340}</string>
		</dict>
		<key>boss_04_normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,1254},{408,296}}</string>
			<key>offset</key>
			<string>{0,-4}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{6,26},{408,296}}</string>
			<key>sourceSize</key>
			<string>{420,340}</string>
		</dict>
		<key>boss_05_locked.png</key>
		<dict>
			<key>frame</key>
			<string>{{822,1664},{408,292}}</string>
			<key>offset</key>
			<string>{0,-6}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{6,30},{408,292}}</string>
			<key>sourceSize</key>
			<string>{420,340}</string>
		</dict>
		<key>boss_05_normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{598,1254},{408,292}}</string>
			<key>offset</key>
			<string>{0,-6}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{6,30},{408,292}}</string>
			<key>sourceSize</key>
			<string>{420,340}</string>
		</dict>
		<key>boss_06_locked.png</key>
		<dict>
			<key>frame</key>
			<string>{{1374,2},{408,320}}</string>
			<key>offset</key>
			<string>{0,8}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{6,2},{408,320}}</string>
			<key>sourceSize</key>
			<string>{420,340}</string>
		</dict>
		<key>boss_06_normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{964,2},{408,320}}</string>
			<key>offset</key>
			<string>{0,8}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{6,2},{408,320}}</string>
			<key>sourceSize</key>
			<string>{420,340}</string>
		</dict>
		<key>boss_07_locked.png</key>
		<dict>
			<key>frame</key>
			<string>{{1374,324},{408,312}}</string>
			<key>offset</key>
			<string>{0,4}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{6,10},{408,312}}</string>
			<key>sourceSize</key>
			<string>{420,340}</string>
		</dict>
		<key>boss_07_normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{964,324},{408,312}}</string>
			<key>offset</key>
			<string>{0,4}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{6,10},{408,312}}</string>
			<key>sourceSize</key>
			<string>{420,340}</string>
		</dict>
		<key>boss_08_locked.png</key>
		<dict>
			<key>frame</key>
			<string>{{412,954},{408,298}}</string>
			<key>offset</key>
			<string>{0,-3}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{6,24},{408,298}}</string>
			<key>sourceSize</key>
			<string>{420,340}</string>
		</dict>
		<key>boss_08_normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,954},{408,298}}</string>
			<key>offset</key>
			<string>{0,-3}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{6,24},{408,298}}</string>
			<key>sourceSize</key>
			<string>{420,340}</string>
		</dict>
		<key>theme_bg.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{960,640}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{960,640}}</string>
			<key>sourceSize</key>
			<string>{960,640}</string>
		</dict>
		<key>theme_home_normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{822,1208},{38,34}}</string>
			<key>offset</key>
			<string>{-1,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{20,13},{38,34}}</string>
			<key>sourceSize</key>
			<string>{80,60}</string>
		</dict>
		<key>theme_home_pressed.png</key>
		<dict>
			<key>frame</key>
			<string>{{1096,1224},{62,60}}</string>
			<key>offset</key>
			<string>{-1,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{8,0},{62,60}}</string>
			<key>sourceSize</key>
			<string>{80,60}</string>
		</dict>
		<key>theme_locked_CN.png</key>
		<dict>
			<key>frame</key>
			<string>{{964,1224},{178,66}}</string>
			<key>offset</key>
			<string>{1,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{12,7},{178,66}}</string>
			<key>sourceSize</key>
			<string>{200,80}</string>
		</dict>
		<key>theme_locked_EN.png</key>
		<dict>
			<key>frame</key>
			<string>{{960,1424},{178,66}}</string>
			<key>offset</key>
			<string>{1,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{12,7},{178,66}}</string>
			<key>sourceSize</key>
			<string>{200,80}</string>
		</dict>
		<key>theme_locked_TW.png</key>
		<dict>
			<key>frame</key>
			<string>{{892,1424},{178,66}}</string>
			<key>offset</key>
			<string>{1,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{12,7},{178,66}}</string>
			<key>sourceSize</key>
			<string>{200,80}</string>
		</dict>
		<key>theme_play_normal_CN.png</key>
		<dict>
			<key>frame</key>
			<string>{{378,1962},{186,72}}</string>
			<key>offset</key>
			<string>{1,-3}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{8,7},{186,72}}</string>
			<key>sourceSize</key>
			<string>{200,80}</string>
		</dict>
		<key>theme_play_normal_EN.png</key>
		<dict>
			<key>frame</key>
			<string>{{190,1962},{186,72}}</string>
			<key>offset</key>
			<string>{1,-3}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{8,7},{186,72}}</string>
			<key>sourceSize</key>
			<string>{200,80}</string>
		</dict>
		<key>theme_play_normal_TW.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,1962},{186,72}}</string>
			<key>offset</key>
			<string>{1,-3}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{8,7},{186,72}}</string>
			<key>sourceSize</key>
			<string>{200,80}</string>
		</dict>
		<key>theme_play_pressed_CN.png</key>
		<dict>
			<key>frame</key>
			<string>{{822,1020},{186,72}}</string>
			<key>offset</key>
			<string>{1,-3}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{8,7},{186,72}}</string>
			<key>sourceSize</key>
			<string>{200,80}</string>
		</dict>
		<key>theme_play_pressed_EN.png</key>
		<dict>
			<key>frame</key>
			<string>{{822,832},{186,72}}</string>
			<key>offset</key>
			<string>{1,-3}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{8,7},{186,72}}</string>
			<key>sourceSize</key>
			<string>{200,80}</string>
		</dict>
		<key>theme_play_pressed_TW.png</key>
		<dict>
			<key>frame</key>
			<string>{{822,644},{186,72}}</string>
			<key>offset</key>
			<string>{1,-3}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{8,7},{186,72}}</string>
			<key>sourceSize</key>
			<string>{200,80}</string>
		</dict>
		<key>timelimit_100_CN.png</key>
		<dict>
			<key>frame</key>
			<string>{{1742,1090},{258,66}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{11,7},{258,66}}</string>
			<key>sourceSize</key>
			<string>{280,80}</string>
		</dict>
		<key>timelimit_100_EN.png</key>
		<dict>
			<key>frame</key>
			<string>{{1742,1022},{258,66}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{11,7},{258,66}}</string>
			<key>sourceSize</key>
			<string>{280,80}</string>
		</dict>
		<key>timelimit_100_TW.png</key>
		<dict>
			<key>frame</key>
			<string>{{1742,954},{258,66}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{11,7},{258,66}}</string>
			<key>sourceSize</key>
			<string>{280,80}</string>
		</dict>
		<key>timelimit_110_CN.png</key>
		<dict>
			<key>frame</key>
			<string>{{1232,1212},{258,66}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{11,7},{258,66}}</string>
			<key>sourceSize</key>
			<string>{280,80}</string>
		</dict>
		<key>timelimit_110_EN.png</key>
		<dict>
			<key>frame</key>
			<string>{{1674,952},{258,66}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{11,7},{258,66}}</string>
			<key>sourceSize</key>
			<string>{280,80}</string>
		</dict>
		<key>timelimit_110_TW.png</key>
		<dict>
			<key>frame</key>
			<string>{{1346,1156},{258,66}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{11,7},{258,66}}</string>
			<key>sourceSize</key>
			<string>{280,80}</string>
		</dict>
		<key>timelimit_120_CN.png</key>
		<dict>
			<key>frame</key>
			<string>{{1346,1088},{258,66}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{11,7},{258,66}}</string>
			<key>sourceSize</key>
			<string>{280,80}</string>
		</dict>
		<key>timelimit_120_EN.png</key>
		<dict>
			<key>frame</key>
			<string>{{1346,1020},{258,66}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{11,7},{258,66}}</string>
			<key>sourceSize</key>
			<string>{280,80}</string>
		</dict>
		<key>timelimit_120_TW.png</key>
		<dict>
			<key>frame</key>
			<string>{{1606,952},{258,66}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{11,7},{258,66}}</string>
			<key>sourceSize</key>
			<string>{280,80}</string>
		</dict>
		<key>timelimit_130_CN.png</key>
		<dict>
			<key>frame</key>
			<string>{{1028,1404},{258,66}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{11,7},{258,66}}</string>
			<key>sourceSize</key>
			<string>{280,80}</string>
		</dict>
		<key>timelimit_130_EN.png</key>
		<dict>
			<key>frame</key>
			<string>{{896,1164},{258,66}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{11,7},{258,66}}</string>
			<key>sourceSize</key>
			<string>{280,80}</string>
		</dict>
		<key>timelimit_130_TW.png</key>
		<dict>
			<key>frame</key>
			<string>{{964,1156},{258,66}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{11,7},{258,66}}</string>
			<key>sourceSize</key>
			<string>{280,80}</string>
		</dict>
		<key>timelimit_140_CN.png</key>
		<dict>
			<key>frame</key>
			<string>{{964,1088},{258,66}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{11,7},{258,66}}</string>
			<key>sourceSize</key>
			<string>{280,80}</string>
		</dict>
		<key>timelimit_140_EN.png</key>
		<dict>
			<key>frame</key>
			<string>{{964,1020},{258,66}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{11,7},{258,66}}</string>
			<key>sourceSize</key>
			<string>{280,80}</string>
		</dict>
		<key>timelimit_140_TW.png</key>
		<dict>
			<key>frame</key>
			<string>{{964,952},{258,66}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{11,7},{258,66}}</string>
			<key>sourceSize</key>
			<string>{280,80}</string>
		</dict>
		<key>timelimit_168_CN.png</key>
		<dict>
			<key>frame</key>
			<string>{{1232,952},{258,66}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{11,7},{258,66}}</string>
			<key>sourceSize</key>
			<string>{280,80}</string>
		</dict>
		<key>timelimit_168_EN.png</key>
		<dict>
			<key>frame</key>
			<string>{{1346,952},{258,66}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{11,7},{258,66}}</string>
			<key>sourceSize</key>
			<string>{280,80}</string>
		</dict>
		<key>timelimit_168_TW.png</key>
		<dict>
			<key>frame</key>
			<string>{{1086,1958},{258,66}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{11,7},{258,66}}</string>
			<key>sourceSize</key>
			<string>{280,80}</string>
		</dict>
		<key>timelimit_180_CN.png</key>
		<dict>
			<key>frame</key>
			<string>{{826,1958},{258,66}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{11,7},{258,66}}</string>
			<key>sourceSize</key>
			<string>{280,80}</string>
		</dict>
		<key>timelimit_180_EN.png</key>
		<dict>
			<key>frame</key>
			<string>{{566,1962},{258,66}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{11,7},{258,66}}</string>
			<key>sourceSize</key>
			<string>{280,80}</string>
		</dict>
		<key>timelimit_180_TW.png</key>
		<dict>
			<key>frame</key>
			<string>{{896,904},{258,66}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{11,7},{258,66}}</string>
			<key>sourceSize</key>
			<string>{280,80}</string>
		</dict>
		<key>timelimit_220_CN.png</key>
		<dict>
			<key>frame</key>
			<string>{{896,644},{258,66}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{11,7},{258,66}}</string>
			<key>sourceSize</key>
			<string>{280,80}</string>
		</dict>
		<key>timelimit_220_EN.png</key>
		<dict>
			<key>frame</key>
			<string>{{1784,886},{258,66}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{11,7},{258,66}}</string>
			<key>sourceSize</key>
			<string>{280,80}</string>
		</dict>
		<key>timelimit_220_TW.png</key>
		<dict>
			<key>frame</key>
			<string>{{1784,818},{258,66}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{11,7},{258,66}}</string>
			<key>sourceSize</key>
			<string>{280,80}</string>
		</dict>
		<key>timelimit_240_CN.png</key>
		<dict>
			<key>frame</key>
			<string>{{1784,750},{258,66}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{11,7},{258,66}}</string>
			<key>sourceSize</key>
			<string>{280,80}</string>
		</dict>
		<key>timelimit_240_EN.png</key>
		<dict>
			<key>frame</key>
			<string>{{1784,682},{258,66}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{11,7},{258,66}}</string>
			<key>sourceSize</key>
			<string>{280,80}</string>
		</dict>
		<key>timelimit_240_TW.png</key>
		<dict>
			<key>frame</key>
			<string>{{1784,614},{258,66}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{11,7},{258,66}}</string>
			<key>sourceSize</key>
			<string>{280,80}</string>
		</dict>
		<key>timelimit_60_CN.png</key>
		<dict>
			<key>frame</key>
			<string>{{1784,546},{258,66}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{11,7},{258,66}}</string>
			<key>sourceSize</key>
			<string>{280,80}</string>
		</dict>
		<key>timelimit_60_EN.png</key>
		<dict>
			<key>frame</key>
			<string>{{1784,478},{258,66}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{11,7},{258,66}}</string>
			<key>sourceSize</key>
			<string>{280,80}</string>
		</dict>
		<key>timelimit_60_TW.png</key>
		<dict>
			<key>frame</key>
			<string>{{1784,410},{258,66}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{11,7},{258,66}}</string>
			<key>sourceSize</key>
			<string>{280,80}</string>
		</dict>
		<key>timelimit_80_CN.png</key>
		<dict>
			<key>frame</key>
			<string>{{1784,342},{258,66}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{11,7},{258,66}}</string>
			<key>sourceSize</key>
			<string>{280,80}</string>
		</dict>
		<key>timelimit_80_EN.png</key>
		<dict>
			<key>frame</key>
			<string>{{1784,274},{258,66}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{11,7},{258,66}}</string>
			<key>sourceSize</key>
			<string>{280,80}</string>
		</dict>
		<key>timelimit_80_TW.png</key>
		<dict>
			<key>frame</key>
			<string>{{1784,206},{258,66}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{11,7},{258,66}}</string>
			<key>sourceSize</key>
			<string>{280,80}</string>
		</dict>
		<key>timelimit_90_CN.png</key>
		<dict>
			<key>frame</key>
			<string>{{1784,138},{258,66}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{11,7},{258,66}}</string>
			<key>sourceSize</key>
			<string>{280,80}</string>
		</dict>
		<key>timelimit_90_EN.png</key>
		<dict>
			<key>frame</key>
			<string>{{1784,70},{258,66}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{11,7},{258,66}}</string>
			<key>sourceSize</key>
			<string>{280,80}</string>
		</dict>
		<key>timelimit_90_TW.png</key>
		<dict>
			<key>frame</key>
			<string>{{1784,2},{258,66}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{11,7},{258,66}}</string>
			<key>sourceSize</key>
			<string>{280,80}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>antiboss2-hd.png</string>
		<key>size</key>
		<string>{2048,2048}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:592ff1b2990f6f94408de0c73d96355b$</string>
		<key>textureFileName</key>
		<string>antiboss2-hd.png</string>
	</dict>
</dict>
</plist>
