<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>blood_110000.png</key>
		<dict>
			<key>frame</key>
			<string>{{1786,1126},{140,50}}</string>
			<key>offset</key>
			<string>{-4,1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{166,4},{140,50}}</string>
			<key>sourceSize</key>
			<string>{480,60}</string>
		</dict>
		<key>blood_20000.png</key>
		<dict>
			<key>frame</key>
			<string>{{1642,1180},{132,50}}</string>
			<key>offset</key>
			<string>{-4,1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{170,4},{132,50}}</string>
			<key>sourceSize</key>
			<string>{480,60}</string>
		</dict>
		<key>blood_200000.png</key>
		<dict>
			<key>frame</key>
			<string>{{1798,960},{154,50}}</string>
			<key>offset</key>
			<string>{-1,1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{162,4},{154,50}}</string>
			<key>sourceSize</key>
			<string>{480,60}</string>
		</dict>
		<key>blood_300000.png</key>
		<dict>
			<key>frame</key>
			<string>{{1796,1012},{152,50}}</string>
			<key>offset</key>
			<string>{-4,1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{160,4},{152,50}}</string>
			<key>sourceSize</key>
			<string>{480,60}</string>
		</dict>
		<key>blood_40000.png</key>
		<dict>
			<key>frame</key>
			<string>{{1776,1178},{132,50}}</string>
			<key>offset</key>
			<string>{-4,1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{170,4},{132,50}}</string>
			<key>sourceSize</key>
			<string>{480,60}</string>
		</dict>
		<key>blood_400000.png</key>
		<dict>
			<key>frame</key>
			<string>{{1642,936},{154,50}}</string>
			<key>offset</key>
			<string>{-5,1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{158,4},{154,50}}</string>
			<key>sourceSize</key>
			<string>{480,60}</string>
		</dict>
		<key>blood_50000.png</key>
		<dict>
			<key>frame</key>
			<string>{{1910,1178},{130,50}}</string>
			<key>offset</key>
			<string>{-4,1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{171,4},{130,50}}</string>
			<key>sourceSize</key>
			<string>{480,60}</string>
		</dict>
		<key>blood_500000.png</key>
		<dict>
			<key>frame</key>
			<string>{{1642,988},{152,50}}</string>
			<key>offset</key>
			<string>{-4,1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{160,4},{152,50}}</string>
			<key>sourceSize</key>
			<string>{480,60}</string>
		</dict>
		<key>blood_60000.png</key>
		<dict>
			<key>frame</key>
			<string>{{1642,1128},{132,50}}</string>
			<key>offset</key>
			<string>{-4,1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{170,4},{132,50}}</string>
			<key>sourceSize</key>
			<string>{480,60}</string>
		</dict>
		<key>blood_70000.png</key>
		<dict>
			<key>frame</key>
			<string>{{1914,626},{132,50}}</string>
			<key>offset</key>
			<string>{-1,1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{173,4},{132,50}}</string>
			<key>sourceSize</key>
			<string>{480,60}</string>
		</dict>
		<key>blood_75000.png</key>
		<dict>
			<key>frame</key>
			<string>{{1916,522},{130,50}}</string>
			<key>offset</key>
			<string>{-4,1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{171,4},{130,50}}</string>
			<key>sourceSize</key>
			<string>{480,60}</string>
		</dict>
		<key>blood_80000.png</key>
		<dict>
			<key>frame</key>
			<string>{{1914,574},{132,50}}</string>
			<key>offset</key>
			<string>{-4,1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{170,4},{132,50}}</string>
			<key>sourceSize</key>
			<string>{480,60}</string>
		</dict>
		<key>blood_bg.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{474,52}}</string>
			<key>offset</key>
			<string>{0,1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{3,3},{474,52}}</string>
			<key>sourceSize</key>
			<string>{480,60}</string>
		</dict>
		<key>boss_09_locked.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,380},{408,300}}</string>
			<key>offset</key>
			<string>{0,-2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{6,22},{408,300}}</string>
			<key>sourceSize</key>
			<string>{420,340}</string>
		</dict>
		<key>boss_09_normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{412,326},{408,300}}</string>
			<key>offset</key>
			<string>{0,-2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{6,22},{408,300}}</string>
			<key>sourceSize</key>
			<string>{420,340}</string>
		</dict>
		<key>boss_10_locked.png</key>
		<dict>
			<key>frame</key>
			<string>{{412,628},{408,298}}</string>
			<key>offset</key>
			<string>{0,-3}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{6,24},{408,298}}</string>
			<key>sourceSize</key>
			<string>{420,340}</string>
		</dict>
		<key>boss_10_normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{822,622},{408,298}}</string>
			<key>offset</key>
			<string>{0,-3}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{6,24},{408,298}}</string>
			<key>sourceSize</key>
			<string>{420,340}</string>
		</dict>
		<key>boss_11_locked.png</key>
		<dict>
			<key>frame</key>
			<string>{{1298,2},{408,314}}</string>
			<key>offset</key>
			<string>{0,5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{6,8},{408,314}}</string>
			<key>sourceSize</key>
			<string>{420,340}</string>
		</dict>
		<key>boss_11_normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{888,2},{408,314}}</string>
			<key>offset</key>
			<string>{0,5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{6,8},{408,314}}</string>
			<key>sourceSize</key>
			<string>{420,340}</string>
		</dict>
		<key>boss_12_locked.png</key>
		<dict>
			<key>frame</key>
			<string>{{822,922},{408,294}}</string>
			<key>offset</key>
			<string>{0,-5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{6,28},{408,294}}</string>
			<key>sourceSize</key>
			<string>{420,340}</string>
		</dict>
		<key>boss_12_normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{1232,920},{408,294}}</string>
			<key>offset</key>
			<string>{0,-5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{6,28},{408,294}}</string>
			<key>sourceSize</key>
			<string>{420,340}</string>
		</dict>
		<key>boss_13_locked.png</key>
		<dict>
			<key>frame</key>
			<string>{{1298,318},{408,302}}</string>
			<key>offset</key>
			<string>{0,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{6,20},{408,302}}</string>
			<key>sourceSize</key>
			<string>{420,340}</string>
		</dict>
		<key>boss_13_normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{888,318},{408,302}}</string>
			<key>offset</key>
			<string>{0,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{6,20},{408,302}}</string>
			<key>sourceSize</key>
			<string>{420,340}</string>
		</dict>
		<key>boss_14_locked.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,56},{408,322}}</string>
			<key>offset</key>
			<string>{0,9}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{6,0},{408,322}}</string>
			<key>sourceSize</key>
			<string>{420,340}</string>
		</dict>
		<key>boss_14_normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{478,2},{408,322}}</string>
			<key>offset</key>
			<string>{0,9}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{6,0},{408,322}}</string>
			<key>sourceSize</key>
			<string>{420,340}</string>
		</dict>
		<key>boss_15_locked.png</key>
		<dict>
			<key>frame</key>
			<string>{{1232,622},{408,296}}</string>
			<key>offset</key>
			<string>{0,-4}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{6,26},{408,296}}</string>
			<key>sourceSize</key>
			<string>{420,340}</string>
		</dict>
		<key>boss_15_normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,682},{408,296}}</string>
			<key>offset</key>
			<string>{0,-4}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{6,26},{408,296}}</string>
			<key>sourceSize</key>
			<string>{420,340}</string>
		</dict>
		<key>boss_16_locked.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,980},{408,264}}</string>
			<key>offset</key>
			<string>{0,-20}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{6,58},{408,264}}</string>
			<key>sourceSize</key>
			<string>{420,340}</string>
		</dict>
		<key>boss_16_normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{412,928},{408,264}}</string>
			<key>offset</key>
			<string>{0,-20}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{6,58},{408,264}}</string>
			<key>sourceSize</key>
			<string>{420,340}</string>
		</dict>
		<key>name_01_locked.png</key>
		<dict>
			<key>frame</key>
			<string>{{1642,906},{168,28}}</string>
			<key>offset</key>
			<string>{3,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{69,26},{168,28}}</string>
			<key>sourceSize</key>
			<string>{300,80}</string>
		</dict>
		<key>name_01_normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{1642,718},{188,50}}</string>
			<key>offset</key>
			<string>{2,1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{58,14},{188,50}}</string>
			<key>sourceSize</key>
			<string>{300,80}</string>
		</dict>
		<key>name_02_locked.png</key>
		<dict>
			<key>frame</key>
			<string>{{1708,434},{212,32}}</string>
			<key>offset</key>
			<string>{4,-2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{48,26},{212,32}}</string>
			<key>sourceSize</key>
			<string>{300,80}</string>
		</dict>
		<key>name_02_normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{1708,106},{234,54}}</string>
			<key>offset</key>
			<string>{3,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{36,13},{234,54}}</string>
			<key>sourceSize</key>
			<string>{300,80}</string>
		</dict>
		<key>name_03_locked.png</key>
		<dict>
			<key>frame</key>
			<string>{{1708,266},{226,30}}</string>
			<key>offset</key>
			<string>{4,1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{41,24},{226,30}}</string>
			<key>sourceSize</key>
			<string>{300,80}</string>
		</dict>
		<key>name_03_normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{1708,2},{248,50}}</string>
			<key>offset</key>
			<string>{3,1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{29,14},{248,50}}</string>
			<key>sourceSize</key>
			<string>{300,80}</string>
		</dict>
		<key>name_04_locked.png</key>
		<dict>
			<key>frame</key>
			<string>{{1828,794},{174,30}}</string>
			<key>offset</key>
			<string>{3,1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{66,24},{174,30}}</string>
			<key>sourceSize</key>
			<string>{300,80}</string>
		</dict>
		<key>name_04_normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{1642,666},{196,50}}</string>
			<key>offset</key>
			<string>{3,1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{55,14},{196,50}}</string>
			<key>sourceSize</key>
			<string>{300,80}</string>
		</dict>
		<key>name_05_locked.png</key>
		<dict>
			<key>frame</key>
			<string>{{1792,1096},{148,28}}</string>
			<key>offset</key>
			<string>{3,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{79,26},{148,28}}</string>
			<key>sourceSize</key>
			<string>{300,80}</string>
		</dict>
		<key>name_05_normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{1814,826},{170,50}}</string>
			<key>offset</key>
			<string>{3,1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{68,14},{170,50}}</string>
			<key>sourceSize</key>
			<string>{300,80}</string>
		</dict>
		<key>name_06_locked.png</key>
		<dict>
			<key>frame</key>
			<string>{{1708,350},{218,28}}</string>
			<key>offset</key>
			<string>{3,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{44,26},{218,28}}</string>
			<key>sourceSize</key>
			<string>{300,80}</string>
		</dict>
		<key>name_06_normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{1708,54},{242,50}}</string>
			<key>offset</key>
			<string>{3,1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{32,14},{242,50}}</string>
			<key>sourceSize</key>
			<string>{300,80}</string>
		</dict>
		<key>name_07_locked.png</key>
		<dict>
			<key>frame</key>
			<string>{{1812,930},{164,28}}</string>
			<key>offset</key>
			<string>{3,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{71,26},{164,28}}</string>
			<key>sourceSize</key>
			<string>{300,80}</string>
		</dict>
		<key>name_07_normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{1832,742},{186,50}}</string>
			<key>offset</key>
			<string>{3,1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{60,14},{186,50}}</string>
			<key>sourceSize</key>
			<string>{300,80}</string>
		</dict>
		<key>name_08_locked.png</key>
		<dict>
			<key>frame</key>
			<string>{{1642,770},{184,28}}</string>
			<key>offset</key>
			<string>{4,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{62,26},{184,28}}</string>
			<key>sourceSize</key>
			<string>{300,80}</string>
		</dict>
		<key>name_08_normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{1708,522},{206,50}}</string>
			<key>offset</key>
			<string>{3,1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{50,14},{206,50}}</string>
			<key>sourceSize</key>
			<string>{300,80}</string>
		</dict>
		<key>name_09_locked.png</key>
		<dict>
			<key>frame</key>
			<string>{{1792,1064},{148,30}}</string>
			<key>offset</key>
			<string>{4,1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{80,24},{148,30}}</string>
			<key>sourceSize</key>
			<string>{300,80}</string>
		</dict>
		<key>name_09_normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{1642,800},{170,50}}</string>
			<key>offset</key>
			<string>{4,1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{69,14},{170,50}}</string>
			<key>sourceSize</key>
			<string>{300,80}</string>
		</dict>
		<key>name_10_locked.png</key>
		<dict>
			<key>frame</key>
			<string>{{1642,1072},{148,28}}</string>
			<key>offset</key>
			<string>{3,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{79,26},{148,28}}</string>
			<key>sourceSize</key>
			<string>{300,80}</string>
		</dict>
		<key>name_10_normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{1812,878},{168,50}}</string>
			<key>offset</key>
			<string>{3,1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{69,14},{168,50}}</string>
			<key>sourceSize</key>
			<string>{300,80}</string>
		</dict>
		<key>name_11_locked.png</key>
		<dict>
			<key>frame</key>
			<string>{{1708,606},{204,28}}</string>
			<key>offset</key>
			<string>{3,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{51,26},{204,28}}</string>
			<key>sourceSize</key>
			<string>{300,80}</string>
		</dict>
		<key>name_11_normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{1708,214},{226,50}}</string>
			<key>offset</key>
			<string>{3,1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{40,14},{226,50}}</string>
			<key>sourceSize</key>
			<string>{300,80}</string>
		</dict>
		<key>name_12_locked.png</key>
		<dict>
			<key>frame</key>
			<string>{{1708,574},{204,30}}</string>
			<key>offset</key>
			<string>{4,1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{52,24},{204,30}}</string>
			<key>sourceSize</key>
			<string>{300,80}</string>
		</dict>
		<key>name_12_normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{1708,162},{226,50}}</string>
			<key>offset</key>
			<string>{3,1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{40,14},{226,50}}</string>
			<key>sourceSize</key>
			<string>{300,80}</string>
		</dict>
		<key>name_13_locked.png</key>
		<dict>
			<key>frame</key>
			<string>{{1840,678},{192,30}}</string>
			<key>offset</key>
			<string>{0,1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{54,24},{192,30}}</string>
			<key>sourceSize</key>
			<string>{300,80}</string>
		</dict>
		<key>name_13_normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{1708,380},{214,52}}</string>
			<key>offset</key>
			<string>{1,1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{44,13},{214,52}}</string>
			<key>sourceSize</key>
			<string>{300,80}</string>
		</dict>
		<key>name_14_locked.png</key>
		<dict>
			<key>frame</key>
			<string>{{1642,1040},{148,30}}</string>
			<key>offset</key>
			<string>{1,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{77,25},{148,30}}</string>
			<key>sourceSize</key>
			<string>{300,80}</string>
		</dict>
		<key>name_14_normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{1642,852},{168,52}}</string>
			<key>offset</key>
			<string>{1,1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{67,13},{168,52}}</string>
			<key>sourceSize</key>
			<string>{300,80}</string>
		</dict>
		<key>name_15_locked.png</key>
		<dict>
			<key>frame</key>
			<string>{{1642,636},{202,28}}</string>
			<key>offset</key>
			<string>{2,1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{51,25},{202,28}}</string>
			<key>sourceSize</key>
			<string>{300,80}</string>
		</dict>
		<key>name_15_normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{1708,298},{222,50}}</string>
			<key>offset</key>
			<string>{3,1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{42,14},{222,50}}</string>
			<key>sourceSize</key>
			<string>{300,80}</string>
		</dict>
		<key>name_16_locked.png</key>
		<dict>
			<key>frame</key>
			<string>{{1840,710},{190,30}}</string>
			<key>offset</key>
			<string>{1,1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{56,24},{190,30}}</string>
			<key>sourceSize</key>
			<string>{300,80}</string>
		</dict>
		<key>name_16_normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{1708,468},{210,52}}</string>
			<key>offset</key>
			<string>{1,1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{46,13},{210,52}}</string>
			<key>sourceSize</key>
			<string>{300,80}</string>
		</dict>
		<key>ss_help_normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{412,56},{42,42}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{19,9},{42,42}}</string>
			<key>sourceSize</key>
			<string>{80,60}</string>
		</dict>
		<key>ss_help_pressed.png</key>
		<dict>
			<key>frame</key>
			<string>{{1958,2},{68,60}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{6,0},{68,60}}</string>
			<key>sourceSize</key>
			<string>{80,60}</string>
		</dict>
		<key>theme_bg_CN.png</key>
		<dict>
			<key>frame</key>
			<string>{{1776,1230},{128,28}}</string>
			<key>offset</key>
			<string>{-3,290}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{413,16},{128,28}}</string>
			<key>sourceSize</key>
			<string>{960,640}</string>
		</dict>
		<key>theme_bg_EN.png</key>
		<dict>
			<key>frame</key>
			<string>{{1642,1102},{142,24}}</string>
			<key>offset</key>
			<string>{-3,291}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{406,17},{142,24}}</string>
			<key>sourceSize</key>
			<string>{960,640}</string>
		</dict>
		<key>theme_bg_TW.png</key>
		<dict>
			<key>frame</key>
			<string>{{1776,1230},{128,28}}</string>
			<key>offset</key>
			<string>{-3,290}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{413,16},{128,28}}</string>
			<key>sourceSize</key>
			<string>{960,640}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>antiboss1-hd.png</string>
		<key>size</key>
		<string>{2048,2048}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:7ed1312bd11d332deb1a7d95fb23845b$</string>
		<key>textureFileName</key>
		<string>antiboss1-hd.png</string>
	</dict>
</dict>
</plist>
