<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>menu_bg.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{442,338}}</string>
			<key>offset</key>
			<string>{15,-8}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{34,19},{442,338}}</string>
			<key>sourceSize</key>
			<string>{480,360}</string>
		</dict>
		<key>menu_quit_normal_CN.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,564},{236,72}}</string>
			<key>offset</key>
			<string>{1,-2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{33,6},{236,72}}</string>
			<key>sourceSize</key>
			<string>{300,80}</string>
		</dict>
		<key>menu_quit_normal_EN.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,490},{236,72}}</string>
			<key>offset</key>
			<string>{1,-2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{33,6},{236,72}}</string>
			<key>sourceSize</key>
			<string>{300,80}</string>
		</dict>
		<key>menu_quit_normal_TW.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,416},{236,72}}</string>
			<key>offset</key>
			<string>{1,-2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{33,6},{236,72}}</string>
			<key>sourceSize</key>
			<string>{300,80}</string>
		</dict>
		<key>menu_quit_pressed_CN.png</key>
		<dict>
			<key>frame</key>
			<string>{{314,342},{236,72}}</string>
			<key>offset</key>
			<string>{1,-2}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{33,6},{236,72}}</string>
			<key>sourceSize</key>
			<string>{300,80}</string>
		</dict>
		<key>menu_quit_pressed_EN.png</key>
		<dict>
			<key>frame</key>
			<string>{{240,342},{236,72}}</string>
			<key>offset</key>
			<string>{1,-2}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{33,6},{236,72}}</string>
			<key>sourceSize</key>
			<string>{300,80}</string>
		</dict>
		<key>menu_quit_pressed_TW.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,342},{236,72}}</string>
			<key>offset</key>
			<string>{1,-2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{33,6},{236,72}}</string>
			<key>sourceSize</key>
			<string>{300,80}</string>
		</dict>
		<key>menu_restart_normal_CN.png</key>
		<dict>
			<key>frame</key>
			<string>{{684,298},{236,72}}</string>
			<key>offset</key>
			<string>{1,-2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{33,6},{236,72}}</string>
			<key>sourceSize</key>
			<string>{300,80}</string>
		</dict>
		<key>menu_restart_normal_EN.png</key>
		<dict>
			<key>frame</key>
			<string>{{446,298},{236,72}}</string>
			<key>offset</key>
			<string>{1,-2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{33,6},{236,72}}</string>
			<key>sourceSize</key>
			<string>{300,80}</string>
		</dict>
		<key>menu_restart_normal_TW.png</key>
		<dict>
			<key>frame</key>
			<string>{{922,240},{236,72}}</string>
			<key>offset</key>
			<string>{1,-2}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{33,6},{236,72}}</string>
			<key>sourceSize</key>
			<string>{300,80}</string>
		</dict>
		<key>menu_restart_pressed_CN.png</key>
		<dict>
			<key>frame</key>
			<string>{{684,224},{236,72}}</string>
			<key>offset</key>
			<string>{1,-2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{33,6},{236,72}}</string>
			<key>sourceSize</key>
			<string>{300,80}</string>
		</dict>
		<key>menu_restart_pressed_EN.png</key>
		<dict>
			<key>frame</key>
			<string>{{446,224},{236,72}}</string>
			<key>offset</key>
			<string>{1,-2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{33,6},{236,72}}</string>
			<key>sourceSize</key>
			<string>{300,80}</string>
		</dict>
		<key>menu_restart_pressed_TW.png</key>
		<dict>
			<key>frame</key>
			<string>{{684,150},{236,72}}</string>
			<key>offset</key>
			<string>{1,-2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{33,6},{236,72}}</string>
			<key>sourceSize</key>
			<string>{300,80}</string>
		</dict>
		<key>menu_resume_normal_CN.png</key>
		<dict>
			<key>frame</key>
			<string>{{446,150},{236,72}}</string>
			<key>offset</key>
			<string>{1,-2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{33,6},{236,72}}</string>
			<key>sourceSize</key>
			<string>{300,80}</string>
		</dict>
		<key>menu_resume_normal_EN.png</key>
		<dict>
			<key>frame</key>
			<string>{{684,76},{236,72}}</string>
			<key>offset</key>
			<string>{1,-2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{33,6},{236,72}}</string>
			<key>sourceSize</key>
			<string>{300,80}</string>
		</dict>
		<key>menu_resume_normal_TW.png</key>
		<dict>
			<key>frame</key>
			<string>{{446,76},{236,72}}</string>
			<key>offset</key>
			<string>{1,-2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{33,6},{236,72}}</string>
			<key>sourceSize</key>
			<string>{300,80}</string>
		</dict>
		<key>menu_resume_pressed_CN.png</key>
		<dict>
			<key>frame</key>
			<string>{{922,2},{236,72}}</string>
			<key>offset</key>
			<string>{1,-2}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{33,6},{236,72}}</string>
			<key>sourceSize</key>
			<string>{300,80}</string>
		</dict>
		<key>menu_resume_pressed_EN.png</key>
		<dict>
			<key>frame</key>
			<string>{{684,2},{236,72}}</string>
			<key>offset</key>
			<string>{1,-2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{33,6},{236,72}}</string>
			<key>sourceSize</key>
			<string>{300,80}</string>
		</dict>
		<key>menu_resume_pressed_TW.png</key>
		<dict>
			<key>frame</key>
			<string>{{446,2},{236,72}}</string>
			<key>offset</key>
			<string>{1,-2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{33,6},{236,72}}</string>
			<key>sourceSize</key>
			<string>{300,80}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>gamemenu-hd.png</string>
		<key>size</key>
		<string>{1024,1024}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:fd1feec9db64cc7e796f268ce53d4aa0$</string>
		<key>textureFileName</key>
		<string>gamemenu-hd.png</string>
	</dict>
</dict>
</plist>
