<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>lose_bg.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{696,476}}</string>
			<key>offset</key>
			<string>{27,2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{54,0},{696,476}}</string>
			<key>sourceSize</key>
			<string>{750,480}</string>
		</dict>
		<key>lose_bg_CN.png</key>
		<dict>
			<key>frame</key>
			<string>{{1378,2},{412,86}}</string>
			<key>offset</key>
			<string>{8,1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{177,196},{412,86}}</string>
			<key>sourceSize</key>
			<string>{750,480}</string>
		</dict>
		<key>lose_bg_EN.png</key>
		<dict>
			<key>frame</key>
			<string>{{1378,90},{412,80}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{169,200},{412,80}}</string>
			<key>sourceSize</key>
			<string>{750,480}</string>
		</dict>
		<key>lose_bg_TW.png</key>
		<dict>
			<key>frame</key>
			<string>{{1378,172},{410,86}}</string>
			<key>offset</key>
			<string>{8,1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{178,196},{410,86}}</string>
			<key>sourceSize</key>
			<string>{750,480}</string>
		</dict>
		<key>select_normal_EN.png</key>
		<dict>
			<key>frame</key>
			<string>{{922,400},{220,72}}</string>
			<key>offset</key>
			<string>{0,-4}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,8},{220,72}}</string>
			<key>sourceSize</key>
			<string>{220,80}</string>
		</dict>
		<key>select_pressed_EN.png</key>
		<dict>
			<key>frame</key>
			<string>{{700,400},{220,72}}</string>
			<key>offset</key>
			<string>{0,-4}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,8},{220,72}}</string>
			<key>sourceSize</key>
			<string>{220,80}</string>
		</dict>
		<key>win_bg.png</key>
		<dict>
			<key>frame</key>
			<string>{{700,2},{676,396}}</string>
			<key>offset</key>
			<string>{14,6}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{51,36},{676,396}}</string>
			<key>sourceSize</key>
			<string>{750,480}</string>
		</dict>
		<key>win_bg_CN.png</key>
		<dict>
			<key>frame</key>
			<string>{{1378,2},{412,86}}</string>
			<key>offset</key>
			<string>{8,1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{177,196},{412,86}}</string>
			<key>sourceSize</key>
			<string>{750,480}</string>
		</dict>
		<key>win_bg_EN.png</key>
		<dict>
			<key>frame</key>
			<string>{{1378,90},{412,80}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{169,200},{412,80}}</string>
			<key>sourceSize</key>
			<string>{750,480}</string>
		</dict>
		<key>win_bg_TW.png</key>
		<dict>
			<key>frame</key>
			<string>{{1378,172},{410,86}}</string>
			<key>offset</key>
			<string>{8,1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{178,196},{410,86}}</string>
			<key>sourceSize</key>
			<string>{750,480}</string>
		</dict>
		<key>win_stagenum-hd.png</key>
		<dict>
			<key>frame</key>
			<string>{{1144,400},{162,20}}</string>
			<key>offset</key>
			<string>{15,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{30,3},{162,20}}</string>
			<key>sourceSize</key>
			<string>{192,26}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>gameover0-hd.png</string>
		<key>size</key>
		<string>{1792,480}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:a4941ad5c21f17aa8fb03126f0ade28d$</string>
		<key>textureFileName</key>
		<string>gameover0-hd.png</string>
	</dict>
</dict>
</plist>
