<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>qqewr0001.png</key>
		<dict>
			<key>frame</key>
			<string>{{992,406},{1,1}}</string>
			<key>offset</key>
			<string>{-274.5,274.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{1,1}}</string>
			<key>sourceSize</key>
			<string>{550,550}</string>
		</dict>
		<key>qqewr0002.png</key>
		<dict>
			<key>frame</key>
			<string>{{848,916},{132,118}}</string>
			<key>offset</key>
			<string>{-2,124}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{207,92},{132,118}}</string>
			<key>sourceSize</key>
			<string>{550,550}</string>
		</dict>
		<key>qqewr0003.png</key>
		<dict>
			<key>frame</key>
			<string>{{1272,854},{146,126}}</string>
			<key>offset</key>
			<string>{-4,123}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{198,89},{146,126}}</string>
			<key>sourceSize</key>
			<string>{550,550}</string>
		</dict>
		<key>qqewr0004.png</key>
		<dict>
			<key>frame</key>
			<string>{{1312,586},{160,138}}</string>
			<key>offset</key>
			<string>{-6,124}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{189,82},{160,138}}</string>
			<key>sourceSize</key>
			<string>{550,550}</string>
		</dict>
		<key>qqewr0005.png</key>
		<dict>
			<key>frame</key>
			<string>{{1312,412},{172,154}}</string>
			<key>offset</key>
			<string>{-8,122}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{181,76},{172,154}}</string>
			<key>sourceSize</key>
			<string>{550,550}</string>
		</dict>
		<key>qqewr0006.png</key>
		<dict>
			<key>frame</key>
			<string>{{1868,194},{182,168}}</string>
			<key>offset</key>
			<string>{-10,121}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{174,70},{182,168}}</string>
			<key>sourceSize</key>
			<string>{550,550}</string>
		</dict>
		<key>qqewr0007.png</key>
		<dict>
			<key>frame</key>
			<string>{{1868,2},{190,178}}</string>
			<key>offset</key>
			<string>{-12,120}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{168,66},{190,178}}</string>
			<key>sourceSize</key>
			<string>{550,550}</string>
		</dict>
		<key>qqewr0008.png</key>
		<dict>
			<key>frame</key>
			<string>{{1826,610},{198,188}}</string>
			<key>offset</key>
			<string>{-13,119}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{163,62},{198,188}}</string>
			<key>sourceSize</key>
			<string>{550,550}</string>
		</dict>
		<key>qqewr0009.png</key>
		<dict>
			<key>frame</key>
			<string>{{1826,378},{230,216}}</string>
			<key>offset</key>
			<string>{-13,117}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{147,50},{230,216}}</string>
			<key>sourceSize</key>
			<string>{550,550}</string>
		</dict>
		<key>qqewr0010.png</key>
		<dict>
			<key>frame</key>
			<string>{{440,798},{258,240}}</string>
			<key>offset</key>
			<string>{-11,114}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{135,41},{258,240}}</string>
			<key>sourceSize</key>
			<string>{550,550}</string>
		</dict>
		<key>qqewr0011.png</key>
		<dict>
			<key>frame</key>
			<string>{{992,726},{278,254}}</string>
			<key>offset</key>
			<string>{-8,111}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{128,37},{278,254}}</string>
			<key>sourceSize</key>
			<string>{550,550}</string>
		</dict>
		<key>qqewr0012.png</key>
		<dict>
			<key>frame</key>
			<string>{{1766,800},{288,270}}</string>
			<key>offset</key>
			<string>{-4,114}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{127,26},{288,270}}</string>
			<key>sourceSize</key>
			<string>{550,550}</string>
		</dict>
		<key>qqewr0013.png</key>
		<dict>
			<key>frame</key>
			<string>{{1474,696},{288,290}}</string>
			<key>offset</key>
			<string>{0,123}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{131,7},{288,290}}</string>
			<key>sourceSize</key>
			<string>{550,550}</string>
		</dict>
		<key>qqewr0014.png</key>
		<dict>
			<key>frame</key>
			<string>{{992,412},{312,318}}</string>
			<key>offset</key>
			<string>{-3,116}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{116,0},{312,318}}</string>
			<key>sourceSize</key>
			<string>{550,550}</string>
		</dict>
		<key>qqewr0015.png</key>
		<dict>
			<key>frame</key>
			<string>{{1476,356},{348,338}}</string>
			<key>offset</key>
			<string>{2,106}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{103,0},{348,338}}</string>
			<key>sourceSize</key>
			<string>{550,550}</string>
		</dict>
		<key>qqewr0016.png</key>
		<dict>
			<key>frame</key>
			<string>{{1476,2},{390,352}}</string>
			<key>offset</key>
			<string>{-2,99}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{78,0},{390,352}}</string>
			<key>sourceSize</key>
			<string>{550,550}</string>
		</dict>
		<key>qqewr0017.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,784},{436,360}}</string>
			<key>offset</key>
			<string>{-6,95}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{51,0},{436,360}}</string>
			<key>sourceSize</key>
			<string>{550,550}</string>
		</dict>
		<key>qqewr0018.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,416},{466,366}}</string>
			<key>offset</key>
			<string>{-11,92}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{31,0},{466,366}}</string>
			<key>sourceSize</key>
			<string>{550,550}</string>
		</dict>
		<key>qqewr0019.png</key>
		<dict>
			<key>frame</key>
			<string>{{496,406},{494,390}}</string>
			<key>offset</key>
			<string>{-17,80}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{11,0},{494,390}}</string>
			<key>sourceSize</key>
			<string>{550,550}</string>
		</dict>
		<key>qqewr0020.png</key>
		<dict>
			<key>frame</key>
			<string>{{496,2},{498,402}}</string>
			<key>offset</key>
			<string>{-22,74}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{4,0},{498,402}}</string>
			<key>sourceSize</key>
			<string>{550,550}</string>
		</dict>
		<key>qqewr0021.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{492,412}}</string>
			<key>offset</key>
			<string>{-26,69}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{3,0},{492,412}}</string>
			<key>sourceSize</key>
			<string>{550,550}</string>
		</dict>
		<key>qqewr0022.png</key>
		<dict>
			<key>frame</key>
			<string>{{996,2},{478,408}}</string>
			<key>offset</key>
			<string>{-23,71}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{13,0},{478,408}}</string>
			<key>sourceSize</key>
			<string>{550,550}</string>
		</dict>
		<key>qqewr0023.png</key>
		<dict>
			<key>frame</key>
			<string>{{700,1030},{80,146}}</string>
			<key>offset</key>
			<string>{-3,122}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{232,80},{80,146}}</string>
			<key>sourceSize</key>
			<string>{550,550}</string>
		</dict>
		<key>qqewr0024.png</key>
		<dict>
			<key>frame</key>
			<string>{{440,1040},{90,116}}</string>
			<key>offset</key>
			<string>{-2,101}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{228,116},{90,116}}</string>
			<key>sourceSize</key>
			<string>{550,550}</string>
		</dict>
		<key>qqewr0025.png</key>
		<dict>
			<key>frame</key>
			<string>{{700,918},{110,128}}</string>
			<key>offset</key>
			<string>{-7,100}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{213,111},{110,128}}</string>
			<key>sourceSize</key>
			<string>{550,550}</string>
		</dict>
		<key>qqewr0026.png</key>
		<dict>
			<key>frame</key>
			<string>{{700,798},{118,146}}</string>
			<key>offset</key>
			<string>{-6,103}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{210,99},{118,146}}</string>
			<key>sourceSize</key>
			<string>{550,550}</string>
		</dict>
		<key>qqewr0027.png</key>
		<dict>
			<key>frame</key>
			<string>{{1272,726},{126,162}}</string>
			<key>offset</key>
			<string>{-5,105}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{207,89},{126,162}}</string>
			<key>sourceSize</key>
			<string>{550,550}</string>
		</dict>
		<key>qqewr0028.png</key>
		<dict>
			<key>frame</key>
			<string>{{848,798},{116,138}}</string>
			<key>offset</key>
			<string>{-14,102}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{203,104},{116,138}}</string>
			<key>sourceSize</key>
			<string>{550,550}</string>
		</dict>
		<key>qqewr0029.png</key>
		<dict>
			<key>frame</key>
			<string>{{558,1040},{74,82}}</string>
			<key>offset</key>
			<string>{-37,71}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{201,163},{74,82}}</string>
			<key>sourceSize</key>
			<string>{550,550}</string>
		</dict>
		<key>qqewr0030.png</key>
		<dict>
			<key>frame</key>
			<string>{{992,406},{1,1}}</string>
			<key>offset</key>
			<string>{-274.5,274.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{1,1}}</string>
			<key>sourceSize</key>
			<string>{550,550}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>gameover-qqewr-hd.png</string>
		<key>size</key>
		<string>{2048,2048}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:5f181b8b5e234481c4f318585c60aaa7$</string>
		<key>textureFileName</key>
		<string>gameover-qqewr-hd.png</string>
	</dict>
</dict>
</plist>
