<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>lose_bg.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{696,476}}</string>
			<key>offset</key>
			<string>{27,2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{54,0},{696,476}}</string>
			<key>sourceSize</key>
			<string>{750,480}</string>
		</dict>
		<key>lose_bg_CN.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,912},{380,32}}</string>
			<key>offset</key>
			<string>{-1,31}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{184,193},{380,32}}</string>
			<key>sourceSize</key>
			<string>{750,480}</string>
		</dict>
		<key>lose_bg_EN.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,946},{356,28}}</string>
			<key>offset</key>
			<string>{-7,31}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{190,195},{356,28}}</string>
			<key>sourceSize</key>
			<string>{750,480}</string>
		</dict>
		<key>lose_bg_TW.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,878},{380,32}}</string>
			<key>offset</key>
			<string>{-1,31}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{184,193},{380,32}}</string>
			<key>sourceSize</key>
			<string>{750,480}</string>
		</dict>
		<key>names_01.png</key>
		<dict>
			<key>frame</key>
			<string>{{352,1002},{170,20}}</string>
			<key>offset</key>
			<string>{1,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{76,10},{170,20}}</string>
			<key>sourceSize</key>
			<string>{320,40}</string>
		</dict>
		<key>names_02.png</key>
		<dict>
			<key>frame</key>
			<string>{{700,262},{200,24}}</string>
			<key>offset</key>
			<string>{1,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{61,9},{200,24}}</string>
			<key>sourceSize</key>
			<string>{320,40}</string>
		</dict>
		<key>names_03.png</key>
		<dict>
			<key>frame</key>
			<string>{{700,218},{208,20}}</string>
			<key>offset</key>
			<string>{1,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{57,10},{208,20}}</string>
			<key>sourceSize</key>
			<string>{320,40}</string>
		</dict>
		<key>names_04.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,1002},{176,20}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{72,10},{176,20}}</string>
			<key>sourceSize</key>
			<string>{320,40}</string>
		</dict>
		<key>names_05.png</key>
		<dict>
			<key>frame</key>
			<string>{{384,878},{160,20}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{80,10},{160,20}}</string>
			<key>sourceSize</key>
			<string>{320,40}</string>
		</dict>
		<key>names_06.png</key>
		<dict>
			<key>frame</key>
			<string>{{700,240},{204,20}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{58,10},{204,20}}</string>
			<key>sourceSize</key>
			<string>{320,40}</string>
		</dict>
		<key>names_07.png</key>
		<dict>
			<key>frame</key>
			<string>{{180,1002},{170,20}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{75,10},{170,20}}</string>
			<key>sourceSize</key>
			<string>{320,40}</string>
		</dict>
		<key>names_08.png</key>
		<dict>
			<key>frame</key>
			<string>{{700,398},{182,20}}</string>
			<key>offset</key>
			<string>{1,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{70,10},{182,20}}</string>
			<key>sourceSize</key>
			<string>{320,40}</string>
		</dict>
		<key>names_09.png</key>
		<dict>
			<key>frame</key>
			<string>{{524,990},{160,20}}</string>
			<key>offset</key>
			<string>{1,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{81,10},{160,20}}</string>
			<key>sourceSize</key>
			<string>{320,40}</string>
		</dict>
		<key>names_10.png</key>
		<dict>
			<key>frame</key>
			<string>{{376,968},{160,20}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{80,10},{160,20}}</string>
			<key>sourceSize</key>
			<string>{320,40}</string>
		</dict>
		<key>names_11.png</key>
		<dict>
			<key>frame</key>
			<string>{{700,332},{194,20}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{63,10},{194,20}}</string>
			<key>sourceSize</key>
			<string>{320,40}</string>
		</dict>
		<key>names_12.png</key>
		<dict>
			<key>frame</key>
			<string>{{700,310},{194,20}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{63,10},{194,20}}</string>
			<key>sourceSize</key>
			<string>{320,40}</string>
		</dict>
		<key>names_13.png</key>
		<dict>
			<key>frame</key>
			<string>{{700,376},{186,20}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{67,10},{186,20}}</string>
			<key>sourceSize</key>
			<string>{320,40}</string>
		</dict>
		<key>names_14.png</key>
		<dict>
			<key>frame</key>
			<string>{{360,946},{160,20}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{80,10},{160,20}}</string>
			<key>sourceSize</key>
			<string>{320,40}</string>
		</dict>
		<key>names_15.png</key>
		<dict>
			<key>frame</key>
			<string>{{700,288},{198,20}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{61,10},{198,20}}</string>
			<key>sourceSize</key>
			<string>{320,40}</string>
		</dict>
		<key>names_16.png</key>
		<dict>
			<key>frame</key>
			<string>{{700,354},{186,20}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{67,10},{186,20}}</string>
			<key>sourceSize</key>
			<string>{320,40}</string>
		</dict>
		<key>select_normal_EN.png</key>
		<dict>
			<key>frame</key>
			<string>{{700,144},{220,72}}</string>
			<key>offset</key>
			<string>{0,-4}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,8},{220,72}}</string>
			<key>sourceSize</key>
			<string>{220,80}</string>
		</dict>
		<key>select_pressed_EN.png</key>
		<dict>
			<key>frame</key>
			<string>{{700,70},{220,72}}</string>
			<key>offset</key>
			<string>{0,-4}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,8},{220,72}}</string>
			<key>sourceSize</key>
			<string>{220,80}</string>
		</dict>
		<key>win_bg.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,480},{676,396}}</string>
			<key>offset</key>
			<string>{14,6}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{51,36},{676,396}}</string>
			<key>sourceSize</key>
			<string>{750,480}</string>
		</dict>
		<key>win_bg_CN.png</key>
		<dict>
			<key>frame</key>
			<string>{{700,36},{298,32}}</string>
			<key>offset</key>
			<string>{6,28}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{232,196},{298,32}}</string>
			<key>sourceSize</key>
			<string>{750,480}</string>
		</dict>
		<key>win_bg_EN.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,976},{372,24}}</string>
			<key>offset</key>
			<string>{-2,28}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{187,200},{372,24}}</string>
			<key>sourceSize</key>
			<string>{750,480}</string>
		</dict>
		<key>win_bg_TW.png</key>
		<dict>
			<key>frame</key>
			<string>{{700,2},{298,32}}</string>
			<key>offset</key>
			<string>{6,28}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{232,196},{298,32}}</string>
			<key>sourceSize</key>
			<string>{750,480}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>gameover1-hd.png</string>
		<key>size</key>
		<string>{1024,1024}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:eaeed6c9978f82e6707b41c44e3d442d$</string>
		<key>textureFileName</key>
		<string>gameover1-hd.png</string>
	</dict>
</dict>
</plist>
