<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>continue_CN.png</key>
		<dict>
			<key>frame</key>
			<string>{{1172,890},{260,124}}</string>
			<key>offset</key>
			<string>{-18,119}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{52,89},{260,124}}</string>
			<key>sourceSize</key>
			<string>{400,540}</string>
		</dict>
		<key>continue_EN.png</key>
		<dict>
			<key>frame</key>
			<string>{{910,762},{274,122}}</string>
			<key>offset</key>
			<string>{-20,120}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{43,89},{274,122}}</string>
			<key>sourceSize</key>
			<string>{400,540}</string>
		</dict>
		<key>continue_TW.png</key>
		<dict>
			<key>frame</key>
			<string>{{910,886},{260,124}}</string>
			<key>offset</key>
			<string>{-18,118}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{52,90},{260,124}}</string>
			<key>sourceSize</key>
			<string>{400,540}</string>
		</dict>
		<key>desert_unlocked.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,518},{382,496}}</string>
			<key>offset</key>
			<string>{-1,21}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{8,1},{382,496}}</string>
			<key>sourceSize</key>
			<string>{400,540}</string>
		</dict>
		<key>desert_unlocked_CN.png</key>
		<dict>
			<key>frame</key>
			<string>{{1188,380},{234,124}}</string>
			<key>offset</key>
			<string>{17,121}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{100,87},{234,124}}</string>
			<key>sourceSize</key>
			<string>{400,540}</string>
		</dict>
		<key>desert_unlocked_EN.png</key>
		<dict>
			<key>frame</key>
			<string>{{962,518},{280,118}}</string>
			<key>offset</key>
			<string>{19,121}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{79,90},{280,118}}</string>
			<key>sourceSize</key>
			<string>{400,540}</string>
		</dict>
		<key>desert_unlocked_TW.png</key>
		<dict>
			<key>frame</key>
			<string>{{1188,254},{234,124}}</string>
			<key>offset</key>
			<string>{17,121}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{100,87},{234,124}}</string>
			<key>sourceSize</key>
			<string>{400,540}</string>
		</dict>
		<key>extreme_unlocked.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{400,514}}</string>
			<key>offset</key>
			<string>{0,13}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{400,514}}</string>
			<key>sourceSize</key>
			<string>{400,540}</string>
		</dict>
		<key>extreme_unlocked_CN.png</key>
		<dict>
			<key>frame</key>
			<string>{{1188,128},{234,124}}</string>
			<key>offset</key>
			<string>{20,122}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{103,86},{234,124}}</string>
			<key>sourceSize</key>
			<string>{400,540}</string>
		</dict>
		<key>extreme_unlocked_EN.png</key>
		<dict>
			<key>frame</key>
			<string>{{662,518},{298,118}}</string>
			<key>offset</key>
			<string>{19,121}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{70,90},{298,118}}</string>
			<key>sourceSize</key>
			<string>{400,540}</string>
		</dict>
		<key>extreme_unlocked_TW.png</key>
		<dict>
			<key>frame</key>
			<string>{{1188,2},{234,124}}</string>
			<key>offset</key>
			<string>{20,122}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{103,86},{234,124}}</string>
			<key>sourceSize</key>
			<string>{400,540}</string>
		</dict>
		<key>goextreme.png</key>
		<dict>
			<key>frame</key>
			<string>{{796,2},{390,514}}</string>
			<key>offset</key>
			<string>{5,13}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{10,0},{390,514}}</string>
			<key>sourceSize</key>
			<string>{400,540}</string>
		</dict>
		<key>goextreme_CN.png</key>
		<dict>
			<key>frame</key>
			<string>{{648,726},{260,210}}</string>
			<key>offset</key>
			<string>{-18,76}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{52,89},{260,210}}</string>
			<key>sourceSize</key>
			<string>{400,540}</string>
		</dict>
		<key>goextreme_EN.png</key>
		<dict>
			<key>frame</key>
			<string>{{386,518},{274,206}}</string>
			<key>offset</key>
			<string>{-20,78}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{43,89},{274,206}}</string>
			<key>sourceSize</key>
			<string>{400,540}</string>
		</dict>
		<key>goextreme_TW.png</key>
		<dict>
			<key>frame</key>
			<string>{{386,726},{260,210}}</string>
			<key>offset</key>
			<string>{-18,76}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{52,89},{260,210}}</string>
			<key>sourceSize</key>
			<string>{400,540}</string>
		</dict>
		<key>jungle_unlocked.png</key>
		<dict>
			<key>frame</key>
			<string>{{404,2},{390,514}}</string>
			<key>offset</key>
			<string>{-5,13}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{390,514}}</string>
			<key>sourceSize</key>
			<string>{400,540}</string>
		</dict>
		<key>jungle_unlocked_CN.png</key>
		<dict>
			<key>frame</key>
			<string>{{1186,764},{234,124}}</string>
			<key>offset</key>
			<string>{20,121}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{103,87},{234,124}}</string>
			<key>sourceSize</key>
			<string>{400,540}</string>
		</dict>
		<key>jungle_unlocked_EN.png</key>
		<dict>
			<key>frame</key>
			<string>{{910,638},{280,122}}</string>
			<key>offset</key>
			<string>{19,120}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{79,89},{280,122}}</string>
			<key>sourceSize</key>
			<string>{400,540}</string>
		</dict>
		<key>jungle_unlocked_TW.png</key>
		<dict>
			<key>frame</key>
			<string>{{1192,638},{234,124}}</string>
			<key>offset</key>
			<string>{20,121}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{103,87},{234,124}}</string>
			<key>sourceSize</key>
			<string>{400,540}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>goextreme-hd.png</string>
		<key>size</key>
		<string>{1434,1017}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:4c852317c2c536d6c1eb6379a6739fda$</string>
		<key>textureFileName</key>
		<string>goextreme-hd.png</string>
	</dict>
</dict>
</plist>
