<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>help_bg.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{960,640}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{960,640}}</string>
			<key>sourceSize</key>
			<string>{960,640}</string>
		</dict>
		<key>help_monster.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,644},{950,510}}</string>
			<key>offset</key>
			<string>{5,10}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{10,0},{950,510}}</string>
			<key>sourceSize</key>
			<string>{960,530}</string>
		</dict>
		<key>tips_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{964,354},{846,300}}</string>
			<key>offset</key>
			<string>{-2,-25}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,50},{846,300}}</string>
			<key>sourceSize</key>
			<string>{850,350}</string>
		</dict>
		<key>tips_2.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,1156},{846,312}}</string>
			<key>offset</key>
			<string>{-2,-19}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,38},{846,312}}</string>
			<key>sourceSize</key>
			<string>{850,350}</string>
		</dict>
		<key>tips_3.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,1470},{846,304}}</string>
			<key>offset</key>
			<string>{-2,-23}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,46},{846,304}}</string>
			<key>sourceSize</key>
			<string>{850,350}</string>
		</dict>
		<key>tips_4.png</key>
		<dict>
			<key>frame</key>
			<string>{{964,2},{846,350}}</string>
			<key>offset</key>
			<string>{-2,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{846,350}}</string>
			<key>sourceSize</key>
			<string>{850,350}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>help_3-hd.png</string>
		<key>size</key>
		<string>{2048,2048}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:08ee6f7a86b80fd2626fc00bb434e242$</string>
		<key>textureFileName</key>
		<string>help_3-hd.png</string>
	</dict>
</dict>
</plist>
