<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>help_home_normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{1870,1718},{120,72}}</string>
			<key>offset</key>
			<string>{0,3}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,21},{120,72}}</string>
			<key>sourceSize</key>
			<string>{120,120}</string>
		</dict>
		<key>help_home_pressed.png</key>
		<dict>
			<key>frame</key>
			<string>{{648,1734},{120,68}}</string>
			<key>offset</key>
			<string>{0,3}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,23},{120,68}}</string>
			<key>sourceSize</key>
			<string>{120,120}</string>
		</dict>
		<key>monster_normal_CN.png</key>
		<dict>
			<key>frame</key>
			<string>{{1698,1862},{60,30}}</string>
			<key>offset</key>
			<string>{-2,1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{53,24},{60,30}}</string>
			<key>sourceSize</key>
			<string>{170,80}</string>
		</dict>
		<key>monster_normal_EN.png</key>
		<dict>
			<key>frame</key>
			<string>{{1908,2},{122,22}}</string>
			<key>offset</key>
			<string>{0,1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{24,28},{122,22}}</string>
			<key>sourceSize</key>
			<string>{170,80}</string>
		</dict>
		<key>monster_normal_TW.png</key>
		<dict>
			<key>frame</key>
			<string>{{1698,1862},{60,30}}</string>
			<key>offset</key>
			<string>{-2,1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{53,24},{60,30}}</string>
			<key>sourceSize</key>
			<string>{170,80}</string>
		</dict>
		<key>monster_selected_CN.png</key>
		<dict>
			<key>frame</key>
			<string>{{476,1830},{170,46}}</string>
			<key>offset</key>
			<string>{0,1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,16},{170,46}}</string>
			<key>sourceSize</key>
			<string>{170,80}</string>
		</dict>
		<key>monster_selected_EN.png</key>
		<dict>
			<key>frame</key>
			<string>{{1698,1814},{170,46}}</string>
			<key>offset</key>
			<string>{0,1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,16},{170,46}}</string>
			<key>sourceSize</key>
			<string>{170,80}</string>
		</dict>
		<key>monster_selected_TW.png</key>
		<dict>
			<key>frame</key>
			<string>{{476,1830},{170,46}}</string>
			<key>offset</key>
			<string>{0,1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,16},{170,46}}</string>
			<key>sourceSize</key>
			<string>{170,80}</string>
		</dict>
		<key>tips_normal_CN.png</key>
		<dict>
			<key>frame</key>
			<string>{{1872,250},{60,30}}</string>
			<key>offset</key>
			<string>{-2,1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{53,24},{60,30}}</string>
			<key>sourceSize</key>
			<string>{170,80}</string>
		</dict>
		<key>tips_normal_EN.png</key>
		<dict>
			<key>frame</key>
			<string>{{1908,126},{56,22}}</string>
			<key>offset</key>
			<string>{-2,1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{55,28},{56,22}}</string>
			<key>sourceSize</key>
			<string>{170,80}</string>
		</dict>
		<key>tips_normal_TW.png</key>
		<dict>
			<key>frame</key>
			<string>{{476,1878},{58,30}}</string>
			<key>offset</key>
			<string>{-1,2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{55,23},{58,30}}</string>
			<key>sourceSize</key>
			<string>{170,80}</string>
		</dict>
		<key>tips_selected_CN.png</key>
		<dict>
			<key>frame</key>
			<string>{{476,1782},{170,46}}</string>
			<key>offset</key>
			<string>{0,1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,16},{170,46}}</string>
			<key>sourceSize</key>
			<string>{170,80}</string>
		</dict>
		<key>tips_selected_EN.png</key>
		<dict>
			<key>frame</key>
			<string>{{1698,1766},{170,46}}</string>
			<key>offset</key>
			<string>{0,1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,16},{170,46}}</string>
			<key>sourceSize</key>
			<string>{170,80}</string>
		</dict>
		<key>tips_selected_TW.png</key>
		<dict>
			<key>frame</key>
			<string>{{476,1734},{170,46}}</string>
			<key>offset</key>
			<string>{0,1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,16},{170,46}}</string>
			<key>sourceSize</key>
			<string>{170,80}</string>
		</dict>
		<key>tower_01_CN.png</key>
		<dict>
			<key>frame</key>
			<string>{{280,744},{276,246}}</string>
			<key>offset</key>
			<string>{2,-66}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{40,188},{276,246}}</string>
			<key>sourceSize</key>
			<string>{352,490}</string>
		</dict>
		<key>tower_01_EN.png</key>
		<dict>
			<key>frame</key>
			<string>{{550,992},{262,244}}</string>
			<key>offset</key>
			<string>{2,-65}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{47,188},{262,244}}</string>
			<key>sourceSize</key>
			<string>{352,490}</string>
		</dict>
		<key>tower_01_TW.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,992},{276,246}}</string>
			<key>offset</key>
			<string>{2,-66}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{40,188},{276,246}}</string>
			<key>sourceSize</key>
			<string>{352,490}</string>
		</dict>
		<key>tower_02_CN.png</key>
		<dict>
			<key>frame</key>
			<string>{{1450,1492},{226,246}}</string>
			<key>offset</key>
			<string>{5,-66}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{68,188},{226,246}}</string>
			<key>sourceSize</key>
			<string>{352,490}</string>
		</dict>
		<key>tower_02_EN.png</key>
		<dict>
			<key>frame</key>
			<string>{{1074,496},{250,242}}</string>
			<key>offset</key>
			<string>{2,-66}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{53,190},{250,242}}</string>
			<key>sourceSize</key>
			<string>{352,490}</string>
		</dict>
		<key>tower_02_TW.png</key>
		<dict>
			<key>frame</key>
			<string>{{1450,1720},{224,246}}</string>
			<key>offset</key>
			<string>{5,-66}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{69,188},{224,246}}</string>
			<key>sourceSize</key>
			<string>{352,490}</string>
		</dict>
		<key>tower_03_CN.png</key>
		<dict>
			<key>frame</key>
			<string>{{814,996},{252,246}}</string>
			<key>offset</key>
			<string>{6,-66}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{56,188},{252,246}}</string>
			<key>sourceSize</key>
			<string>{352,490}</string>
		</dict>
		<key>tower_03_EN.png</key>
		<dict>
			<key>frame</key>
			<string>{{290,2},{282,244}}</string>
			<key>offset</key>
			<string>{2,-65}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{37,188},{282,244}}</string>
			<key>sourceSize</key>
			<string>{352,490}</string>
		</dict>
		<key>tower_03_TW.png</key>
		<dict>
			<key>frame</key>
			<string>{{822,748},{252,246}}</string>
			<key>offset</key>
			<string>{5,-66}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{55,188},{252,246}}</string>
			<key>sourceSize</key>
			<string>{352,490}</string>
		</dict>
		<key>tower_04_CN.png</key>
		<dict>
			<key>frame</key>
			<string>{{1560,742},{228,244}}</string>
			<key>offset</key>
			<string>{5,-67}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{67,190},{228,244}}</string>
			<key>sourceSize</key>
			<string>{352,490}</string>
		</dict>
		<key>tower_04_EN.png</key>
		<dict>
			<key>frame</key>
			<string>{{854,2},{268,242}}</string>
			<key>offset</key>
			<string>{3,-66}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{45,190},{268,242}}</string>
			<key>sourceSize</key>
			<string>{352,490}</string>
		</dict>
		<key>tower_04_TW.png</key>
		<dict>
			<key>frame</key>
			<string>{{496,1486},{228,246}}</string>
			<key>offset</key>
			<string>{5,-66}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{67,188},{228,246}}</string>
			<key>sourceSize</key>
			<string>{352,490}</string>
		</dict>
		<key>tower_05_CN.png</key>
		<dict>
			<key>frame</key>
			<string>{{286,496},{276,246}}</string>
			<key>offset</key>
			<string>{4,-66}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{42,188},{276,246}}</string>
			<key>sourceSize</key>
			<string>{352,490}</string>
		</dict>
		<key>tower_05_EN.png</key>
		<dict>
			<key>frame</key>
			<string>{{1318,250},{250,244}}</string>
			<key>offset</key>
			<string>{3,-65}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{54,188},{250,244}}</string>
			<key>sourceSize</key>
			<string>{352,490}</string>
		</dict>
		<key>tower_05_TW.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,744},{276,246}}</string>
			<key>offset</key>
			<string>{3,-66}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{41,188},{276,246}}</string>
			<key>sourceSize</key>
			<string>{352,490}</string>
		</dict>
		<key>tower_06_CN.png</key>
		<dict>
			<key>frame</key>
			<string>{{564,248},{272,246}}</string>
			<key>offset</key>
			<string>{1,-66}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{41,188},{272,246}}</string>
			<key>sourceSize</key>
			<string>{352,490}</string>
		</dict>
		<key>tower_06_EN.png</key>
		<dict>
			<key>frame</key>
			<string>{{1568,496},{238,244}}</string>
			<key>offset</key>
			<string>{-1,-65}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{56,188},{238,244}}</string>
			<key>sourceSize</key>
			<string>{352,490}</string>
		</dict>
		<key>tower_06_TW.png</key>
		<dict>
			<key>frame</key>
			<string>{{286,248},{276,246}}</string>
			<key>offset</key>
			<string>{4,-66}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{42,188},{276,246}}</string>
			<key>sourceSize</key>
			<string>{352,490}</string>
		</dict>
		<key>tower_07_CN.png</key>
		<dict>
			<key>frame</key>
			<string>{{1202,1492},{226,246}}</string>
			<key>offset</key>
			<string>{5,-66}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{68,188},{226,246}}</string>
			<key>sourceSize</key>
			<string>{352,490}</string>
		</dict>
		<key>tower_07_EN.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{286,244}}</string>
			<key>offset</key>
			<string>{3,-65}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{36,188},{286,244}}</string>
			<key>sourceSize</key>
			<string>{352,490}</string>
		</dict>
		<key>tower_07_TW.png</key>
		<dict>
			<key>frame</key>
			<string>{{1202,1720},{224,246}}</string>
			<key>offset</key>
			<string>{5,-66}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{69,188},{224,246}}</string>
			<key>sourceSize</key>
			<string>{352,490}</string>
		</dict>
		<key>tower_08_CN.png</key>
		<dict>
			<key>frame</key>
			<string>{{564,496},{264,246}}</string>
			<key>offset</key>
			<string>{2,-66}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{46,188},{264,246}}</string>
			<key>sourceSize</key>
			<string>{352,490}</string>
		</dict>
		<key>tower_08_EN.png</key>
		<dict>
			<key>frame</key>
			<string>{{1076,748},{246,242}}</string>
			<key>offset</key>
			<string>{3,-66}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{56,190},{246,242}}</string>
			<key>sourceSize</key>
			<string>{352,490}</string>
		</dict>
		<key>tower_08_TW.png</key>
		<dict>
			<key>frame</key>
			<string>{{1124,2},{262,246}}</string>
			<key>offset</key>
			<string>{2,-66}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{47,188},{262,246}}</string>
			<key>sourceSize</key>
			<string>{352,490}</string>
		</dict>
		<key>tower_09_CN.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,496},{282,246}}</string>
			<key>offset</key>
			<string>{2,-66}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{37,188},{282,246}}</string>
			<key>sourceSize</key>
			<string>{352,490}</string>
		</dict>
		<key>tower_09_EN.png</key>
		<dict>
			<key>frame</key>
			<string>{{830,496},{250,242}}</string>
			<key>offset</key>
			<string>{-1,-66}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{50,190},{250,242}}</string>
			<key>sourceSize</key>
			<string>{352,490}</string>
		</dict>
		<key>tower_09_TW.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,248},{282,246}}</string>
			<key>offset</key>
			<string>{2,-66}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{37,188},{282,246}}</string>
			<key>sourceSize</key>
			<string>{352,490}</string>
		</dict>
		<key>tower_10_CN.png</key>
		<dict>
			<key>frame</key>
			<string>{{1700,1244},{228,246}}</string>
			<key>offset</key>
			<string>{7,-66}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{69,188},{228,246}}</string>
			<key>sourceSize</key>
			<string>{352,490}</string>
		</dict>
		<key>tower_10_EN.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,1240},{270,244}}</string>
			<key>offset</key>
			<string>{3,-65}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{44,188},{270,244}}</string>
			<key>sourceSize</key>
			<string>{352,490}</string>
		</dict>
		<key>tower_10_TW.png</key>
		<dict>
			<key>frame</key>
			<string>{{266,1486},{228,246}}</string>
			<key>offset</key>
			<string>{6,-66}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{68,188},{228,246}}</string>
			<key>sourceSize</key>
			<string>{352,490}</string>
		</dict>
		<key>tower_11_CN.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,1486},{262,246}}</string>
			<key>offset</key>
			<string>{4,-66}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{49,188},{262,246}}</string>
			<key>sourceSize</key>
			<string>{352,490}</string>
		</dict>
		<key>tower_11_EN.png</key>
		<dict>
			<key>frame</key>
			<string>{{280,992},{268,244}}</string>
			<key>offset</key>
			<string>{3,-65}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{45,188},{268,244}}</string>
			<key>sourceSize</key>
			<string>{352,490}</string>
		</dict>
		<key>tower_11_TW.png</key>
		<dict>
			<key>frame</key>
			<string>{{558,744},{262,246}}</string>
			<key>offset</key>
			<string>{4,-66}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{49,188},{262,246}}</string>
			<key>sourceSize</key>
			<string>{352,490}</string>
		</dict>
		<key>tower_12_CN.png</key>
		<dict>
			<key>frame</key>
			<string>{{1648,2},{258,246}}</string>
			<key>offset</key>
			<string>{3,-66}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{50,188},{258,246}}</string>
			<key>sourceSize</key>
			<string>{352,490}</string>
		</dict>
		<key>tower_12_EN.png</key>
		<dict>
			<key>frame</key>
			<string>{{574,2},{278,244}}</string>
			<key>offset</key>
			<string>{2,-65}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{39,188},{278,244}}</string>
			<key>sourceSize</key>
			<string>{352,490}</string>
		</dict>
		<key>tower_12_TW.png</key>
		<dict>
			<key>frame</key>
			<string>{{1388,2},{258,246}}</string>
			<key>offset</key>
			<string>{3,-66}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{50,188},{258,246}}</string>
			<key>sourceSize</key>
			<string>{352,490}</string>
		</dict>
		<key>tower_13_CN.png</key>
		<dict>
			<key>frame</key>
			<string>{{756,1244},{234,246}}</string>
			<key>offset</key>
			<string>{2,-66}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{61,188},{234,246}}</string>
			<key>sourceSize</key>
			<string>{352,490}</string>
		</dict>
		<key>tower_13_EN.png</key>
		<dict>
			<key>frame</key>
			<string>{{516,1238},{238,242}}</string>
			<key>offset</key>
			<string>{-1,-66}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{56,190},{238,242}}</string>
			<key>sourceSize</key>
			<string>{352,490}</string>
		</dict>
		<key>tower_13_TW.png</key>
		<dict>
			<key>frame</key>
			<string>{{280,1238},{234,246}}</string>
			<key>offset</key>
			<string>{2,-66}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{61,188},{234,246}}</string>
			<key>sourceSize</key>
			<string>{352,490}</string>
		</dict>
		<key>tower_14_CN.png</key>
		<dict>
			<key>frame</key>
			<string>{{954,1492},{226,246}}</string>
			<key>offset</key>
			<string>{4,-66}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{67,188},{226,246}}</string>
			<key>sourceSize</key>
			<string>{352,490}</string>
		</dict>
		<key>tower_14_EN.png</key>
		<dict>
			<key>frame</key>
			<string>{{1320,742},{238,244}}</string>
			<key>offset</key>
			<string>{-1,-65}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{56,188},{238,244}}</string>
			<key>sourceSize</key>
			<string>{352,490}</string>
		</dict>
		<key>tower_14_TW.png</key>
		<dict>
			<key>frame</key>
			<string>{{954,1720},{224,246}}</string>
			<key>offset</key>
			<string>{4,-66}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{68,188},{224,246}}</string>
			<key>sourceSize</key>
			<string>{352,490}</string>
		</dict>
		<key>tower_15_CN.png</key>
		<dict>
			<key>frame</key>
			<string>{{726,1482},{226,246}}</string>
			<key>offset</key>
			<string>{4,-66}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{67,188},{226,246}}</string>
			<key>sourceSize</key>
			<string>{352,490}</string>
		</dict>
		<key>tower_15_EN.png</key>
		<dict>
			<key>frame</key>
			<string>{{1068,996},{238,244}}</string>
			<key>offset</key>
			<string>{-1,-65}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{56,188},{238,244}}</string>
			<key>sourceSize</key>
			<string>{352,490}</string>
		</dict>
		<key>tower_15_TW.png</key>
		<dict>
			<key>frame</key>
			<string>{{1698,1492},{224,246}}</string>
			<key>offset</key>
			<string>{4,-66}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{68,188},{224,246}}</string>
			<key>sourceSize</key>
			<string>{352,490}</string>
		</dict>
		<key>tower_16_CN.png</key>
		<dict>
			<key>frame</key>
			<string>{{1466,1244},{232,246}}</string>
			<key>offset</key>
			<string>{8,-66}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{68,188},{232,246}}</string>
			<key>sourceSize</key>
			<string>{352,490}</string>
		</dict>
		<key>tower_16_EN.png</key>
		<dict>
			<key>frame</key>
			<string>{{1318,496},{248,244}}</string>
			<key>offset</key>
			<string>{3,-65}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{55,188},{248,244}}</string>
			<key>sourceSize</key>
			<string>{352,490}</string>
		</dict>
		<key>tower_16_TW.png</key>
		<dict>
			<key>frame</key>
			<string>{{1232,1244},{232,246}}</string>
			<key>offset</key>
			<string>{8,-66}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{68,188},{232,246}}</string>
			<key>sourceSize</key>
			<string>{352,490}</string>
		</dict>
		<key>tower_17_CN.png</key>
		<dict>
			<key>frame</key>
			<string>{{1004,1244},{226,246}}</string>
			<key>offset</key>
			<string>{4,-66}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{67,188},{226,246}}</string>
			<key>sourceSize</key>
			<string>{352,490}</string>
		</dict>
		<key>tower_17_EN.png</key>
		<dict>
			<key>frame</key>
			<string>{{1066,250},{250,244}}</string>
			<key>offset</key>
			<string>{5,-65}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{56,188},{250,244}}</string>
			<key>sourceSize</key>
			<string>{352,490}</string>
		</dict>
		<key>tower_17_TW.png</key>
		<dict>
			<key>frame</key>
			<string>{{1722,988},{224,246}}</string>
			<key>offset</key>
			<string>{4,-66}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{68,188},{224,246}}</string>
			<key>sourceSize</key>
			<string>{352,490}</string>
		</dict>
		<key>tower_18_CN.png</key>
		<dict>
			<key>frame</key>
			<string>{{838,248},{226,246}}</string>
			<key>offset</key>
			<string>{4,-66}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{67,188},{226,246}}</string>
			<key>sourceSize</key>
			<string>{352,490}</string>
		</dict>
		<key>tower_18_EN.png</key>
		<dict>
			<key>frame</key>
			<string>{{1570,250},{252,242}}</string>
			<key>offset</key>
			<string>{2,-66}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{52,190},{252,242}}</string>
			<key>sourceSize</key>
			<string>{352,490}</string>
		</dict>
		<key>tower_18_TW.png</key>
		<dict>
			<key>frame</key>
			<string>{{1308,996},{224,246}}</string>
			<key>offset</key>
			<string>{5,-66}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{69,188},{224,246}}</string>
			<key>sourceSize</key>
			<string>{352,490}</string>
		</dict>
		<key>tower_locked_CN.png</key>
		<dict>
			<key>frame</key>
			<string>{{1534,988},{254,186}}</string>
			<key>offset</key>
			<string>{0,-66}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{49,218},{254,186}}</string>
			<key>sourceSize</key>
			<string>{352,490}</string>
		</dict>
		<key>tower_locked_EN.png</key>
		<dict>
			<key>frame</key>
			<string>{{264,1734},{210,196}}</string>
			<key>offset</key>
			<string>{3,-71}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{74,218},{210,196}}</string>
			<key>sourceSize</key>
			<string>{352,490}</string>
		</dict>
		<key>tower_locked_TW.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,1734},{260,188}}</string>
			<key>offset</key>
			<string>{0,-65}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{46,216},{260,188}}</string>
			<key>sourceSize</key>
			<string>{352,490}</string>
		</dict>
		<key>tower_normal_CN.png</key>
		<dict>
			<key>frame</key>
			<string>{{1824,422},{62,32}}</string>
			<key>offset</key>
			<string>{-1,2}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{53,22},{62,32}}</string>
			<key>sourceSize</key>
			<string>{170,80}</string>
		</dict>
		<key>tower_normal_EN.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,1924},{90,22}}</string>
			<key>offset</key>
			<string>{-1,1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{39,28},{90,22}}</string>
			<key>sourceSize</key>
			<string>{170,80}</string>
		</dict>
		<key>tower_normal_TW.png</key>
		<dict>
			<key>frame</key>
			<string>{{1824,422},{62,32}}</string>
			<key>offset</key>
			<string>{-1,2}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{53,22},{62,32}}</string>
			<key>sourceSize</key>
			<string>{170,80}</string>
		</dict>
		<key>tower_selected_CN.png</key>
		<dict>
			<key>frame</key>
			<string>{{1698,1718},{170,46}}</string>
			<key>offset</key>
			<string>{0,1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,16},{170,46}}</string>
			<key>sourceSize</key>
			<string>{170,80}</string>
		</dict>
		<key>tower_selected_EN.png</key>
		<dict>
			<key>frame</key>
			<string>{{1824,250},{170,46}}</string>
			<key>offset</key>
			<string>{0,1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,16},{170,46}}</string>
			<key>sourceSize</key>
			<string>{170,80}</string>
		</dict>
		<key>tower_selected_TW.png</key>
		<dict>
			<key>frame</key>
			<string>{{1698,1718},{170,46}}</string>
			<key>offset</key>
			<string>{0,1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,16},{170,46}}</string>
			<key>sourceSize</key>
			<string>{170,80}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>help_2-hd.png</string>
		<key>size</key>
		<string>{1949,1949}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:6f8231d894b96e6181b2362f9f9d92b7$</string>
		<key>textureFileName</key>
		<string>help_2-hd.png</string>
	</dict>
</dict>
</plist>
