<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>themescene</key>
	<dict>
		<key>theme_coverflow</key>
		<string>{240,150}</string>
		<key>theme_home</key>
		<string>{20,306}</string>
		<key>theme_restore</key>
		<string>{460,306}</string>
		<key>theme_play</key>
		<string>{339,67}</string>
		<key>theme_pointleft</key>
		<string>{40,160}</string>
		<key>theme_pointright</key>
		<string>{442,160}</string>
		<key>theme_pos</key>
		<string>{200,14}</string>
	</dict>
	<key>stagescene</key>
	<dict>
		<key>wave01</key>
		<string>ss_waves_15.png</string>
		<key>ss_coverflow</key>
		<string>{240,178}</string>
		<key>ss_sky</key>
		<string>{240,52}</string>
		<key>ss_back</key>
		<string>{20,306}</string>
		<key>ss_waves</key>
		<string>{240,271}</string>
		<key>ss_towers</key>
		<string>{240,75}</string>
		<key>ss_play</key>
		<string>{240,37}</string>
		<key>ss_choose</key>
		<string>{189,37}</string>
	</dict>
	<key>gameover</key>
	<dict>
		<key>win_select</key>
		<string>{182,114}</string>
		<key>win_play</key>
		<string>{300,114}</string>
		<key>win_easy</key>
		<string>{310,162}</string>
		<key>win_stagenum</key>
		<string>{202,151}</string>
		<key>win_wavenum</key>
		<string>{276,184}</string>
		<key>win_curwavenum</key>
		<string>{220,184}</string>
		<key>fontsize</key>
		<string>{8,11}</string>
		<key>fontsize-hd</key>
		<string>{16,26}</string>
		<key>honor</key>
		<string>{240,230}</string>
	</dict>
	<key>gamemenu</key>
	<dict>
		<key>menu_resume</key>
		<string>{240,208}</string>
		<key>menu_restart</key>
		<string>{240,161}</string>
		<key>menu_quit</key>
		<string>{240,114}</string>
	</dict>
	<key>antiboss</key>
	<dict>
		<key>blood</key>
		<string>{240,74}</string>
		<key>boss</key>
		<string>{240,167}</string>
		<key>light</key>
		<string>{240,215}</string>
		<key>name</key>
		<string>{240,246}</string>
		<key>home</key>
		<string>{20,306}</string>
		<key>play</key>
		<string>{318,36}</string>
		<key>time</key>
		<string>{190,36}</string>
	</dict>
</dict>
</plist>
