<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>close_normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{896,338},{34,38}}</string>
			<key>offset</key>
			<string>{20,23}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{53,8},{34,38}}</string>
			<key>sourceSize</key>
			<string>{100,100}</string>
		</dict>
		<key>close_pressed.png</key>
		<dict>
			<key>frame</key>
			<string>{{830,338},{64,62}}</string>
			<key>offset</key>
			<string>{18,19}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{36,0},{64,62}}</string>
			<key>sourceSize</key>
			<string>{100,100}</string>
		</dict>
		<key>news_bg.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{826,526}}</string>
			<key>offset</key>
			<string>{0,-9}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{7,21},{826,526}}</string>
			<key>sourceSize</key>
			<string>{840,550}</string>
		</dict>
		<key>rate_normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{918,2},{334,86}}</string>
			<key>offset</key>
			<string>{0,-7}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{3,14},{334,86}}</string>
			<key>sourceSize</key>
			<string>{340,100}</string>
		</dict>
		<key>rate_normal_CN.png</key>
		<dict>
			<key>frame</key>
			<string>{{994,338},{228,26}}</string>
			<key>offset</key>
			<string>{21,4}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{77,33},{228,26}}</string>
			<key>sourceSize</key>
			<string>{340,100}</string>
		</dict>
		<key>rate_normal_EN.png</key>
		<dict>
			<key>frame</key>
			<string>{{854,402},{224,22}}</string>
			<key>offset</key>
			<string>{21,5}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{79,34},{224,22}}</string>
			<key>sourceSize</key>
			<string>{340,100}</string>
		</dict>
		<key>rate_normal_TW.png</key>
		<dict>
			<key>frame</key>
			<string>{{896,374},{228,28}}</string>
			<key>offset</key>
			<string>{21,5}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{77,31},{228,28}}</string>
			<key>sourceSize</key>
			<string>{340,100}</string>
		</dict>
		<key>rate_pressed.png</key>
		<dict>
			<key>frame</key>
			<string>{{830,2},{334,86}}</string>
			<key>offset</key>
			<string>{0,-7}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{3,14},{334,86}}</string>
			<key>sourceSize</key>
			<string>{340,100}</string>
		</dict>
		<key>rate_pressed_CN.png</key>
		<dict>
			<key>frame</key>
			<string>{{966,338},{228,26}}</string>
			<key>offset</key>
			<string>{21,4}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{77,33},{228,26}}</string>
			<key>sourceSize</key>
			<string>{340,100}</string>
		</dict>
		<key>rate_pressed_EN.png</key>
		<dict>
			<key>frame</key>
			<string>{{830,402},{224,22}}</string>
			<key>offset</key>
			<string>{21,5}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{79,34},{224,22}}</string>
			<key>sourceSize</key>
			<string>{340,100}</string>
		</dict>
		<key>rate_pressed_TW.png</key>
		<dict>
			<key>frame</key>
			<string>{{936,338},{228,28}}</string>
			<key>offset</key>
			<string>{21,5}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{77,31},{228,28}}</string>
			<key>sourceSize</key>
			<string>{340,100}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>mainscene2-hd.png</string>
		<key>size</key>
		<string>{1024,1024}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:2633a7afe80615f9227f10a4ddb4c559$</string>
		<key>textureFileName</key>
		<string>mainscene2-hd.png</string>
	</dict>
</dict>
</plist>
