<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>18183_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{1230,866},{68,60}}</string>
                <key>offset</key>
                <string>{1,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,18},{68,60}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>18183_press.png</key>
            <dict>
                <key>frame</key>
                <string>{{1384,112},{108,104}}</string>
                <key>offset</key>
                <string>{2,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,0},{108,104}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>91-logo.png</key>
            <dict>
                <key>frame</key>
                <string>{{1908,478},{64,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{64,56}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>bird.png</key>
            <dict>
                <key>frame</key>
                <string>{{978,538},{174,90}}</string>
                <key>offset</key>
                <string>{-4,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,2},{174,90}}</string>
                <key>sourceSize</key>
                <string>{200,100}</string>
            </dict>
            <key>btn_adventure_normal_CN.png</key>
            <dict>
                <key>frame</key>
                <string>{{1742,784},{296,122}}</string>
                <key>offset</key>
                <string>{2,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,36},{296,122}}</string>
                <key>sourceSize</key>
                <string>{300,160}</string>
            </dict>
            <key>btn_adventure_normal_EN.png</key>
            <dict>
                <key>frame</key>
                <string>{{1742,660},{296,122}}</string>
                <key>offset</key>
                <string>{2,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,36},{296,122}}</string>
                <key>sourceSize</key>
                <string>{300,160}</string>
            </dict>
            <key>btn_adventure_normal_TW.png</key>
            <dict>
                <key>frame</key>
                <string>{{1742,536},{296,122}}</string>
                <key>offset</key>
                <string>{2,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,36},{296,122}}</string>
                <key>sourceSize</key>
                <string>{300,160}</string>
            </dict>
            <key>btn_adventure_pressed_CN.png</key>
            <dict>
                <key>frame</key>
                <string>{{1742,126},{296,122}}</string>
                <key>offset</key>
                <string>{2,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,36},{296,122}}</string>
                <key>sourceSize</key>
                <string>{300,160}</string>
            </dict>
            <key>btn_adventure_pressed_EN.png</key>
            <dict>
                <key>frame</key>
                <string>{{1742,2},{296,122}}</string>
                <key>offset</key>
                <string>{2,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,36},{296,122}}</string>
                <key>sourceSize</key>
                <string>{300,160}</string>
            </dict>
            <key>btn_adventure_pressed_TW.png</key>
            <dict>
                <key>frame</key>
                <string>{{1158,936},{296,122}}</string>
                <key>offset</key>
                <string>{2,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,36},{296,122}}</string>
                <key>sourceSize</key>
                <string>{300,160}</string>
            </dict>
            <key>btn_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1070,538},{200,142}}</string>
                <key>offset</key>
                <string>{0,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,142}}</string>
                <key>sourceSize</key>
                <string>{200,160}</string>
            </dict>
            <key>btn_boss_normal_CN.png</key>
            <dict>
                <key>frame</key>
                <string>{{1292,838},{294,94}}</string>
                <key>offset</key>
                <string>{3,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,36},{294,94}}</string>
                <key>sourceSize</key>
                <string>{300,160}</string>
            </dict>
            <key>btn_boss_normal_EN.png</key>
            <dict>
                <key>frame</key>
                <string>{{594,964},{294,94}}</string>
                <key>offset</key>
                <string>{3,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,36},{294,94}}</string>
                <key>sourceSize</key>
                <string>{300,160}</string>
            </dict>
            <key>btn_boss_normal_TW.png</key>
            <dict>
                <key>frame</key>
                <string>{{1292,838},{294,94}}</string>
                <key>offset</key>
                <string>{3,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,36},{294,94}}</string>
                <key>sourceSize</key>
                <string>{300,160}</string>
            </dict>
            <key>btn_boss_pressed_CN.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,964},{294,94}}</string>
                <key>offset</key>
                <string>{3,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,36},{294,94}}</string>
                <key>sourceSize</key>
                <string>{300,160}</string>
            </dict>
            <key>btn_boss_pressed_EN.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,964},{294,94}}</string>
                <key>offset</key>
                <string>{3,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,36},{294,94}}</string>
                <key>sourceSize</key>
                <string>{300,160}</string>
            </dict>
            <key>btn_boss_pressed_TW.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,964},{294,94}}</string>
                <key>offset</key>
                <string>{3,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,36},{294,94}}</string>
                <key>sourceSize</key>
                <string>{300,160}</string>
            </dict>
            <key>btn_freestone.png</key>
            <dict>
                <key>frame</key>
                <string>{{840,726},{248,210}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{248,210}}</string>
                <key>sourceSize</key>
                <string>{250,210}</string>
            </dict>
            <key>btn_help_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{1490,2},{100,64}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,17},{100,64}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>btn_help_pressed.png</key>
            <dict>
                <key>frame</key>
                <string>{{1556,2},{100,60}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,17},{100,60}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>btn_nest_normal_CN.png</key>
            <dict>
                <key>frame</key>
                <string>{{1782,250},{284,124}}</string>
                <key>offset</key>
                <string>{-4,-17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,35},{284,124}}</string>
                <key>sourceSize</key>
                <string>{300,160}</string>
            </dict>
            <key>btn_nest_normal_EN.png</key>
            <dict>
                <key>frame</key>
                <string>{{1656,250},{284,124}}</string>
                <key>offset</key>
                <string>{-4,-17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,35},{284,124}}</string>
                <key>sourceSize</key>
                <string>{300,160}</string>
            </dict>
            <key>btn_nest_normal_TW.png</key>
            <dict>
                <key>frame</key>
                <string>{{1530,250},{284,124}}</string>
                <key>offset</key>
                <string>{-4,-17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,35},{284,124}}</string>
                <key>sourceSize</key>
                <string>{300,160}</string>
            </dict>
            <key>btn_nest_pressed_CN.png</key>
            <dict>
                <key>frame</key>
                <string>{{1404,250},{284,124}}</string>
                <key>offset</key>
                <string>{-4,-17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,35},{284,124}}</string>
                <key>sourceSize</key>
                <string>{300,160}</string>
            </dict>
            <key>btn_nest_pressed_EN.png</key>
            <dict>
                <key>frame</key>
                <string>{{1278,250},{284,124}}</string>
                <key>offset</key>
                <string>{-4,-17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,35},{284,124}}</string>
                <key>sourceSize</key>
                <string>{300,160}</string>
            </dict>
            <key>btn_nest_pressed_TW.png</key>
            <dict>
                <key>frame</key>
                <string>{{1456,934},{284,124}}</string>
                <key>offset</key>
                <string>{-4,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,35},{284,124}}</string>
                <key>sourceSize</key>
                <string>{300,160}</string>
            </dict>
            <key>btn_setting_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{1552,104},{100,60}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,17},{100,60}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>btn_setting_pressed.png</key>
            <dict>
                <key>frame</key>
                <string>{{1490,104},{100,60}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,17},{100,60}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>carrot.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,726},{220,194}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,6},{220,194}}</string>
                <key>sourceSize</key>
                <string>{220,200}</string>
            </dict>
            <key>close_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{1070,682},{34,38}}</string>
                <key>offset</key>
                <string>{20,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{53,8},{34,38}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>close_pressed.png</key>
            <dict>
                <key>frame</key>
                <string>{{1666,838},{64,62}}</string>
                <key>offset</key>
                <string>{18,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,0},{64,62}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>cloud1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1742,908},{114,58}}</string>
                <key>offset</key>
                <string>{5,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,27},{114,58}}</string>
                <key>sourceSize</key>
                <string>{140,120}</string>
            </dict>
            <key>cloud2.png</key>
            <dict>
                <key>frame</key>
                <string>{{890,938},{266,120}}</string>
                <key>offset</key>
                <string>{-1,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,16},{266,120}}</string>
                <key>sourceSize</key>
                <string>{280,180}</string>
            </dict>
            <key>code_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,2},{722,332}}</string>
                <key>offset</key>
                <string>{-1,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,8},{722,332}}</string>
                <key>sourceSize</key>
                <string>{730,340}</string>
            </dict>
            <key>code_close_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{1160,866},{68,68}}</string>
                <key>offset</key>
                <string>{1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,3},{68,68}}</string>
                <key>sourceSize</key>
                <string>{100,80}</string>
            </dict>
            <key>code_close_pressed.png</key>
            <dict>
                <key>frame</key>
                <string>{{1090,866},{68,68}}</string>
                <key>offset</key>
                <string>{1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,3},{68,68}}</string>
                <key>sourceSize</key>
                <string>{100,80}</string>
            </dict>
            <key>leaf-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1908,250},{124,114}}</string>
                <key>offset</key>
                <string>{3,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,26},{124,114}}</string>
                <key>sourceSize</key>
                <string>{130,140}</string>
            </dict>
            <key>leaf-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1090,722},{140,142}}</string>
                <key>offset</key>
                <string>{6,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,18},{140,142}}</string>
                <key>sourceSize</key>
                <string>{180,160}</string>
            </dict>
            <key>leaf-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1908,366},{116,110}}</string>
                <key>offset</key>
                <string>{-2,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,20},{116,110}}</string>
                <key>sourceSize</key>
                <string>{120,130}</string>
            </dict>
            <key>locked.png</key>
            <dict>
                <key>frame</key>
                <string>{{1588,838},{86,76}}</string>
                <key>offset</key>
                <string>{6,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,17},{86,76}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>mainbg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{960,640}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{960,640}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>mainbg_CN.png</key>
            <dict>
                <key>frame</key>
                <string>{{978,2},{534,298}}</string>
                <key>offset</key>
                <string>{-14,-55}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{199,226},{534,298}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>mainbg_EN.png</key>
            <dict>
                <key>frame</key>
                <string>{{1272,538},{446,298}}</string>
                <key>offset</key>
                <string>{19,-55}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{276,226},{446,298}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>mainbg_TW.png</key>
            <dict>
                <key>frame</key>
                <string>{{1272,538},{446,298}}</string>
                <key>offset</key>
                <string>{19,-55}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{276,226},{446,298}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>news_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{1070,682},{34,38}}</string>
                <key>offset</key>
                <string>{20,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{53,8},{34,38}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>news_pressed.png</key>
            <dict>
                <key>frame</key>
                <string>{{1666,838},{64,62}}</string>
                <key>offset</key>
                <string>{18,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,0},{64,62}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>weiboicon01_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{1614,126},{60,60}}</string>
                <key>offset</key>
                <string>{0,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,18},{60,60}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>weiboicon01_press.png</key>
            <dict>
                <key>frame</key>
                <string>{{1384,2},{108,104}}</string>
                <key>offset</key>
                <string>{2,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,0},{108,104}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>weiboicon02_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{1680,64},{60,60}}</string>
                <key>offset</key>
                <string>{0,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,18},{60,60}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>weiboicon02_press.png</key>
            <dict>
                <key>frame</key>
                <string>{{1278,112},{108,104}}</string>
                <key>offset</key>
                <string>{2,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,0},{108,104}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>weiboicon03_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{1618,64},{60,60}}</string>
                <key>offset</key>
                <string>{0,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,18},{60,60}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>weiboicon03_press.png</key>
            <dict>
                <key>frame</key>
                <string>{{1278,2},{108,104}}</string>
                <key>offset</key>
                <string>{2,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,0},{108,104}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>weiboicon04_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{1680,2},{60,60}}</string>
                <key>offset</key>
                <string>{0,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,18},{60,60}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>weiboicon04_press.png</key>
            <dict>
                <key>frame</key>
                <string>{{1908,908},{108,104}}</string>
                <key>offset</key>
                <string>{2,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{108,104}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>weiboicon05_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{1618,2},{60,60}}</string>
                <key>offset</key>
                <string>{0,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,18},{60,60}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>weiboicon05_press.png</key>
            <dict>
                <key>frame</key>
                <string>{{1802,908},{108,104}}</string>
                <key>offset</key>
                <string>{2,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,0},{108,104}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>weiboicon06_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{1618,64},{60,60}}</string>
                <key>offset</key>
                <string>{0,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,18},{60,60}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>weiboicon06_press.png</key>
            <dict>
                <key>frame</key>
                <string>{{1278,2},{108,104}}</string>
                <key>offset</key>
                <string>{2,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,0},{108,104}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>mainscene1-hd.png</string>
            <key>size</key>
            <string>{2040,1060}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0fe07c99d90fce4b74533892bfa4fe84$</string>
            <key>textureFileName</key>
            <string>mainscene1-hd.png</string>
        </dict>
    </dict>
</plist>
