<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>adventure_locked_CN.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,1658},{368,108}}</string>
			<key>offset</key>
			<string>{7,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{23,16},{368,108}}</string>
			<key>sourceSize</key>
			<string>{400,140}</string>
		</dict>
		<key>adventure_locked_EN.png</key>
		<dict>
			<key>frame</key>
			<string>{{826,1574},{324,98}}</string>
			<key>offset</key>
			<string>{-13,2}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{25,19},{324,98}}</string>
			<key>sourceSize</key>
			<string>{400,140}</string>
		</dict>
		<key>adventure_locked_TW.png</key>
		<dict>
			<key>frame</key>
			<string>{{372,1544},{368,108}}</string>
			<key>offset</key>
			<string>{7,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{23,16},{368,108}}</string>
			<key>sourceSize</key>
			<string>{400,140}</string>
		</dict>
		<key>boss_deepsea_locked_CN.png</key>
		<dict>
			<key>frame</key>
			<string>{{616,1470},{368,108}}</string>
			<key>offset</key>
			<string>{7,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{23,16},{368,108}}</string>
			<key>sourceSize</key>
			<string>{400,140}</string>
		</dict>
		<key>boss_deepsea_locked_EN.png</key>
		<dict>
			<key>frame</key>
			<string>{{946,1564},{348,100}}</string>
			<key>offset</key>
			<string>{-2,1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{24,19},{348,100}}</string>
			<key>sourceSize</key>
			<string>{400,140}</string>
		</dict>
		<key>boss_deepsea_locked_TW.png</key>
		<dict>
			<key>frame</key>
			<string>{{506,1470},{368,108}}</string>
			<key>offset</key>
			<string>{7,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{23,16},{368,108}}</string>
			<key>sourceSize</key>
			<string>{400,140}</string>
		</dict>
		<key>boss_desert_locked_CN.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,1548},{368,108}}</string>
			<key>offset</key>
			<string>{7,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{23,16},{368,108}}</string>
			<key>sourceSize</key>
			<string>{400,140}</string>
		</dict>
		<key>boss_desert_locked_EN.png</key>
		<dict>
			<key>frame</key>
			<string>{{726,1548},{348,98}}</string>
			<key>offset</key>
			<string>{-2,3}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{24,18},{348,98}}</string>
			<key>sourceSize</key>
			<string>{400,140}</string>
		</dict>
		<key>boss_desert_locked_TW.png</key>
		<dict>
			<key>frame</key>
			<string>{{372,1914},{368,108}}</string>
			<key>offset</key>
			<string>{7,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{23,16},{368,108}}</string>
			<key>sourceSize</key>
			<string>{400,140}</string>
		</dict>
		<key>boss_jungle_locked_CN.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,1914},{368,108}}</string>
			<key>offset</key>
			<string>{7,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{23,16},{368,108}}</string>
			<key>sourceSize</key>
			<string>{400,140}</string>
		</dict>
		<key>boss_jungle_locked_EN.png</key>
		<dict>
			<key>frame</key>
			<string>{{946,1214},{348,100}}</string>
			<key>offset</key>
			<string>{-2,1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{24,19},{348,100}}</string>
			<key>sourceSize</key>
			<string>{400,140}</string>
		</dict>
		<key>boss_jungle_locked_TW.png</key>
		<dict>
			<key>frame</key>
			<string>{{836,1204},{368,108}}</string>
			<key>offset</key>
			<string>{7,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{23,16},{368,108}}</string>
			<key>sourceSize</key>
			<string>{400,140}</string>
		</dict>
		<key>boss_locked_CN.png</key>
		<dict>
			<key>frame</key>
			<string>{{726,1178},{368,108}}</string>
			<key>offset</key>
			<string>{7,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{23,16},{368,108}}</string>
			<key>sourceSize</key>
			<string>{400,140}</string>
		</dict>
		<key>boss_locked_EN.png</key>
		<dict>
			<key>frame</key>
			<string>{{946,834},{378,102}}</string>
			<key>offset</key>
			<string>{11,2}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{22,17},{378,102}}</string>
			<key>sourceSize</key>
			<string>{400,140}</string>
		</dict>
		<key>boss_locked_TW.png</key>
		<dict>
			<key>frame</key>
			<string>{{836,834},{368,108}}</string>
			<key>offset</key>
			<string>{7,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{23,16},{368,108}}</string>
			<key>sourceSize</key>
			<string>{400,140}</string>
		</dict>
		<key>nest_locked_CN.png</key>
		<dict>
			<key>frame</key>
			<string>{{726,808},{368,108}}</string>
			<key>offset</key>
			<string>{7,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{23,16},{368,108}}</string>
			<key>sourceSize</key>
			<string>{400,140}</string>
		</dict>
		<key>nest_locked_EN.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,1768},{312,98}}</string>
			<key>offset</key>
			<string>{-23,3}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{21,18},{312,98}}</string>
			<key>sourceSize</key>
			<string>{400,140}</string>
		</dict>
		<key>nest_locked_TW.png</key>
		<dict>
			<key>frame</key>
			<string>{{726,438},{368,108}}</string>
			<key>offset</key>
			<string>{7,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{23,16},{368,108}}</string>
			<key>sourceSize</key>
			<string>{400,140}</string>
		</dict>
		<key>newyear_bg_CN.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,764},{722,368}}</string>
			<key>offset</key>
			<string>{0,-16}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{4,32},{722,368}}</string>
			<key>sourceSize</key>
			<string>{730,400}</string>
		</dict>
		<key>newyear_bg_EN.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,394},{722,368}}</string>
			<key>offset</key>
			<string>{0,-16}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{4,32},{722,368}}</string>
			<key>sourceSize</key>
			<string>{730,400}</string>
		</dict>
		<key>newyear_bg_TW.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,764},{722,368}}</string>
			<key>offset</key>
			<string>{0,-16}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{4,32},{722,368}}</string>
			<key>sourceSize</key>
			<string>{730,400}</string>
		</dict>
		<key>popup_bg.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,1134},{722,334}}</string>
			<key>offset</key>
			<string>{0,-3}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{4,6},{722,334}}</string>
			<key>sourceSize</key>
			<string>{730,340}</string>
		</dict>
		<key>popup_btnbg_CN.png</key>
		<dict>
			<key>frame</key>
			<string>{{1018,2},{74,28}}</string>
			<key>offset</key>
			<string>{2,5}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{75,31},{74,28}}</string>
			<key>sourceSize</key>
			<string>{220,100}</string>
		</dict>
		<key>popup_btnbg_EN.png</key>
		<dict>
			<key>frame</key>
			<string>{{1018,78},{38,26}}</string>
			<key>offset</key>
			<string>{1,4}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{92,33},{38,26}}</string>
			<key>sourceSize</key>
			<string>{220,100}</string>
		</dict>
		<key>popup_btnbg_TW.png</key>
		<dict>
			<key>frame</key>
			<string>{{1018,2},{74,28}}</string>
			<key>offset</key>
			<string>{2,5}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{75,31},{74,28}}</string>
			<key>sourceSize</key>
			<string>{220,100}</string>
		</dict>
		<key>popup_btnbg_normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{482,1840},{214,72}}</string>
			<key>offset</key>
			<string>{1,-2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{4,16},{214,72}}</string>
			<key>sourceSize</key>
			<string>{220,100}</string>
		</dict>
		<key>popup_btnbg_pressed.png</key>
		<dict>
			<key>frame</key>
			<string>{{290,1470},{214,72}}</string>
			<key>offset</key>
			<string>{1,-2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{4,16},{214,72}}</string>
			<key>sourceSize</key>
			<string>{220,100}</string>
		</dict>
		<key>winterstagelocked_6.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,1470},{286,76}}</string>
			<key>offset</key>
			<string>{4,56}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{226,101},{286,76}}</string>
			<key>sourceSize</key>
			<string>{730,390}</string>
		</dict>
		<key>winterstagelocked_8.png</key>
		<dict>
			<key>frame</key>
			<string>{{742,1914},{286,76}}</string>
			<key>offset</key>
			<string>{4,56}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{226,101},{286,76}}</string>
			<key>sourceSize</key>
			<string>{730,390}</string>
		</dict>
		<key>winterstagelocked_CN.png</key>
		<dict>
			<key>frame</key>
			<string>{{872,2},{422,144}}</string>
			<key>offset</key>
			<string>{85,55}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{239,68},{422,144}}</string>
			<key>sourceSize</key>
			<string>{730,390}</string>
		</dict>
		<key>winterstagelocked_EN.png</key>
		<dict>
			<key>frame</key>
			<string>{{872,426},{406,142}}</string>
			<key>offset</key>
			<string>{66,57}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{228,67},{406,142}}</string>
			<key>sourceSize</key>
			<string>{730,390}</string>
		</dict>
		<key>winterstagelocked_TW.png</key>
		<dict>
			<key>frame</key>
			<string>{{726,2},{434,144}}</string>
			<key>offset</key>
			<string>{79,55}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{227,68},{434,144}}</string>
			<key>sourceSize</key>
			<string>{730,390}</string>
		</dict>
		<key>winterstagelocked_bg.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{722,390}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{4,0},{722,390}}</string>
			<key>sourceSize</key>
			<string>{730,390}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>popuplock-hd.png</string>
		<key>size</key>
		<string>{1050,2024}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:a5d408c26f7c48ee6bbba010579c7c2d:afabe4de56554e9e30f91583637e0a46:d52fba506eb4b6ac5a3d70f2a5f21cf1$</string>
		<key>textureFileName</key>
		<string>popuplock-hd.png</string>
	</dict>
</dict>
</plist>
