<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>recommend_bg.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,0},{960,640}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{960,640}}</string>
			<key>sourceSize</key>
			<string>{960,640}</string>
		</dict>
		<key>recommend_close_normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,830},{68,68}}</string>
			<key>offset</key>
			<string>{1,3}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{17,3},{68,68}}</string>
			<key>sourceSize</key>
			<string>{100,80}</string>
		</dict>
		<key>recommend_close_pressed.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,762},{68,68}}</string>
			<key>offset</key>
			<string>{1,3}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{17,3},{68,68}}</string>
			<key>sourceSize</key>
			<string>{100,80}</string>
		</dict>
		<key>recommend_default.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,640},{122,122}}</string>
			<key>offset</key>
			<string>{0,12}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{24,12},{122,122}}</string>
			<key>sourceSize</key>
			<string>{170,170}</string>
		</dict>
		<key>recommend_left_normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{992,128},{32,44}}</string>
			<key>offset</key>
			<string>{-2,1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{17,12},{32,44}}</string>
			<key>sourceSize</key>
			<string>{70,70}</string>
		</dict>
		<key>recommend_left_pressed.png</key>
		<dict>
			<key>frame</key>
			<string>{{960,64},{50,64}}</string>
			<key>offset</key>
			<string>{-1,1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{9,2},{50,64}}</string>
			<key>sourceSize</key>
			<string>{70,70}</string>
		</dict>
		<key>recommend_right_normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{960,128},{32,44}}</string>
			<key>offset</key>
			<string>{1,1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{20,12},{32,44}}</string>
			<key>sourceSize</key>
			<string>{70,70}</string>
		</dict>
		<key>recommend_right_pressed.png</key>
		<dict>
			<key>frame</key>
			<string>{{960,0},{50,64}}</string>
			<key>offset</key>
			<string>{1,1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{11,2},{50,64}}</string>
			<key>sourceSize</key>
			<string>{70,70}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>recommend-hd.png</string>
		<key>size</key>
		<string>{1024,1024}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:54c8ebe0d0507c8f5fec554551b62d78$</string>
		<key>textureFileName</key>
		<string>recommend-hd.png</string>
	</dict>
</dict>
</plist>
