<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>achievements_normal_CN.png</key>
		<dict>
			<key>frame</key>
			<string>{{651,945},{212,70}}</string>
			<key>offset</key>
			<string>{0,-2}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{4,17},{212,70}}</string>
			<key>sourceSize</key>
			<string>{220,100}</string>
		</dict>
		<key>achievements_normal_EN.png</key>
		<dict>
			<key>frame</key>
			<string>{{437,1091},{212,70}}</string>
			<key>offset</key>
			<string>{0,-2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{4,17},{212,70}}</string>
			<key>sourceSize</key>
			<string>{220,100}</string>
		</dict>
		<key>achievements_normal_TW.png</key>
		<dict>
			<key>frame</key>
			<string>{{651,945},{212,70}}</string>
			<key>offset</key>
			<string>{0,-2}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{4,17},{212,70}}</string>
			<key>sourceSize</key>
			<string>{220,100}</string>
		</dict>
		<key>achievements_pressed_CN.png</key>
		<dict>
			<key>frame</key>
			<string>{{437,1019},{212,70}}</string>
			<key>offset</key>
			<string>{0,-2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{4,17},{212,70}}</string>
			<key>sourceSize</key>
			<string>{220,100}</string>
		</dict>
		<key>achievements_pressed_EN.png</key>
		<dict>
			<key>frame</key>
			<string>{{723,731},{212,70}}</string>
			<key>offset</key>
			<string>{0,-2}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{4,17},{212,70}}</string>
			<key>sourceSize</key>
			<string>{220,100}</string>
		</dict>
		<key>achievements_pressed_TW.png</key>
		<dict>
			<key>frame</key>
			<string>{{437,1019},{212,70}}</string>
			<key>offset</key>
			<string>{0,-2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{4,17},{212,70}}</string>
			<key>sourceSize</key>
			<string>{220,100}</string>
		</dict>
		<key>bgmusic_off_CN.png</key>
		<dict>
			<key>frame</key>
			<string>{{1101,933},{140,68}}</string>
			<key>offset</key>
			<string>{-7,-3}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{13,9},{140,68}}</string>
			<key>sourceSize</key>
			<string>{180,80}</string>
		</dict>
		<key>bgmusic_off_EN.png</key>
		<dict>
			<key>frame</key>
			<string>{{1185,863},{140,68}}</string>
			<key>offset</key>
			<string>{-7,-3}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{13,9},{140,68}}</string>
			<key>sourceSize</key>
			<string>{180,80}</string>
		</dict>
		<key>bgmusic_off_TW.png</key>
		<dict>
			<key>frame</key>
			<string>{{1115,791},{140,68}}</string>
			<key>offset</key>
			<string>{-7,-3}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{13,9},{140,68}}</string>
			<key>sourceSize</key>
			<string>{180,80}</string>
		</dict>
		<key>bgmusic_on_CN.png</key>
		<dict>
			<key>frame</key>
			<string>{{1185,721},{140,68}}</string>
			<key>offset</key>
			<string>{6,-3}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{26,9},{140,68}}</string>
			<key>sourceSize</key>
			<string>{180,80}</string>
		</dict>
		<key>bgmusic_on_EN.png</key>
		<dict>
			<key>frame</key>
			<string>{{1185,579},{140,68}}</string>
			<key>offset</key>
			<string>{6,-3}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{26,9},{140,68}}</string>
			<key>sourceSize</key>
			<string>{180,80}</string>
		</dict>
		<key>bgmusic_on_TW.png</key>
		<dict>
			<key>frame</key>
			<string>{{1115,649},{140,68}}</string>
			<key>offset</key>
			<string>{6,-3}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{26,9},{140,68}}</string>
			<key>sourceSize</key>
			<string>{180,80}</string>
		</dict>
		<key>credits_normal_CN.png</key>
		<dict>
			<key>frame</key>
			<string>{{1173,1145},{86,30}}</string>
			<key>offset</key>
			<string>{1,2}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{58,23},{86,30}}</string>
			<key>sourceSize</key>
			<string>{200,80}</string>
		</dict>
		<key>credits_normal_EN.png</key>
		<dict>
			<key>frame</key>
			<string>{{737,1147},{104,20}}</string>
			<key>offset</key>
			<string>{-3,2}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{45,28},{104,20}}</string>
			<key>sourceSize</key>
			<string>{200,80}</string>
		</dict>
		<key>credits_normal_TW.png</key>
		<dict>
			<key>frame</key>
			<string>{{705,1159},{86,30}}</string>
			<key>offset</key>
			<string>{1,2}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{58,23},{86,30}}</string>
			<key>sourceSize</key>
			<string>{200,80}</string>
		</dict>
		<key>credits_selected_CN.png</key>
		<dict>
			<key>frame</key>
			<string>{{843,921},{200,46}}</string>
			<key>offset</key>
			<string>{0,1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,16},{200,46}}</string>
			<key>sourceSize</key>
			<string>{200,80}</string>
		</dict>
		<key>credits_selected_EN.png</key>
		<dict>
			<key>frame</key>
			<string>{{771,945},{200,46}}</string>
			<key>offset</key>
			<string>{0,1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,16},{200,46}}</string>
			<key>sourceSize</key>
			<string>{200,80}</string>
		</dict>
		<key>credits_selected_TW.png</key>
		<dict>
			<key>frame</key>
			<string>{{843,873},{200,46}}</string>
			<key>offset</key>
			<string>{0,1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,16},{200,46}}</string>
			<key>sourceSize</key>
			<string>{200,80}</string>
		</dict>
		<key>gamecenter_off_CN.png</key>
		<dict>
			<key>frame</key>
			<string>{{1173,1005},{138,68}}</string>
			<key>offset</key>
			<string>{26,-3}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{57,19},{138,68}}</string>
			<key>sourceSize</key>
			<string>{200,100}</string>
		</dict>
		<key>gamecenter_off_EN.png</key>
		<dict>
			<key>frame</key>
			<string>{{219,1169},{138,68}}</string>
			<key>offset</key>
			<string>{26,-3}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{57,19},{138,68}}</string>
			<key>sourceSize</key>
			<string>{200,100}</string>
		</dict>
		<key>gamecenter_off_TW.png</key>
		<dict>
			<key>frame</key>
			<string>{{1103,1075},{138,68}}</string>
			<key>offset</key>
			<string>{26,-3}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{57,19},{138,68}}</string>
			<key>sourceSize</key>
			<string>{200,100}</string>
		</dict>
		<key>gamecenter_on_CN.png</key>
		<dict>
			<key>frame</key>
			<string>{{1045,791},{140,68}}</string>
			<key>offset</key>
			<string>{30,-3}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{60,19},{140,68}}</string>
			<key>sourceSize</key>
			<string>{200,100}</string>
		</dict>
		<key>gamecenter_on_EN.png</key>
		<dict>
			<key>frame</key>
			<string>{{1045,649},{140,68}}</string>
			<key>offset</key>
			<string>{30,-3}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{60,19},{140,68}}</string>
			<key>sourceSize</key>
			<string>{200,100}</string>
		</dict>
		<key>gamecenter_on_TW.png</key>
		<dict>
			<key>frame</key>
			<string>{{1025,579},{140,68}}</string>
			<key>offset</key>
			<string>{30,-3}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{60,19},{140,68}}</string>
			<key>sourceSize</key>
			<string>{200,100}</string>
		</dict>
		<key>icloud_normal_CN.png</key>
		<dict>
			<key>frame</key>
			<string>{{437,947},{212,70}}</string>
			<key>offset</key>
			<string>{0,-2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{4,17},{212,70}}</string>
			<key>sourceSize</key>
			<string>{220,100}</string>
		</dict>
		<key>icloud_normal_EN.png</key>
		<dict>
			<key>frame</key>
			<string>{{651,731},{212,70}}</string>
			<key>offset</key>
			<string>{0,-2}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{4,17},{212,70}}</string>
			<key>sourceSize</key>
			<string>{220,100}</string>
		</dict>
		<key>icloud_normal_TW.png</key>
		<dict>
			<key>frame</key>
			<string>{{437,875},{212,70}}</string>
			<key>offset</key>
			<string>{0,-2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{4,17},{212,70}}</string>
			<key>sourceSize</key>
			<string>{220,100}</string>
		</dict>
		<key>icloud_pressed_CN.png</key>
		<dict>
			<key>frame</key>
			<string>{{437,803},{212,70}}</string>
			<key>offset</key>
			<string>{0,-2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{4,17},{212,70}}</string>
			<key>sourceSize</key>
			<string>{220,100}</string>
		</dict>
		<key>icloud_pressed_EN.png</key>
		<dict>
			<key>frame</key>
			<string>{{437,731},{212,70}}</string>
			<key>offset</key>
			<string>{0,-2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{4,17},{212,70}}</string>
			<key>sourceSize</key>
			<string>{220,100}</string>
		</dict>
		<key>icloud_pressed_TW.png</key>
		<dict>
			<key>frame</key>
			<string>{{365,951},{212,70}}</string>
			<key>offset</key>
			<string>{0,-2}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{4,17},{212,70}}</string>
			<key>sourceSize</key>
			<string>{220,100}</string>
		</dict>
		<key>language_normal_CN.png</key>
		<dict>
			<key>frame</key>
			<string>{{615,657},{214,72}}</string>
			<key>offset</key>
			<string>{0,-2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{3,16},{214,72}}</string>
			<key>sourceSize</key>
			<string>{220,100}</string>
		</dict>
		<key>language_normal_EN.png</key>
		<dict>
			<key>frame</key>
			<string>{{803,583},{214,72}}</string>
			<key>offset</key>
			<string>{0,-2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{3,16},{214,72}}</string>
			<key>sourceSize</key>
			<string>{220,100}</string>
		</dict>
		<key>language_normal_TW.png</key>
		<dict>
			<key>frame</key>
			<string>{{951,367},{214,72}}</string>
			<key>offset</key>
			<string>{0,-2}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{3,16},{214,72}}</string>
			<key>sourceSize</key>
			<string>{220,100}</string>
		</dict>
		<key>language_pressed_CN.png</key>
		<dict>
			<key>frame</key>
			<string>{{291,953},{214,72}}</string>
			<key>offset</key>
			<string>{0,-2}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{3,16},{214,72}}</string>
			<key>sourceSize</key>
			<string>{220,100}</string>
		</dict>
		<key>language_pressed_EN.png</key>
		<dict>
			<key>frame</key>
			<string>{{877,367},{214,72}}</string>
			<key>offset</key>
			<string>{0,-2}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{3,16},{214,72}}</string>
			<key>sourceSize</key>
			<string>{220,100}</string>
		</dict>
		<key>language_pressed_TW.png</key>
		<dict>
			<key>frame</key>
			<string>{{803,367},{214,72}}</string>
			<key>offset</key>
			<string>{0,-2}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{3,16},{214,72}}</string>
			<key>sourceSize</key>
			<string>{220,100}</string>
		</dict>
		<key>leaderborad_normal_CN.png</key>
		<dict>
			<key>frame</key>
			<string>{{793,293},{214,72}}</string>
			<key>offset</key>
			<string>{0,-2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{3,16},{214,72}}</string>
			<key>sourceSize</key>
			<string>{220,100}</string>
		</dict>
		<key>leaderborad_normal_EN.png</key>
		<dict>
			<key>frame</key>
			<string>{{399,657},{214,72}}</string>
			<key>offset</key>
			<string>{0,-2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{3,16},{214,72}}</string>
			<key>sourceSize</key>
			<string>{220,100}</string>
		</dict>
		<key>leaderborad_normal_TW.png</key>
		<dict>
			<key>frame</key>
			<string>{{793,293},{214,72}}</string>
			<key>offset</key>
			<string>{0,-2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{3,16},{214,72}}</string>
			<key>sourceSize</key>
			<string>{220,100}</string>
		</dict>
		<key>leaderborad_pressed_CN.png</key>
		<dict>
			<key>frame</key>
			<string>{{291,737},{214,72}}</string>
			<key>offset</key>
			<string>{0,-2}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{3,16},{214,72}}</string>
			<key>sourceSize</key>
			<string>{220,100}</string>
		</dict>
		<key>leaderborad_pressed_EN.png</key>
		<dict>
			<key>frame</key>
			<string>{{3,1157},{214,72}}</string>
			<key>offset</key>
			<string>{0,-2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{3,16},{214,72}}</string>
			<key>sourceSize</key>
			<string>{220,100}</string>
		</dict>
		<key>leaderborad_pressed_TW.png</key>
		<dict>
			<key>frame</key>
			<string>{{291,737},{214,72}}</string>
			<key>offset</key>
			<string>{0,-2}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{3,16},{214,72}}</string>
			<key>sourceSize</key>
			<string>{220,100}</string>
		</dict>
		<key>options_normal_CN.png</key>
		<dict>
			<key>frame</key>
			<string>{{877,1179},{58,30}}</string>
			<key>offset</key>
			<string>{-2,2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{69,23},{58,30}}</string>
			<key>sourceSize</key>
			<string>{200,80}</string>
		</dict>
		<key>options_normal_EN.png</key>
		<dict>
			<key>frame</key>
			<string>{{759,1211},{110,20}}</string>
			<key>offset</key>
			<string>{-1,2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{44,28},{110,20}}</string>
			<key>sourceSize</key>
			<string>{200,80}</string>
		</dict>
		<key>options_normal_TW.png</key>
		<dict>
			<key>frame</key>
			<string>{{759,1147},{58,30}}</string>
			<key>offset</key>
			<string>{-2,2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{69,23},{58,30}}</string>
			<key>sourceSize</key>
			<string>{200,80}</string>
		</dict>
		<key>options_selected_CN.png</key>
		<dict>
			<key>frame</key>
			<string>{{843,825},{200,46}}</string>
			<key>offset</key>
			<string>{0,1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,16},{200,46}}</string>
			<key>sourceSize</key>
			<string>{200,80}</string>
		</dict>
		<key>options_selected_EN.png</key>
		<dict>
			<key>frame</key>
			<string>{{843,777},{200,46}}</string>
			<key>offset</key>
			<string>{0,1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,16},{200,46}}</string>
			<key>sourceSize</key>
			<string>{200,80}</string>
		</dict>
		<key>options_selected_TW.png</key>
		<dict>
			<key>frame</key>
			<string>{{843,729},{200,46}}</string>
			<key>offset</key>
			<string>{0,1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,16},{200,46}}</string>
			<key>sourceSize</key>
			<string>{200,80}</string>
		</dict>
		<key>resetgame_normal_CN.png</key>
		<dict>
			<key>frame</key>
			<string>{{365,737},{212,70}}</string>
			<key>offset</key>
			<string>{0,-2}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{4,17},{212,70}}</string>
			<key>sourceSize</key>
			<string>{220,100}</string>
		</dict>
		<key>resetgame_normal_EN.png</key>
		<dict>
			<key>frame</key>
			<string>{{831,657},{212,70}}</string>
			<key>offset</key>
			<string>{0,-2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{4,17},{212,70}}</string>
			<key>sourceSize</key>
			<string>{220,100}</string>
		</dict>
		<key>resetgame_normal_TW.png</key>
		<dict>
			<key>frame</key>
			<string>{{1169,365},{212,70}}</string>
			<key>offset</key>
			<string>{0,-2}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{4,17},{212,70}}</string>
			<key>sourceSize</key>
			<string>{220,100}</string>
		</dict>
		<key>resetgame_pressed_CN.png</key>
		<dict>
			<key>frame</key>
			<string>{{1097,365},{212,70}}</string>
			<key>offset</key>
			<string>{0,-2}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{4,17},{212,70}}</string>
			<key>sourceSize</key>
			<string>{220,100}</string>
		</dict>
		<key>resetgame_pressed_EN.png</key>
		<dict>
			<key>frame</key>
			<string>{{1025,365},{212,70}}</string>
			<key>offset</key>
			<string>{0,-2}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{4,17},{212,70}}</string>
			<key>sourceSize</key>
			<string>{220,100}</string>
		</dict>
		<key>resetgame_pressed_TW.png</key>
		<dict>
			<key>frame</key>
			<string>{{1009,293},{212,70}}</string>
			<key>offset</key>
			<string>{0,-2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{4,17},{212,70}}</string>
			<key>sourceSize</key>
			<string>{220,100}</string>
		</dict>
		<key>setting_bg_CN.png</key>
		<dict>
			<key>frame</key>
			<string>{{3,737},{418,286}}</string>
			<key>offset</key>
			<string>{-10,10}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{261,167},{418,286}}</string>
			<key>sourceSize</key>
			<string>{960,640}</string>
		</dict>
		<key>setting_bg_EN.png</key>
		<dict>
			<key>frame</key>
			<string>{{399,369},{402,286}}</string>
			<key>offset</key>
			<string>{-22,9}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{257,168},{402,286}}</string>
			<key>sourceSize</key>
			<string>{960,640}</string>
		</dict>
		<key>setting_bg_TW.png</key>
		<dict>
			<key>frame</key>
			<string>{{793,3},{402,288}}</string>
			<key>offset</key>
			<string>{-22,10}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{257,166},{402,288}}</string>
			<key>sourceSize</key>
			<string>{960,640}</string>
		</dict>
		<key>setting_home_normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{571,1163},{132,90}}</string>
			<key>offset</key>
			<string>{4,-10}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{8,20},{132,90}}</string>
			<key>sourceSize</key>
			<string>{140,110}</string>
		</dict>
		<key>setting_home_pressed.png</key>
		<dict>
			<key>frame</key>
			<string>{{437,1163},{132,90}}</string>
			<key>offset</key>
			<string>{4,-10}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{8,20},{132,90}}</string>
			<key>sourceSize</key>
			<string>{140,110}</string>
		</dict>
		<key>soundfx_off_CN.png</key>
		<dict>
			<key>frame</key>
			<string>{{961,1111},{140,68}}</string>
			<key>offset</key>
			<string>{-7,-3}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{13,9},{140,68}}</string>
			<key>sourceSize</key>
			<string>{180,80}</string>
		</dict>
		<key>soundfx_off_EN.png</key>
		<dict>
			<key>frame</key>
			<string>{{1031,969},{140,68}}</string>
			<key>offset</key>
			<string>{-7,-3}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{13,9},{140,68}}</string>
			<key>sourceSize</key>
			<string>{180,80}</string>
		</dict>
		<key>soundfx_off_TW.png</key>
		<dict>
			<key>frame</key>
			<string>{{819,1109},{140,68}}</string>
			<key>offset</key>
			<string>{-7,-3}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{13,9},{140,68}}</string>
			<key>sourceSize</key>
			<string>{180,80}</string>
		</dict>
		<key>soundfx_on_CN.png</key>
		<dict>
			<key>frame</key>
			<string>{{961,969},{140,68}}</string>
			<key>offset</key>
			<string>{6,-3}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{26,9},{140,68}}</string>
			<key>sourceSize</key>
			<string>{180,80}</string>
		</dict>
		<key>soundfx_on_EN.png</key>
		<dict>
			<key>frame</key>
			<string>{{819,1039},{140,68}}</string>
			<key>offset</key>
			<string>{6,-3}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{26,9},{140,68}}</string>
			<key>sourceSize</key>
			<string>{180,80}</string>
		</dict>
		<key>soundfx_on_TW.png</key>
		<dict>
			<key>frame</key>
			<string>{{819,969},{140,68}}</string>
			<key>offset</key>
			<string>{6,-3}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{26,9},{140,68}}</string>
			<key>sourceSize</key>
			<string>{180,80}</string>
		</dict>
		<key>statistics_bg_CN.png</key>
		<dict>
			<key>frame</key>
			<string>{{3,3},{394,366}}</string>
			<key>offset</key>
			<string>{137,-57}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{420,194},{394,366}}</string>
			<key>sourceSize</key>
			<string>{960,640}</string>
		</dict>
		<key>statistics_bg_EN.png</key>
		<dict>
			<key>frame</key>
			<string>{{399,3},{392,364}}</string>
			<key>offset</key>
			<string>{136,-58}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{420,196},{392,364}}</string>
			<key>sourceSize</key>
			<string>{960,640}</string>
		</dict>
		<key>statistics_bg_TW.png</key>
		<dict>
			<key>frame</key>
			<string>{{3,371},{394,364}}</string>
			<key>offset</key>
			<string>{136,-58}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{419,196},{394,364}}</string>
			<key>sourceSize</key>
			<string>{960,640}</string>
		</dict>
		<key>statistics_normal_CN.png</key>
		<dict>
			<key>frame</key>
			<string>{{759,1179},{116,30}}</string>
			<key>offset</key>
			<string>{0,1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{42,24},{116,30}}</string>
			<key>sourceSize</key>
			<string>{200,80}</string>
		</dict>
		<key>statistics_normal_EN.png</key>
		<dict>
			<key>frame</key>
			<string>{{3,1231},{140,20}}</string>
			<key>offset</key>
			<string>{-1,2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{29,28},{140,20}}</string>
			<key>sourceSize</key>
			<string>{200,80}</string>
		</dict>
		<key>statistics_normal_TW.png</key>
		<dict>
			<key>frame</key>
			<string>{{1223,205},{116,30}}</string>
			<key>offset</key>
			<string>{0,1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{42,24},{116,30}}</string>
			<key>sourceSize</key>
			<string>{200,80}</string>
		</dict>
		<key>statistics_selected_CN.png</key>
		<dict>
			<key>frame</key>
			<string>{{795,731},{200,46}}</string>
			<key>offset</key>
			<string>{0,1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,16},{200,46}}</string>
			<key>sourceSize</key>
			<string>{200,80}</string>
		</dict>
		<key>statistics_selected_EN.png</key>
		<dict>
			<key>frame</key>
			<string>{{723,945},{200,46}}</string>
			<key>offset</key>
			<string>{0,1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,16},{200,46}}</string>
			<key>sourceSize</key>
			<string>{200,80}</string>
		</dict>
		<key>statistics_selected_TW.png</key>
		<dict>
			<key>frame</key>
			<string>{{1197,3},{200,46}}</string>
			<key>offset</key>
			<string>{0,1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,16},{200,46}}</string>
			<key>sourceSize</key>
			<string>{200,80}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>setting02-hd.png</string>
		<key>size</key>
		<string>{1256,1256}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:e5133dcecabc4cd88ba80367a17d190d:c87648668537d3c8cb60408bb8c71f43:1c70263ec4bc61aba194519d9b21b783$</string>
		<key>textureFileName</key>
		<string>setting02-hd.png</string>
	</dict>
</dict>
</plist>
