<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>ss_cloud.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{960,152}}</string>
			<key>offset</key>
			<string>{0,-244}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,488},{960,152}}</string>
			<key>sourceSize</key>
			<string>{960,640}</string>
		</dict>
		<key>ss_map01.png</key>
		<dict>
			<key>frame</key>
			<string>{{1526,674},{506,334}}</string>
			<key>offset</key>
			<string>{3,-3}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{8,6},{506,334}}</string>
			<key>sourceSize</key>
			<string>{516,340}</string>
		</dict>
		<key>ss_map02.png</key>
		<dict>
			<key>frame</key>
			<string>{{1018,674},{506,334}}</string>
			<key>offset</key>
			<string>{3,-3}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{8,6},{506,334}}</string>
			<key>sourceSize</key>
			<string>{516,340}</string>
		</dict>
		<key>ss_map03.png</key>
		<dict>
			<key>frame</key>
			<string>{{510,674},{506,334}}</string>
			<key>offset</key>
			<string>{3,-3}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{8,6},{506,334}}</string>
			<key>sourceSize</key>
			<string>{516,340}</string>
		</dict>
		<key>ss_map04.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,1500},{506,334}}</string>
			<key>offset</key>
			<string>{3,-3}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{8,6},{506,334}}</string>
			<key>sourceSize</key>
			<string>{516,340}</string>
		</dict>
		<key>ss_map05.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,1164},{506,334}}</string>
			<key>offset</key>
			<string>{3,-3}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{8,6},{506,334}}</string>
			<key>sourceSize</key>
			<string>{516,340}</string>
		</dict>
		<key>ss_map06.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,828},{506,334}}</string>
			<key>offset</key>
			<string>{3,-3}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{8,6},{506,334}}</string>
			<key>sourceSize</key>
			<string>{516,340}</string>
		</dict>
		<key>ss_map07.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,492},{506,334}}</string>
			<key>offset</key>
			<string>{3,-3}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{8,6},{506,334}}</string>
			<key>sourceSize</key>
			<string>{516,340}</string>
		</dict>
		<key>ss_map08.png</key>
		<dict>
			<key>frame</key>
			<string>{{1361,338},{506,334}}</string>
			<key>offset</key>
			<string>{3,-3}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{8,6},{506,334}}</string>
			<key>sourceSize</key>
			<string>{516,340}</string>
		</dict>
		<key>ss_map09.png</key>
		<dict>
			<key>frame</key>
			<string>{{853,338},{506,334}}</string>
			<key>offset</key>
			<string>{3,-3}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{8,6},{506,334}}</string>
			<key>sourceSize</key>
			<string>{516,340}</string>
		</dict>
		<key>ss_map10.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,156},{506,334}}</string>
			<key>offset</key>
			<string>{3,-3}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{8,6},{506,334}}</string>
			<key>sourceSize</key>
			<string>{516,340}</string>
		</dict>
		<key>ss_map11.png</key>
		<dict>
			<key>frame</key>
			<string>{{1472,2},{506,334}}</string>
			<key>offset</key>
			<string>{3,-3}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{8,6},{506,334}}</string>
			<key>sourceSize</key>
			<string>{516,340}</string>
		</dict>
		<key>ss_map12.png</key>
		<dict>
			<key>frame</key>
			<string>{{964,2},{506,334}}</string>
			<key>offset</key>
			<string>{3,-3}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{8,6},{506,334}}</string>
			<key>sourceSize</key>
			<string>{516,340}</string>
		</dict>
		<key>ss_towers_01.png</key>
		<dict>
			<key>frame</key>
			<string>{{625,330},{113,56}}</string>
			<key>offset</key>
			<string>{2,-2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{203,9},{113,56}}</string>
			<key>sourceSize</key>
			<string>{515,70}</string>
		</dict>
		<key>ss_towers_02.png</key>
		<dict>
			<key>frame</key>
			<string>{{681,272},{169,56}}</string>
			<key>offset</key>
			<string>{1,-2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{174,9},{169,56}}</string>
			<key>sourceSize</key>
			<string>{515,70}</string>
		</dict>
		<key>ss_towers_03.png</key>
		<dict>
			<key>frame</key>
			<string>{{510,272},{169,56}}</string>
			<key>offset</key>
			<string>{2,-2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{175,9},{169,56}}</string>
			<key>sourceSize</key>
			<string>{515,70}</string>
		</dict>
		<key>ss_towers_04.png</key>
		<dict>
			<key>frame</key>
			<string>{{1869,338},{111,56}}</string>
			<key>offset</key>
			<string>{3,-2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{205,9},{111,56}}</string>
			<key>sourceSize</key>
			<string>{515,70}</string>
		</dict>
		<key>ss_towers_05.png</key>
		<dict>
			<key>frame</key>
			<string>{{740,330},{111,56}}</string>
			<key>offset</key>
			<string>{2,-2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{204,9},{111,56}}</string>
			<key>sourceSize</key>
			<string>{515,70}</string>
		</dict>
		<key>ss_towers_06.png</key>
		<dict>
			<key>frame</key>
			<string>{{510,330},{113,56}}</string>
			<key>offset</key>
			<string>{2,-2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{203,9},{113,56}}</string>
			<key>sourceSize</key>
			<string>{515,70}</string>
		</dict>
		<key>ss_towers_07.png</key>
		<dict>
			<key>frame</key>
			<string>{{797,156},{113,56}}</string>
			<key>offset</key>
			<string>{2,-2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{203,9},{113,56}}</string>
			<key>sourceSize</key>
			<string>{515,70}</string>
		</dict>
		<key>ss_towers_08.png</key>
		<dict>
			<key>frame</key>
			<string>{{739,214},{169,56}}</string>
			<key>offset</key>
			<string>{1,-2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{174,9},{169,56}}</string>
			<key>sourceSize</key>
			<string>{515,70}</string>
		</dict>
		<key>ss_towers_09.png</key>
		<dict>
			<key>frame</key>
			<string>{{510,156},{285,56}}</string>
			<key>offset</key>
			<string>{1,-2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{116,9},{285,56}}</string>
			<key>sourceSize</key>
			<string>{515,70}</string>
		</dict>
		<key>ss_towers_10.png</key>
		<dict>
			<key>frame</key>
			<string>{{1980,2},{55,56}}</string>
			<key>offset</key>
			<string>{2,-2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{232,9},{55,56}}</string>
			<key>sourceSize</key>
			<string>{515,70}</string>
		</dict>
		<key>ss_towers_11.png</key>
		<dict>
			<key>frame</key>
			<string>{{510,214},{227,56}}</string>
			<key>offset</key>
			<string>{2,-2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{146,9},{227,56}}</string>
			<key>sourceSize</key>
			<string>{515,70}</string>
		</dict>
		<key>ss_towers_12.png</key>
		<dict>
			<key>frame</key>
			<string>{{510,156},{285,56}}</string>
			<key>offset</key>
			<string>{1,-2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{116,9},{285,56}}</string>
			<key>sourceSize</key>
			<string>{515,70}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>stages_theme1-hd.png</string>
		<key>size</key>
		<string>{2048,2048}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:ac0d3b15eaa4d0c669c7769f837dadda$</string>
		<key>textureFileName</key>
		<string>stages_theme1-hd.png</string>
	</dict>
</dict>
</plist>
