<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>ss_cloud.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{960,152}}</string>
			<key>offset</key>
			<string>{0,-244}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,488},{960,152}}</string>
			<key>sourceSize</key>
			<string>{960,640}</string>
		</dict>
		<key>ss_map01.png</key>
		<dict>
			<key>frame</key>
			<string>{{1526,338},{506,334}}</string>
			<key>offset</key>
			<string>{3,-3}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{8,6},{506,334}}</string>
			<key>sourceSize</key>
			<string>{516,340}</string>
		</dict>
		<key>ss_map02.png</key>
		<dict>
			<key>frame</key>
			<string>{{1018,674},{506,334}}</string>
			<key>offset</key>
			<string>{3,-3}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{8,6},{506,334}}</string>
			<key>sourceSize</key>
			<string>{516,340}</string>
		</dict>
		<key>ss_map03.png</key>
		<dict>
			<key>frame</key>
			<string>{{1526,2},{506,334}}</string>
			<key>offset</key>
			<string>{3,-3}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{8,6},{506,334}}</string>
			<key>sourceSize</key>
			<string>{516,340}</string>
		</dict>
		<key>ss_map04.png</key>
		<dict>
			<key>frame</key>
			<string>{{1018,338},{506,334}}</string>
			<key>offset</key>
			<string>{3,-3}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{8,6},{506,334}}</string>
			<key>sourceSize</key>
			<string>{516,340}</string>
		</dict>
		<key>ss_map05.png</key>
		<dict>
			<key>frame</key>
			<string>{{1018,2},{506,334}}</string>
			<key>offset</key>
			<string>{3,-3}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{8,6},{506,334}}</string>
			<key>sourceSize</key>
			<string>{516,340}</string>
		</dict>
		<key>ss_map06.png</key>
		<dict>
			<key>frame</key>
			<string>{{510,1500},{506,334}}</string>
			<key>offset</key>
			<string>{3,-3}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{8,6},{506,334}}</string>
			<key>sourceSize</key>
			<string>{516,340}</string>
		</dict>
		<key>ss_map07.png</key>
		<dict>
			<key>frame</key>
			<string>{{510,1164},{506,334}}</string>
			<key>offset</key>
			<string>{3,-3}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{8,6},{506,334}}</string>
			<key>sourceSize</key>
			<string>{516,340}</string>
		</dict>
		<key>ss_map08.png</key>
		<dict>
			<key>frame</key>
			<string>{{510,828},{506,334}}</string>
			<key>offset</key>
			<string>{3,-3}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{8,6},{506,334}}</string>
			<key>sourceSize</key>
			<string>{516,340}</string>
		</dict>
		<key>ss_map09.png</key>
		<dict>
			<key>frame</key>
			<string>{{510,492},{506,334}}</string>
			<key>offset</key>
			<string>{3,-3}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{8,6},{506,334}}</string>
			<key>sourceSize</key>
			<string>{516,340}</string>
		</dict>
		<key>ss_map10.png</key>
		<dict>
			<key>frame</key>
			<string>{{510,156},{506,334}}</string>
			<key>offset</key>
			<string>{3,-3}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{8,6},{506,334}}</string>
			<key>sourceSize</key>
			<string>{516,340}</string>
		</dict>
		<key>ss_map11.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,1500},{506,334}}</string>
			<key>offset</key>
			<string>{3,-3}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{8,6},{506,334}}</string>
			<key>sourceSize</key>
			<string>{516,340}</string>
		</dict>
		<key>ss_map12.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,1164},{506,334}}</string>
			<key>offset</key>
			<string>{3,-3}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{8,6},{506,334}}</string>
			<key>sourceSize</key>
			<string>{516,340}</string>
		</dict>
		<key>ss_map13.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,828},{506,334}}</string>
			<key>offset</key>
			<string>{3,-3}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{8,6},{506,334}}</string>
			<key>sourceSize</key>
			<string>{516,340}</string>
		</dict>
		<key>ss_map14.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,492},{506,334}}</string>
			<key>offset</key>
			<string>{3,-3}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{8,6},{506,334}}</string>
			<key>sourceSize</key>
			<string>{516,340}</string>
		</dict>
		<key>ss_map15.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,156},{506,334}}</string>
			<key>offset</key>
			<string>{3,-3}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{8,6},{506,334}}</string>
			<key>sourceSize</key>
			<string>{516,340}</string>
		</dict>
		<key>ss_towers_01.png</key>
		<dict>
			<key>frame</key>
			<string>{{1526,790},{169,56}}</string>
			<key>offset</key>
			<string>{2,-2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{175,9},{169,56}}</string>
			<key>sourceSize</key>
			<string>{515,70}</string>
		</dict>
		<key>ss_towers_02.png</key>
		<dict>
			<key>frame</key>
			<string>{{1247,1068},{169,56}}</string>
			<key>offset</key>
			<string>{0,-2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{173,9},{169,56}}</string>
			<key>sourceSize</key>
			<string>{515,70}</string>
		</dict>
		<key>ss_towers_03.png</key>
		<dict>
			<key>frame</key>
			<string>{{1018,1126},{169,56}}</string>
			<key>offset</key>
			<string>{2,-2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{175,9},{169,56}}</string>
			<key>sourceSize</key>
			<string>{515,70}</string>
		</dict>
		<key>ss_towers_04.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,1952},{227,56}}</string>
			<key>offset</key>
			<string>{2,-2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{146,9},{227,56}}</string>
			<key>sourceSize</key>
			<string>{515,70}</string>
		</dict>
		<key>ss_towers_05.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,1836},{461,56}}</string>
			<key>offset</key>
			<string>{2,-2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{29,9},{461,56}}</string>
			<key>sourceSize</key>
			<string>{515,70}</string>
		</dict>
		<key>ss_towers_06.png</key>
		<dict>
			<key>frame</key>
			<string>{{1526,732},{227,56}}</string>
			<key>offset</key>
			<string>{2,-2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{146,9},{227,56}}</string>
			<key>sourceSize</key>
			<string>{515,70}</string>
		</dict>
		<key>ss_towers_07.png</key>
		<dict>
			<key>frame</key>
			<string>{{1018,1068},{227,56}}</string>
			<key>offset</key>
			<string>{2,-2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{146,9},{227,56}}</string>
			<key>sourceSize</key>
			<string>{515,70}</string>
		</dict>
		<key>ss_towers_08.png</key>
		<dict>
			<key>frame</key>
			<string>{{750,1836},{169,56}}</string>
			<key>offset</key>
			<string>{2,-2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{175,9},{169,56}}</string>
			<key>sourceSize</key>
			<string>{515,70}</string>
		</dict>
		<key>ss_towers_09.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,1894},{343,56}}</string>
			<key>offset</key>
			<string>{1,-2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{87,9},{343,56}}</string>
			<key>sourceSize</key>
			<string>{515,70}</string>
		</dict>
		<key>ss_towers_10.png</key>
		<dict>
			<key>frame</key>
			<string>{{1526,674},{459,56}}</string>
			<key>offset</key>
			<string>{0,-2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{28,9},{459,56}}</string>
			<key>sourceSize</key>
			<string>{515,70}</string>
		</dict>
		<key>ss_towers_11.png</key>
		<dict>
			<key>frame</key>
			<string>{{231,1952},{113,56}}</string>
			<key>offset</key>
			<string>{3,-2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{204,9},{113,56}}</string>
			<key>sourceSize</key>
			<string>{515,70}</string>
		</dict>
		<key>ss_towers_12.png</key>
		<dict>
			<key>frame</key>
			<string>{{347,1894},{169,56}}</string>
			<key>offset</key>
			<string>{1,-2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{174,9},{169,56}}</string>
			<key>sourceSize</key>
			<string>{515,70}</string>
		</dict>
		<key>ss_towers_13.png</key>
		<dict>
			<key>frame</key>
			<string>{{465,1836},{283,56}}</string>
			<key>offset</key>
			<string>{-2,-2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{114,9},{283,56}}</string>
			<key>sourceSize</key>
			<string>{515,70}</string>
		</dict>
		<key>ss_towers_14.png</key>
		<dict>
			<key>frame</key>
			<string>{{1018,1010},{459,56}}</string>
			<key>offset</key>
			<string>{0,-2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{28,9},{459,56}}</string>
			<key>sourceSize</key>
			<string>{515,70}</string>
		</dict>
		<key>ss_towers_15.png</key>
		<dict>
			<key>frame</key>
			<string>{{1755,732},{113,56}}</string>
			<key>offset</key>
			<string>{2,-2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{203,9},{113,56}}</string>
			<key>sourceSize</key>
			<string>{515,70}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>stages_theme4-hd.png</string>
		<key>size</key>
		<string>{2048,2048}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:4801c2cef57399cad139357ca717868a:aea568cdccf14b16225dff13981007ea:981dd257c1966011e961712a6cd48319$</string>
		<key>textureFileName</key>
		<string>stages_theme4-hd.png</string>
	</dict>
</dict>
</plist>
