<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>ss_cloud.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{960,148}}</string>
			<key>offset</key>
			<string>{0,-246}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,492},{960,148}}</string>
			<key>sourceSize</key>
			<string>{960,640}</string>
		</dict>
		<key>ss_map01.png</key>
		<dict>
			<key>frame</key>
			<string>{{1018,338},{506,334}}</string>
			<key>offset</key>
			<string>{3,-3}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{8,6},{506,334}}</string>
			<key>sourceSize</key>
			<string>{516,340}</string>
		</dict>
		<key>ss_map02.png</key>
		<dict>
			<key>frame</key>
			<string>{{1018,2},{506,334}}</string>
			<key>offset</key>
			<string>{3,-3}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{8,6},{506,334}}</string>
			<key>sourceSize</key>
			<string>{516,340}</string>
		</dict>
		<key>ss_map03.png</key>
		<dict>
			<key>frame</key>
			<string>{{510,1496},{506,334}}</string>
			<key>offset</key>
			<string>{3,-3}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{8,6},{506,334}}</string>
			<key>sourceSize</key>
			<string>{516,340}</string>
		</dict>
		<key>ss_map04.png</key>
		<dict>
			<key>frame</key>
			<string>{{510,1160},{506,334}}</string>
			<key>offset</key>
			<string>{3,-3}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{8,6},{506,334}}</string>
			<key>sourceSize</key>
			<string>{516,340}</string>
		</dict>
		<key>ss_map05.png</key>
		<dict>
			<key>frame</key>
			<string>{{510,824},{506,334}}</string>
			<key>offset</key>
			<string>{3,-3}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{8,6},{506,334}}</string>
			<key>sourceSize</key>
			<string>{516,340}</string>
		</dict>
		<key>ss_map06.png</key>
		<dict>
			<key>frame</key>
			<string>{{510,488},{506,334}}</string>
			<key>offset</key>
			<string>{3,-3}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{8,6},{506,334}}</string>
			<key>sourceSize</key>
			<string>{516,340}</string>
		</dict>
		<key>ss_map07.png</key>
		<dict>
			<key>frame</key>
			<string>{{510,152},{506,334}}</string>
			<key>offset</key>
			<string>{3,-3}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{8,6},{506,334}}</string>
			<key>sourceSize</key>
			<string>{516,340}</string>
		</dict>
		<key>ss_map08.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,1496},{506,334}}</string>
			<key>offset</key>
			<string>{3,-3}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{8,6},{506,334}}</string>
			<key>sourceSize</key>
			<string>{516,340}</string>
		</dict>
		<key>ss_map09.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,1160},{506,334}}</string>
			<key>offset</key>
			<string>{3,-3}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{8,6},{506,334}}</string>
			<key>sourceSize</key>
			<string>{516,340}</string>
		</dict>
		<key>ss_map10.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,824},{506,334}}</string>
			<key>offset</key>
			<string>{3,-3}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{8,6},{506,334}}</string>
			<key>sourceSize</key>
			<string>{516,340}</string>
		</dict>
		<key>ss_map11.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,488},{506,334}}</string>
			<key>offset</key>
			<string>{3,-3}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{8,6},{506,334}}</string>
			<key>sourceSize</key>
			<string>{516,340}</string>
		</dict>
		<key>ss_map12.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,152},{506,334}}</string>
			<key>offset</key>
			<string>{3,-3}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{8,6},{506,334}}</string>
			<key>sourceSize</key>
			<string>{516,340}</string>
		</dict>
		<key>ss_towers_01.png</key>
		<dict>
			<key>frame</key>
			<string>{{463,1832},{285,56}}</string>
			<key>offset</key>
			<string>{1,-2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{116,9},{285,56}}</string>
			<key>sourceSize</key>
			<string>{515,70}</string>
		</dict>
		<key>ss_towers_02.png</key>
		<dict>
			<key>frame</key>
			<string>{{1526,118},{169,56}}</string>
			<key>offset</key>
			<string>{2,-2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{175,9},{169,56}}</string>
			<key>sourceSize</key>
			<string>{515,70}</string>
		</dict>
		<key>ss_towers_03.png</key>
		<dict>
			<key>frame</key>
			<string>{{750,1832},{169,56}}</string>
			<key>offset</key>
			<string>{2,-2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{175,9},{169,56}}</string>
			<key>sourceSize</key>
			<string>{515,70}</string>
		</dict>
		<key>ss_towers_04.png</key>
		<dict>
			<key>frame</key>
			<string>{{347,1890},{169,56}}</string>
			<key>offset</key>
			<string>{2,-2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{175,9},{169,56}}</string>
			<key>sourceSize</key>
			<string>{515,70}</string>
		</dict>
		<key>ss_towers_05.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,1948},{227,56}}</string>
			<key>offset</key>
			<string>{2,-2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{146,9},{227,56}}</string>
			<key>sourceSize</key>
			<string>{515,70}</string>
		</dict>
		<key>ss_towers_06.png</key>
		<dict>
			<key>frame</key>
			<string>{{1018,732},{227,56}}</string>
			<key>offset</key>
			<string>{2,-2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{146,9},{227,56}}</string>
			<key>sourceSize</key>
			<string>{515,70}</string>
		</dict>
		<key>ss_towers_07.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,1890},{343,56}}</string>
			<key>offset</key>
			<string>{2,-2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{88,9},{343,56}}</string>
			<key>sourceSize</key>
			<string>{515,70}</string>
		</dict>
		<key>ss_towers_08.png</key>
		<dict>
			<key>frame</key>
			<string>{{1018,674},{459,56}}</string>
			<key>offset</key>
			<string>{1,-2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{29,9},{459,56}}</string>
			<key>sourceSize</key>
			<string>{515,70}</string>
		</dict>
		<key>ss_towers_09.png</key>
		<dict>
			<key>frame</key>
			<string>{{1526,60},{227,56}}</string>
			<key>offset</key>
			<string>{3,-2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{147,9},{227,56}}</string>
			<key>sourceSize</key>
			<string>{515,70}</string>
		</dict>
		<key>ss_towers_10.png</key>
		<dict>
			<key>frame</key>
			<string>{{1755,60},{113,56}}</string>
			<key>offset</key>
			<string>{2,-2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{203,9},{113,56}}</string>
			<key>sourceSize</key>
			<string>{515,70}</string>
		</dict>
		<key>ss_towers_11.png</key>
		<dict>
			<key>frame</key>
			<string>{{1526,2},{459,56}}</string>
			<key>offset</key>
			<string>{1,-2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{29,9},{459,56}}</string>
			<key>sourceSize</key>
			<string>{515,70}</string>
		</dict>
		<key>ss_towers_12.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,1832},{459,56}}</string>
			<key>offset</key>
			<string>{1,-2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{29,9},{459,56}}</string>
			<key>sourceSize</key>
			<string>{515,70}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>stages_theme2-hd.png</string>
		<key>size</key>
		<string>{2048,2048}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:675af5ffa6be6f711a4ff6839bf01a2d$</string>
		<key>textureFileName</key>
		<string>stages_theme2-hd.png</string>
	</dict>
</dict>
</plist>
