<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>theend1_bg.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{960,640}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{960,640}}</string>
			<key>sourceSize</key>
			<string>{960,640}</string>
		</dict>
		<key>theend1_bg_CN.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,816},{588,128}}</string>
			<key>offset</key>
			<string>{0,235}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{186,21},{588,128}}</string>
			<key>sourceSize</key>
			<string>{960,640}</string>
		</dict>
		<key>theend1_bg_EN.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,644},{954,170}}</string>
			<key>offset</key>
			<string>{-3,235}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{954,170}}</string>
			<key>sourceSize</key>
			<string>{960,640}</string>
		</dict>
		<key>theend1_bg_TW.png</key>
		<dict>
			<key>frame</key>
			<string>{{964,2},{588,128}}</string>
			<key>offset</key>
			<string>{0,235}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{186,21},{588,128}}</string>
			<key>sourceSize</key>
			<string>{960,640}</string>
		</dict>
		<key>theend1_btn_disable.png</key>
		<dict>
			<key>frame</key>
			<string>{{792,816},{198,58}}</string>
			<key>offset</key>
			<string>{0,2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{11,19},{198,58}}</string>
			<key>sourceSize</key>
			<string>{220,100}</string>
		</dict>
		<key>theend1_btn_normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{592,876},{198,58}}</string>
			<key>offset</key>
			<string>{0,2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{11,19},{198,58}}</string>
			<key>sourceSize</key>
			<string>{220,100}</string>
		</dict>
		<key>theend1_btn_press.png</key>
		<dict>
			<key>frame</key>
			<string>{{592,816},{198,58}}</string>
			<key>offset</key>
			<string>{0,2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{11,19},{198,58}}</string>
			<key>sourceSize</key>
			<string>{220,100}</string>
		</dict>
		<key>theend1_close_normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{992,814},{68,68}}</string>
			<key>offset</key>
			<string>{1,3}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{17,3},{68,68}}</string>
			<key>sourceSize</key>
			<string>{100,80}</string>
		</dict>
		<key>theend1_close_pressed.png</key>
		<dict>
			<key>frame</key>
			<string>{{1008,744},{68,68}}</string>
			<key>offset</key>
			<string>{1,3}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{17,3},{68,68}}</string>
			<key>sourceSize</key>
			<string>{100,80}</string>
		</dict>
		<key>theend1_tweibo_CN.png</key>
		<dict>
			<key>frame</key>
			<string>{{1008,592},{150,48}}</string>
			<key>offset</key>
			<string>{-2,-2}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{33,28},{150,48}}</string>
			<key>sourceSize</key>
			<string>{220,100}</string>
		</dict>
		<key>theend1_tweibo_EN.png</key>
		<dict>
			<key>frame</key>
			<string>{{958,644},{150,48}}</string>
			<key>offset</key>
			<string>{1,-2}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{36,28},{150,48}}</string>
			<key>sourceSize</key>
			<string>{220,100}</string>
		</dict>
		<key>theend1_tweibo_TW.png</key>
		<dict>
			<key>frame</key>
			<string>{{792,920},{150,48}}</string>
			<key>offset</key>
			<string>{-2,-2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{33,28},{150,48}}</string>
			<key>sourceSize</key>
			<string>{220,100}</string>
		</dict>
		<key>theend1_wechat_CN.png</key>
		<dict>
			<key>frame</key>
			<string>{{148,946},{144,46}}</string>
			<key>offset</key>
			<string>{-5,1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{33,26},{144,46}}</string>
			<key>sourceSize</key>
			<string>{220,100}</string>
		</dict>
		<key>theend1_wechat_EN.png</key>
		<dict>
			<key>frame</key>
			<string>{{294,946},{136,46}}</string>
			<key>offset</key>
			<string>{0,1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{42,26},{136,46}}</string>
			<key>sourceSize</key>
			<string>{220,100}</string>
		</dict>
		<key>theend1_wechat_TW.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,946},{144,46}}</string>
			<key>offset</key>
			<string>{-5,1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{33,26},{144,46}}</string>
			<key>sourceSize</key>
			<string>{220,100}</string>
		</dict>
		<key>theend1_weibo_CN.png</key>
		<dict>
			<key>frame</key>
			<string>{{598,936},{164,42}}</string>
			<key>offset</key>
			<string>{-4,2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{24,27},{164,42}}</string>
			<key>sourceSize</key>
			<string>{220,100}</string>
		</dict>
		<key>theend1_weibo_EN.png</key>
		<dict>
			<key>frame</key>
			<string>{{792,876},{168,42}}</string>
			<key>offset</key>
			<string>{-2,2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{24,27},{168,42}}</string>
			<key>sourceSize</key>
			<string>{220,100}</string>
		</dict>
		<key>theend1_weibo_TW.png</key>
		<dict>
			<key>frame</key>
			<string>{{432,946},{164,42}}</string>
			<key>offset</key>
			<string>{-4,2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{24,27},{164,42}}</string>
			<key>sourceSize</key>
			<string>{220,100}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>TheEnd1-hd.png</string>
		<key>size</key>
		<string>{1094,994}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:97e5aae203be0b5784dedced1608a391$</string>
		<key>textureFileName</key>
		<string>TheEnd1-hd.png</string>
	</dict>
</dict>
</plist>
