<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>allpass.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,753},{37,291}}</string>
			<key>offset</key>
			<string>{0,1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{1,0},{37,291}}</string>
			<key>sourceSize</key>
			<string>{39,293}</string>
		</dict>
		<key>allpass_gold.png</key>
		<dict>
			<key>frame</key>
			<string>{{841,85},{74,76}}</string>
			<key>offset</key>
			<string>{-1,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1,2},{74,76}}</string>
			<key>sourceSize</key>
			<string>{78,78}</string>
		</dict>
		<key>bookmark_0-12.png</key>
		<dict>
			<key>frame</key>
			<string>{{860,734},{101,44}}</string>
			<key>offset</key>
			<string>{-31,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,2},{101,44}}</string>
			<key>sourceSize</key>
			<string>{163,46}</string>
		</dict>
		<key>bookmark_0-27.png</key>
		<dict>
			<key>frame</key>
			<string>{{757,734},{101,44}}</string>
			<key>offset</key>
			<string>{-31,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,2},{101,44}}</string>
			<key>sourceSize</key>
			<string>{163,46}</string>
		</dict>
		<key>bookmark_1-12.png</key>
		<dict>
			<key>frame</key>
			<string>{{610,730},{101,44}}</string>
			<key>offset</key>
			<string>{-31,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,2},{101,44}}</string>
			<key>sourceSize</key>
			<string>{163,46}</string>
		</dict>
		<key>bookmark_1-18.png</key>
		<dict>
			<key>frame</key>
			<string>{{977,630},{101,44}}</string>
			<key>offset</key>
			<string>{-31,-1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,2},{101,44}}</string>
			<key>sourceSize</key>
			<string>{163,46}</string>
		</dict>
		<key>bookmark_1-27.png</key>
		<dict>
			<key>frame</key>
			<string>{{931,630},{101,44}}</string>
			<key>offset</key>
			<string>{-31,-1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,2},{101,44}}</string>
			<key>sourceSize</key>
			<string>{163,46}</string>
		</dict>
		<key>bookmark_10-12.png</key>
		<dict>
			<key>frame</key>
			<string>{{885,629},{101,44}}</string>
			<key>offset</key>
			<string>{-31,-1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,2},{101,44}}</string>
			<key>sourceSize</key>
			<string>{163,46}</string>
		</dict>
		<key>bookmark_10-18.png</key>
		<dict>
			<key>frame</key>
			<string>{{782,688},{101,44}}</string>
			<key>offset</key>
			<string>{-31,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,2},{101,44}}</string>
			<key>sourceSize</key>
			<string>{163,46}</string>
		</dict>
		<key>bookmark_10-27.png</key>
		<dict>
			<key>frame</key>
			<string>{{679,684},{101,44}}</string>
			<key>offset</key>
			<string>{-31,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,2},{101,44}}</string>
			<key>sourceSize</key>
			<string>{163,46}</string>
		</dict>
		<key>bookmark_11-12.png</key>
		<dict>
			<key>frame</key>
			<string>{{782,642},{101,44}}</string>
			<key>offset</key>
			<string>{-31,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,2},{101,44}}</string>
			<key>sourceSize</key>
			<string>{163,46}</string>
		</dict>
		<key>bookmark_11-18.png</key>
		<dict>
			<key>frame</key>
			<string>{{679,638},{101,44}}</string>
			<key>offset</key>
			<string>{-31,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,2},{101,44}}</string>
			<key>sourceSize</key>
			<string>{163,46}</string>
		</dict>
		<key>bookmark_11-27.png</key>
		<dict>
			<key>frame</key>
			<string>{{633,612},{101,44}}</string>
			<key>offset</key>
			<string>{-31,-1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,2},{101,44}}</string>
			<key>sourceSize</key>
			<string>{163,46}</string>
		</dict>
		<key>bookmark_12-12.png</key>
		<dict>
			<key>frame</key>
			<string>{{977,527},{101,44}}</string>
			<key>offset</key>
			<string>{-31,-1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,2},{101,44}}</string>
			<key>sourceSize</key>
			<string>{163,46}</string>
		</dict>
		<key>bookmark_12-18.png</key>
		<dict>
			<key>frame</key>
			<string>{{931,527},{101,44}}</string>
			<key>offset</key>
			<string>{-31,-1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,2},{101,44}}</string>
			<key>sourceSize</key>
			<string>{163,46}</string>
		</dict>
		<key>bookmark_12-27.png</key>
		<dict>
			<key>frame</key>
			<string>{{977,424},{101,44}}</string>
			<key>offset</key>
			<string>{-31,-1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,2},{101,44}}</string>
			<key>sourceSize</key>
			<string>{163,46}</string>
		</dict>
		<key>bookmark_13-18.png</key>
		<dict>
			<key>frame</key>
			<string>{{931,424},{101,44}}</string>
			<key>offset</key>
			<string>{-31,-1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,2},{101,44}}</string>
			<key>sourceSize</key>
			<string>{163,46}</string>
		</dict>
		<key>bookmark_13-27.png</key>
		<dict>
			<key>frame</key>
			<string>{{977,321},{101,44}}</string>
			<key>offset</key>
			<string>{-31,-1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,2},{101,44}}</string>
			<key>sourceSize</key>
			<string>{163,46}</string>
		</dict>
		<key>bookmark_14-18.png</key>
		<dict>
			<key>frame</key>
			<string>{{931,321},{101,44}}</string>
			<key>offset</key>
			<string>{-31,-1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,2},{101,44}}</string>
			<key>sourceSize</key>
			<string>{163,46}</string>
		</dict>
		<key>bookmark_14-27.png</key>
		<dict>
			<key>frame</key>
			<string>{{885,526},{101,44}}</string>
			<key>offset</key>
			<string>{-31,-1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,2},{101,44}}</string>
			<key>sourceSize</key>
			<string>{163,46}</string>
		</dict>
		<key>bookmark_15-18.png</key>
		<dict>
			<key>frame</key>
			<string>{{885,423},{101,44}}</string>
			<key>offset</key>
			<string>{-31,-1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,2},{101,44}}</string>
			<key>sourceSize</key>
			<string>{163,46}</string>
		</dict>
		<key>bookmark_15-27.png</key>
		<dict>
			<key>frame</key>
			<string>{{885,320},{101,44}}</string>
			<key>offset</key>
			<string>{-31,-1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,2},{101,44}}</string>
			<key>sourceSize</key>
			<string>{163,46}</string>
		</dict>
		<key>bookmark_16-18.png</key>
		<dict>
			<key>frame</key>
			<string>{{782,596},{101,44}}</string>
			<key>offset</key>
			<string>{-31,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,2},{101,44}}</string>
			<key>sourceSize</key>
			<string>{163,46}</string>
		</dict>
		<key>bookmark_16-27.png</key>
		<dict>
			<key>frame</key>
			<string>{{782,550},{101,44}}</string>
			<key>offset</key>
			<string>{-31,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,2},{101,44}}</string>
			<key>sourceSize</key>
			<string>{163,46}</string>
		</dict>
		<key>bookmark_17-18.png</key>
		<dict>
			<key>frame</key>
			<string>{{782,504},{101,44}}</string>
			<key>offset</key>
			<string>{-31,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,2},{101,44}}</string>
			<key>sourceSize</key>
			<string>{163,46}</string>
		</dict>
		<key>bookmark_17-27.png</key>
		<dict>
			<key>frame</key>
			<string>{{782,458},{101,44}}</string>
			<key>offset</key>
			<string>{-31,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,2},{101,44}}</string>
			<key>sourceSize</key>
			<string>{163,46}</string>
		</dict>
		<key>bookmark_18-18.png</key>
		<dict>
			<key>frame</key>
			<string>{{782,412},{101,44}}</string>
			<key>offset</key>
			<string>{-31,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,2},{101,44}}</string>
			<key>sourceSize</key>
			<string>{163,46}</string>
		</dict>
		<key>bookmark_18-27.png</key>
		<dict>
			<key>frame</key>
			<string>{{782,366},{101,44}}</string>
			<key>offset</key>
			<string>{-31,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,2},{101,44}}</string>
			<key>sourceSize</key>
			<string>{163,46}</string>
		</dict>
		<key>bookmark_19-27.png</key>
		<dict>
			<key>frame</key>
			<string>{{782,320},{101,44}}</string>
			<key>offset</key>
			<string>{-31,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,2},{101,44}}</string>
			<key>sourceSize</key>
			<string>{163,46}</string>
		</dict>
		<key>bookmark_2-12.png</key>
		<dict>
			<key>frame</key>
			<string>{{679,592},{101,44}}</string>
			<key>offset</key>
			<string>{-31,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,2},{101,44}}</string>
			<key>sourceSize</key>
			<string>{163,46}</string>
		</dict>
		<key>bookmark_2-18.png</key>
		<dict>
			<key>frame</key>
			<string>{{679,546},{101,44}}</string>
			<key>offset</key>
			<string>{-31,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,2},{101,44}}</string>
			<key>sourceSize</key>
			<string>{163,46}</string>
		</dict>
		<key>bookmark_2-27.png</key>
		<dict>
			<key>frame</key>
			<string>{{679,500},{101,44}}</string>
			<key>offset</key>
			<string>{-31,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,2},{101,44}}</string>
			<key>sourceSize</key>
			<string>{163,46}</string>
		</dict>
		<key>bookmark_20-27.png</key>
		<dict>
			<key>frame</key>
			<string>{{679,454},{101,44}}</string>
			<key>offset</key>
			<string>{-31,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,2},{101,44}}</string>
			<key>sourceSize</key>
			<string>{163,46}</string>
		</dict>
		<key>bookmark_21-27.png</key>
		<dict>
			<key>frame</key>
			<string>{{679,408},{101,44}}</string>
			<key>offset</key>
			<string>{-31,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,2},{101,44}}</string>
			<key>sourceSize</key>
			<string>{163,46}</string>
		</dict>
		<key>bookmark_22-27.png</key>
		<dict>
			<key>frame</key>
			<string>{{679,362},{101,44}}</string>
			<key>offset</key>
			<string>{-31,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,2},{101,44}}</string>
			<key>sourceSize</key>
			<string>{163,46}</string>
		</dict>
		<key>bookmark_23-27.png</key>
		<dict>
			<key>frame</key>
			<string>{{679,316},{101,44}}</string>
			<key>offset</key>
			<string>{-31,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,2},{101,44}}</string>
			<key>sourceSize</key>
			<string>{163,46}</string>
		</dict>
		<key>bookmark_24-27.png</key>
		<dict>
			<key>frame</key>
			<string>{{633,509},{101,44}}</string>
			<key>offset</key>
			<string>{-31,-1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,2},{101,44}}</string>
			<key>sourceSize</key>
			<string>{163,46}</string>
		</dict>
		<key>bookmark_25-27.png</key>
		<dict>
			<key>frame</key>
			<string>{{633,406},{101,44}}</string>
			<key>offset</key>
			<string>{-31,-1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,2},{101,44}}</string>
			<key>sourceSize</key>
			<string>{163,46}</string>
		</dict>
		<key>bookmark_26-27.png</key>
		<dict>
			<key>frame</key>
			<string>{{633,303},{101,44}}</string>
			<key>offset</key>
			<string>{-31,-1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,2},{101,44}}</string>
			<key>sourceSize</key>
			<string>{163,46}</string>
		</dict>
		<key>bookmark_27-27.png</key>
		<dict>
			<key>frame</key>
			<string>{{587,527},{101,44}}</string>
			<key>offset</key>
			<string>{-31,-1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,2},{101,44}}</string>
			<key>sourceSize</key>
			<string>{163,46}</string>
		</dict>
		<key>bookmark_3-12.png</key>
		<dict>
			<key>frame</key>
			<string>{{587,424},{101,44}}</string>
			<key>offset</key>
			<string>{-31,-1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,2},{101,44}}</string>
			<key>sourceSize</key>
			<string>{163,46}</string>
		</dict>
		<key>bookmark_3-18.png</key>
		<dict>
			<key>frame</key>
			<string>{{587,321},{101,44}}</string>
			<key>offset</key>
			<string>{-31,-1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,2},{101,44}}</string>
			<key>sourceSize</key>
			<string>{163,46}</string>
		</dict>
		<key>bookmark_3-27.png</key>
		<dict>
			<key>frame</key>
			<string>{{932,218},{101,44}}</string>
			<key>offset</key>
			<string>{-31,-1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,2},{101,44}}</string>
			<key>sourceSize</key>
			<string>{163,46}</string>
		</dict>
		<key>bookmark_4-12.png</key>
		<dict>
			<key>frame</key>
			<string>{{822,274},{101,44}}</string>
			<key>offset</key>
			<string>{-31,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,2},{101,44}}</string>
			<key>sourceSize</key>
			<string>{163,46}</string>
		</dict>
		<key>bookmark_4-18.png</key>
		<dict>
			<key>frame</key>
			<string>{{719,270},{101,44}}</string>
			<key>offset</key>
			<string>{-31,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,2},{101,44}}</string>
			<key>sourceSize</key>
			<string>{163,46}</string>
		</dict>
		<key>bookmark_4-27.png</key>
		<dict>
			<key>frame</key>
			<string>{{917,148},{101,44}}</string>
			<key>offset</key>
			<string>{-31,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,2},{101,44}}</string>
			<key>sourceSize</key>
			<string>{163,46}</string>
		</dict>
		<key>bookmark_5-12.png</key>
		<dict>
			<key>frame</key>
			<string>{{917,102},{101,44}}</string>
			<key>offset</key>
			<string>{-31,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,2},{101,44}}</string>
			<key>sourceSize</key>
			<string>{163,46}</string>
		</dict>
		<key>bookmark_5-18.png</key>
		<dict>
			<key>frame</key>
			<string>{{829,228},{101,44}}</string>
			<key>offset</key>
			<string>{-31,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,2},{101,44}}</string>
			<key>sourceSize</key>
			<string>{163,46}</string>
		</dict>
		<key>bookmark_5-27.png</key>
		<dict>
			<key>frame</key>
			<string>{{415,745},{101,44}}</string>
			<key>offset</key>
			<string>{-31,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,2},{101,44}}</string>
			<key>sourceSize</key>
			<string>{163,46}</string>
		</dict>
		<key>bookmark_6-12.png</key>
		<dict>
			<key>frame</key>
			<string>{{564,696},{101,44}}</string>
			<key>offset</key>
			<string>{-31,-1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,2},{101,44}}</string>
			<key>sourceSize</key>
			<string>{163,46}</string>
		</dict>
		<key>bookmark_6-18.png</key>
		<dict>
			<key>frame</key>
			<string>{{518,696},{101,44}}</string>
			<key>offset</key>
			<string>{-31,-1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,2},{101,44}}</string>
			<key>sourceSize</key>
			<string>{163,46}</string>
		</dict>
		<key>bookmark_6-27.png</key>
		<dict>
			<key>frame</key>
			<string>{{415,699},{101,44}}</string>
			<key>offset</key>
			<string>{-31,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,2},{101,44}}</string>
			<key>sourceSize</key>
			<string>{163,46}</string>
		</dict>
		<key>bookmark_7-12.png</key>
		<dict>
			<key>frame</key>
			<string>{{726,224},{101,44}}</string>
			<key>offset</key>
			<string>{-31,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,2},{101,44}}</string>
			<key>sourceSize</key>
			<string>{163,46}</string>
		</dict>
		<key>bookmark_7-18.png</key>
		<dict>
			<key>frame</key>
			<string>{{495,650},{101,44}}</string>
			<key>offset</key>
			<string>{-31,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,2},{101,44}}</string>
			<key>sourceSize</key>
			<string>{163,46}</string>
		</dict>
		<key>bookmark_7-27.png</key>
		<dict>
			<key>frame</key>
			<string>{{541,547},{101,44}}</string>
			<key>offset</key>
			<string>{-31,-1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,2},{101,44}}</string>
			<key>sourceSize</key>
			<string>{163,46}</string>
		</dict>
		<key>bookmark_8-12.png</key>
		<dict>
			<key>frame</key>
			<string>{{541,444},{101,44}}</string>
			<key>offset</key>
			<string>{-31,-1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,2},{101,44}}</string>
			<key>sourceSize</key>
			<string>{163,46}</string>
		</dict>
		<key>bookmark_8-18.png</key>
		<dict>
			<key>frame</key>
			<string>{{541,341},{101,44}}</string>
			<key>offset</key>
			<string>{-31,-1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,2},{101,44}}</string>
			<key>sourceSize</key>
			<string>{163,46}</string>
		</dict>
		<key>bookmark_8-27.png</key>
		<dict>
			<key>frame</key>
			<string>{{495,547},{101,44}}</string>
			<key>offset</key>
			<string>{-31,-1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,2},{101,44}}</string>
			<key>sourceSize</key>
			<string>{163,46}</string>
		</dict>
		<key>bookmark_9-12.png</key>
		<dict>
			<key>frame</key>
			<string>{{495,444},{101,44}}</string>
			<key>offset</key>
			<string>{-31,-1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,2},{101,44}}</string>
			<key>sourceSize</key>
			<string>{163,46}</string>
		</dict>
		<key>bookmark_9-18.png</key>
		<dict>
			<key>frame</key>
			<string>{{495,341},{101,44}}</string>
			<key>offset</key>
			<string>{-31,-1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,2},{101,44}}</string>
			<key>sourceSize</key>
			<string>{163,46}</string>
		</dict>
		<key>bookmark_9-27.png</key>
		<dict>
			<key>frame</key>
			<string>{{295,753},{101,44}}</string>
			<key>offset</key>
			<string>{-31,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,2},{101,44}}</string>
			<key>sourceSize</key>
			<string>{163,46}</string>
		</dict>
		<key>giftthisapp.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{440,343}}</string>
			<key>offset</key>
			<string>{8,1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{22,0},{440,343}}</string>
			<key>sourceSize</key>
			<string>{468,345}</string>
		</dict>
		<key>giftthisapp_CN.png</key>
		<dict>
			<key>frame</key>
			<string>{{444,238},{206,35}}</string>
			<key>offset</key>
			<string>{-2,-116}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{129,271},{206,35}}</string>
			<key>sourceSize</key>
			<string>{468,345}</string>
		</dict>
		<key>ss_help_normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{713,771},{26,27}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{13,6},{26,27}}</string>
			<key>sourceSize</key>
			<string>{52,39}</string>
		</dict>
		<key>ss_help_pressed.png</key>
		<dict>
			<key>frame</key>
			<string>{{588,275},{44,39}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{4,0},{44,39}}</string>
			<key>sourceSize</key>
			<string>{52,39}</string>
		</dict>
		<key>theme_bg_CN.png</key>
		<dict>
			<key>frame</key>
			<string>{{908,194},{76,22}}</string>
			<key>offset</key>
			<string>{3,189}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{277,8},{76,22}}</string>
			<key>sourceSize</key>
			<string>{624,416}</string>
		</dict>
		<key>theme_home_normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{978,2},{26,23}}</string>
			<key>offset</key>
			<string>{-1,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{12,8},{26,23}}</string>
			<key>sourceSize</key>
			<string>{52,39}</string>
		</dict>
		<key>theme_home_pressed.png</key>
		<dict>
			<key>frame</key>
			<string>{{713,730},{42,39}}</string>
			<key>offset</key>
			<string>{-1,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{4,0},{42,39}}</string>
			<key>sourceSize</key>
			<string>{52,39}</string>
		</dict>
		<key>theme_locked.png</key>
		<dict>
			<key>frame</key>
			<string>{{726,89},{113,133}}</string>
			<key>offset</key>
			<string>{-2,-2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,4},{113,133}}</string>
			<key>sourceSize</key>
			<string>{117,137}</string>
		</dict>
		<key>theme_pack01_CN.png</key>
		<dict>
			<key>frame</key>
			<string>{{444,308},{140,31}}</string>
			<key>offset</key>
			<string>{99,94}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{263,63},{140,31}}</string>
			<key>sourceSize</key>
			<string>{468,345}</string>
		</dict>
		<key>theme_pack02_CN.png</key>
		<dict>
			<key>frame</key>
			<string>{{834,2},{142,31}}</string>
			<key>offset</key>
			<string>{76,93}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{239,64},{142,31}}</string>
			<key>sourceSize</key>
			<string>{468,345}</string>
		</dict>
		<key>theme_pack03_CN.png</key>
		<dict>
			<key>frame</key>
			<string>{{444,275},{142,31}}</string>
			<key>offset</key>
			<string>{80,93}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{243,64},{142,31}}</string>
			<key>sourceSize</key>
			<string>{468,345}</string>
		</dict>
		<key>theme_pack04_CN.png</key>
		<dict>
			<key>frame</key>
			<string>{{430,347},{350,63}}</string>
			<key>offset</key>
			<string>{2,94}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{61,47},{350,63}}</string>
			<key>sourceSize</key>
			<string>{468,345}</string>
		</dict>
		<key>theme_pack04_covered.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,347},{426,333}}</string>
			<key>offset</key>
			<string>{-10,-5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{11,11},{426,333}}</string>
			<key>sourceSize</key>
			<string>{468,345}</string>
		</dict>
		<key>theme_pack05_CN.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,682},{346,69}}</string>
			<key>offset</key>
			<string>{2,91}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{63,47},{346,69}}</string>
			<key>sourceSize</key>
			<string>{468,345}</string>
		</dict>
		<key>theme_pack06_CN.png</key>
		<dict>
			<key>frame</key>
			<string>{{444,89},{280,147}}</string>
			<key>offset</key>
			<string>{-8,94}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{86,5},{280,147}}</string>
			<key>sourceSize</key>
			<string>{468,345}</string>
		</dict>
		<key>theme_pack06_release_CN.png</key>
		<dict>
			<key>frame</key>
			<string>{{444,2},{388,85}}</string>
			<key>offset</key>
			<string>{0,15}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{40,115},{388,85}}</string>
			<key>sourceSize</key>
			<string>{468,345}</string>
		</dict>
		<key>theme_play_normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{495,696},{1,1}}</string>
			<key>offset</key>
			<string>{-64.5,25.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{1,1}}</string>
			<key>sourceSize</key>
			<string>{130,52}</string>
		</dict>
		<key>theme_play_pressed.png</key>
		<dict>
			<key>frame</key>
			<string>{{834,35},{122,48}}</string>
			<key>offset</key>
			<string>{0,-2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{4,4},{122,48}}</string>
			<key>sourceSize</key>
			<string>{130,52}</string>
		</dict>
		<key>theme_pointleft_normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{652,238},{63,65}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{1,0},{63,65}}</string>
			<key>sourceSize</key>
			<string>{65,65}</string>
		</dict>
		<key>theme_pointleft_pressed.png</key>
		<dict>
			<key>frame</key>
			<string>{{841,163},{63,65}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{1,0},{63,65}}</string>
			<key>sourceSize</key>
			<string>{65,65}</string>
		</dict>
		<key>theme_pointright_normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{350,682},{63,65}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1,0},{63,65}}</string>
			<key>sourceSize</key>
			<string>{65,65}</string>
		</dict>
		<key>theme_pointright_pressed.png</key>
		<dict>
			<key>frame</key>
			<string>{{958,35},{63,65}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1,0},{63,65}}</string>
			<key>sourceSize</key>
			<string>{65,65}</string>
		</dict>
		<key>theme_pos_active.png</key>
		<dict>
			<key>frame</key>
			<string>{{917,85},{10,10}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{3,3},{10,10}}</string>
			<key>sourceSize</key>
			<string>{16,16}</string>
		</dict>
		<key>theme_pos_normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{415,682},{10,10}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{3,3},{10,10}}</string>
			<key>sourceSize</key>
			<string>{16,16}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>themescene1-hd.png</string>
		<key>size</key>
		<string>{1023,799}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:ea84233db1dad26488f776f1c4aaf5c1$</string>
		<key>textureFileName</key>
		<string>themescene1-hd.png</string>
	</dict>
</dict>
</plist>
