<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Anchor-11.png</key>
            <dict>
                <key>frame</key>
                <string>{{294,380},{64,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,11},{64,58}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>Anchor-12.png</key>
            <dict>
                <key>frame</key>
                <string>{{440,374},{64,72}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,4},{64,72}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>Anchor-13.png</key>
            <dict>
                <key>frame</key>
                <string>{{368,298},{70,80}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{70,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>Anchor00.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,344},{76,78}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{76,78}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>Anchor01.png</key>
            <dict>
                <key>frame</key>
                <string>{{408,102},{76,78}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{76,78}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>Anchor11.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,288},{54,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,10},{54,60}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>Anchor12.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,440},{50,54}}</string>
                <key>offset</key>
                <string>{7,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,17},{50,54}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>Anchor13.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,436},{52,56}}</string>
                <key>offset</key>
                <string>{-8,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,11},{52,56}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>Anchor21.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,344},{62,66}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,6},{62,66}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>Anchor22.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,422},{56,62}}</string>
                <key>offset</key>
                <string>{6,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,13},{56,62}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>Anchor23.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,412},{60,62}}</string>
                <key>offset</key>
                <string>{-6,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,7},{60,62}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>Anchor31.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,366},{72,72}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,5},{72,72}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>Anchor32.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,218},{62,68}}</string>
                <key>offset</key>
                <string>{8,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,8},{62,68}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>Anchor33.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,366},{68,68}}</string>
                <key>offset</key>
                <string>{-5,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,4},{68,68}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>PAnchor-11.png</key>
            <dict>
                <key>frame</key>
                <string>{{472,180},{30,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{135,135},{30,30}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>PAnchor-12.png</key>
            <dict>
                <key>frame</key>
                <string>{{348,441},{52,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{124,124},{52,52}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>PAnchor-13.png</key>
            <dict>
                <key>frame</key>
                <string>{{368,192},{102,104}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{100,98},{102,104}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>PAnchor-14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,218},{146,146}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{77,77},{146,146}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>PAnchor-15.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,2},{188,188}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{57,57},{188,188}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>PAnchor-16.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{214,214}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,44},{214,214}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>PAnchor01.png</key>
            <dict>
                <key>frame</key>
                <string>{{440,298},{60,74}}</string>
                <key>offset</key>
                <string>{-4,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{41,24},{60,74}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>PAnchor02.png</key>
            <dict>
                <key>frame</key>
                <string>{{408,2},{98,96}}</string>
                <key>offset</key>
                <string>{-1,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,22},{98,96}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>PAnchor03.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,192},{148,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{148,150}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>PAnchor11.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,288},{54,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,10},{54,60}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>PAnchor12.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,448},{45,49}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,19},{45,49}}</string>
                <key>sourceSize</key>
                <string>{85,85}</string>
            </dict>
            <key>PAnchor21.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,344},{62,66}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,6},{62,66}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>PAnchor22.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,440},{51,55}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,14},{51,55}}</string>
                <key>sourceSize</key>
                <string>{85,85}</string>
            </dict>
            <key>PAnchor31.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,366},{72,72}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,5},{72,72}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>PAnchor32.png</key>
            <dict>
                <key>frame</key>
                <string>{{360,380},{59,59}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,13},{59,59}}</string>
                <key>sourceSize</key>
                <string>{85,85}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>TAnchor-hd.png</string>
            <key>size</key>
            <string>{506,496}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e558b646167ff0b4944305e9651b3ff7$</string>
            <key>textureFileName</key>
            <string>TAnchor-hd.png</string>
        </dict>
    </dict>
</plist>
