<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Arrow-11.png</key>
            <dict>
                <key>frame</key>
                <string>{{236,124},{66,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,7},{66,66}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>Arrow-12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,162},{74,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{74,74}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>Arrow-13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{78,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{78,78}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>Arrow00.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,2},{76,78}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{76,78}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>Arrow01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,82},{76,78}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{76,78}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>Arrow11.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,134},{74,58}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,6},{74,58}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>Arrow12.png</key>
            <dict>
                <key>frame</key>
                <string>{{236,64},{76,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,11},{76,58}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>Arrow13.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,148},{74,58}}</string>
                <key>offset</key>
                <string>{0,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{74,58}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>Arrow21.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,194},{74,60}}</string>
                <key>offset</key>
                <string>{0,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{74,60}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>Arrow22.png</key>
            <dict>
                <key>frame</key>
                <string>{{236,2},{76,60}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,8},{76,60}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>Arrow23.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,194},{74,60}}</string>
                <key>offset</key>
                <string>{0,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{74,60}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>Arrow31.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,68},{74,64}}</string>
                <key>offset</key>
                <string>{0,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{74,64}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>Arrow32.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,82},{78,64}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,7},{78,64}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>Arrow33.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,2},{74,64}}</string>
                <key>offset</key>
                <string>{0,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{74,64}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>PArrow01.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,192},{42,42}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,19},{42,42}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>PArrow02.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,124},{58,66}}</string>
                <key>offset</key>
                <string>{-2,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,2},{58,66}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>PArrow11.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,2},{32,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,70}}</string>
                <key>sourceSize</key>
                <string>{32,70}</string>
            </dict>
            <key>PArrow12.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,2},{32,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,70}}</string>
                <key>sourceSize</key>
                <string>{32,70}</string>
            </dict>
            <key>PArrow21.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,2},{32,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,70}}</string>
                <key>sourceSize</key>
                <string>{32,70}</string>
            </dict>
            <key>PArrow22.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,2},{32,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,70}}</string>
                <key>sourceSize</key>
                <string>{32,70}</string>
            </dict>
            <key>PArrow31.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,2},{32,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,70}}</string>
                <key>sourceSize</key>
                <string>{32,70}</string>
            </dict>
            <key>PArrow32.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,2},{32,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,70}}</string>
                <key>sourceSize</key>
                <string>{32,70}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>TArrow-hd.png</string>
            <key>size</key>
            <string>{364,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:146d269136616823be1fc99bf38f5c53$</string>
            <key>textureFileName</key>
            <string>TArrow-hd.png</string>
        </dict>
    </dict>
</plist>
