<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>BStar-11.png</key>
            <dict>
                <key>frame</key>
                <string>{{800,2},{62,62}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,9},{62,62}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>BStar-12.png</key>
            <dict>
                <key>frame</key>
                <string>{{778,74},{64,64}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,9},{64,64}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>BStar-13.png</key>
            <dict>
                <key>frame</key>
                <string>{{578,140},{74,70}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,8},{74,70}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>BStar00.png</key>
            <dict>
                <key>frame</key>
                <string>{{500,142},{76,78}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{76,78}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>BStar01.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,142},{76,78}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{76,78}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>BStar11.png</key>
            <dict>
                <key>frame</key>
                <string>{{904,164},{52,50}}</string>
                <key>offset</key>
                <string>{-3,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,12},{52,50}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>BStar12.png</key>
            <dict>
                <key>frame</key>
                <string>{{958,112},{50,52}}</string>
                <key>offset</key>
                <string>{5,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,17},{50,52}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>BStar13.png</key>
            <dict>
                <key>frame</key>
                <string>{{924,58},{52,52}}</string>
                <key>offset</key>
                <string>{-9,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,10},{52,52}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>BStar21.png</key>
            <dict>
                <key>frame</key>
                <string>{{864,2},{62,58}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,9},{62,58}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>BStar22.png</key>
            <dict>
                <key>frame</key>
                <string>{{842,140},{60,62}}</string>
                <key>offset</key>
                <string>{5,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,12},{60,62}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>BStar23.png</key>
            <dict>
                <key>frame</key>
                <string>{{780,140},{60,62}}</string>
                <key>offset</key>
                <string>{-7,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,5},{60,62}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>BStar31.png</key>
            <dict>
                <key>frame</key>
                <string>{{732,2},{70,66}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,3},{70,66}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>BStar32.png</key>
            <dict>
                <key>frame</key>
                <string>{{662,2},{70,68}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,6},{70,68}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>BStar33.png</key>
            <dict>
                <key>frame</key>
                <string>{{710,146},{68,68}}</string>
                <key>offset</key>
                <string>{-6,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{68,68}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>PBStar-11.png</key>
            <dict>
                <key>frame</key>
                <string>{{598,102},{30,30}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{136,135},{30,30}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>PBStar-12.png</key>
            <dict>
                <key>frame</key>
                <string>{{958,166},{50,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{125,125},{50,50}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>PBStar-13.png</key>
            <dict>
                <key>frame</key>
                <string>{{562,2},{98,98}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{102,101},{98,98}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>PBStar-14.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,2},{138,138}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{82,81},{138,138}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>PBStar-15.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,2},{198,198}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,51},{198,198}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>PBStar-16.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{218,218}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,42},{218,218}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>PBStar-21.png</key>
            <dict>
                <key>frame</key>
                <string>{{650,102},{96,58}}</string>
                <key>offset</key>
                <string>{0,-21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,42},{96,58}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>PBStar01.png</key>
            <dict>
                <key>frame</key>
                <string>{{562,102},{34,36}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,23},{34,36}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>PBStar02.png</key>
            <dict>
                <key>frame</key>
                <string>{{924,2},{54,54}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,12},{54,54}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>PBStar11.png</key>
            <dict>
                <key>frame</key>
                <string>{{904,112},{52,50}}</string>
                <key>offset</key>
                <string>{-3,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,12},{52,50}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>PBStar21.png</key>
            <dict>
                <key>frame</key>
                <string>{{844,66},{62,58}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,9},{62,58}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>PBStar31.png</key>
            <dict>
                <key>frame</key>
                <string>{{710,74},{70,66}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,3},{70,66}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>TBlueStar-hd.png</string>
            <key>size</key>
            <string>{1010,222}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4fe4a962f021884614397271eba6186e$</string>
            <key>textureFileName</key>
            <string>TBlueStar-hd.png</string>
        </dict>
    </dict>
</plist>
