<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Fish-11.png</key>
            <dict>
                <key>frame</key>
                <string>{{442,308},{58,58}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,11},{58,58}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>Fish-12.png</key>
            <dict>
                <key>frame</key>
                <string>{{442,308},{58,58}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,11},{58,58}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>Fish-13.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,424},{68,68}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,7},{68,68}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>Fish00.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,234},{76,78}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{76,78}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>Fish01.png</key>
            <dict>
                <key>frame</key>
                <string>{{74,358},{76,78}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{76,78}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>Fish11.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,376},{52,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,11},{52,58}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>Fish12.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,442},{52,52}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,20},{52,52}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>Fish13.png</key>
            <dict>
                <key>frame</key>
                <string>{{288,376},{46,60}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,6},{46,60}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>Fish21.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,438},{66,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,6},{66,68}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>Fish22.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,376},{70,62}}</string>
                <key>offset</key>
                <string>{1,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,15},{70,62}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>Fish23.png</key>
            <dict>
                <key>frame</key>
                <string>{{444,2},{58,70}}</string>
                <key>offset</key>
                <string>{1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,2},{58,70}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>Fish31.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,356},{72,74}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,4},{72,74}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>Fish32.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,430},{78,66}}</string>
                <key>offset</key>
                <string>{1,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,13},{78,66}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>Fish33.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,442},{62,76}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,1},{62,76}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>PFish-11.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,292},{76,38}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,1},{76,38}}</string>
                <key>sourceSize</key>
                <string>{80,42}</string>
            </dict>
            <key>PFish-12.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,210},{80,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{80,38}}</string>
                <key>sourceSize</key>
                <string>{80,42}</string>
            </dict>
            <key>PFish-13.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,312},{74,42}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{74,42}}</string>
                <key>sourceSize</key>
                <string>{80,42}</string>
            </dict>
            <key>PFish-21.png</key>
            <dict>
                <key>frame</key>
                <string>{{428,442},{50,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{125,125},{50,50}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>PFish-22.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,430},{70,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{115,115},{70,70}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>PFish-23.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,234},{120,122}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{91,89},{120,122}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>PFish-24.png</key>
            <dict>
                <key>frame</key>
                <string>{{236,210},{164,164}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{68,68},{164,164}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>PFish-25.png</key>
            <dict>
                <key>frame</key>
                <string>{{236,2},{206,206}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,48},{206,206}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>PFish-26.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{232,230}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,36},{232,230}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>PFish01.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,376},{40,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,26},{40,38}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>PFish02.png</key>
            <dict>
                <key>frame</key>
                <string>{{444,74},{66,60}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,16},{66,60}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>PFish11.png</key>
            <dict>
                <key>frame</key>
                <string>{{444,142},{53,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,73}}</string>
                <key>sourceSize</key>
                <string>{53,73}</string>
            </dict>
            <key>PFish21.png</key>
            <dict>
                <key>frame</key>
                <string>{{442,217},{63,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,89}}</string>
                <key>sourceSize</key>
                <string>{63,89}</string>
            </dict>
            <key>PFish31.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,370},{70,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,99}}</string>
                <key>sourceSize</key>
                <string>{70,99}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>TFish-hd.png</string>
            <key>size</key>
            <string>{507,507}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8417dad77c2ec9809106ab005572f174$</string>
            <key>textureFileName</key>
            <string>TFish-hd.png</string>
        </dict>
    </dict>
</plist>
