<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>PRocket-11.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,456},{38,38}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,82},{38,38}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>PRocket-12.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,244},{70,70}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{66,65},{70,70}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>PRocket-13.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,144},{96,96}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{53,51},{96,96}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>PRocket-14.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,2},{142,140}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,30},{142,140}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>PRocket-15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,250},{184,184}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,6},{184,184}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>PRocket-16.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{246,246}}</string>
                <key>offset</key>
                <string>{2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{246,246}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>PRocket01.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,408},{46,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,17},{46,46}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>PRocket02.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,244},{70,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,5},{70,70}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>PRocket11.png</key>
            <dict>
                <key>frame</key>
                <string>{{400,214},{30,88}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{33,8},{30,88}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>PRocket12.png</key>
            <dict>
                <key>frame</key>
                <string>{{462,314},{30,82}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,9},{30,82}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>PRocket13.png</key>
            <dict>
                <key>frame</key>
                <string>{{430,314},{30,86}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,9},{30,86}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>PRocket14.png</key>
            <dict>
                <key>frame</key>
                <string>{{434,402},{30,80}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,9},{30,80}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>PRocket15.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,346},{30,86}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,9},{30,86}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>PRocket21.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,338},{42,94}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,2},{42,94}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>PRocket22.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,316},{42,88}}</string>
                <key>offset</key>
                <string>{2,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,2},{42,88}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>PRocket23.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,242},{42,94}}</string>
                <key>offset</key>
                <string>{2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,1},{42,94}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>PRocket24.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,316},{42,90}}</string>
                <key>offset</key>
                <string>{2,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,1},{42,90}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>PRocket25.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,250},{42,94}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,2},{42,94}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>PRocket31.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,250},{50,100}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,0},{50,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>PRocket32.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,82},{50,94}}</string>
                <key>offset</key>
                <string>{-2,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,0},{50,94}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>PRocket33.png</key>
            <dict>
                <key>frame</key>
                <string>{{348,144},{50,98}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,0},{50,98}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>PRocket34.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,436},{50,94}}</string>
                <key>offset</key>
                <string>{-2,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,0},{50,94}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>PRocket35.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,436},{50,100}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,0},{50,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>Rocket-11.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,432},{60,58}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,11},{60,58}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>Rocket-12.png</key>
            <dict>
                <key>frame</key>
                <string>{{400,246},{66,66}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,6},{66,66}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>Rocket-13.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,2},{78,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{78,78}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>Rocket00.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,352},{76,78}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{76,78}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>Rocket01.png</key>
            <dict>
                <key>frame</key>
                <string>{{400,134},{76,78}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{76,78}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>Rocket11.png</key>
            <dict>
                <key>frame</key>
                <string>{{466,398},{30,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,8},{30,64}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>Rocket12.png</key>
            <dict>
                <key>frame</key>
                <string>{{400,214},{30,88}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{33,8},{30,88}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>Rocket13.png</key>
            <dict>
                <key>frame</key>
                <string>{{462,314},{30,82}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,9},{30,82}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>Rocket21.png</key>
            <dict>
                <key>frame</key>
                <string>{{390,406},{42,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,5},{42,70}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>Rocket22.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,338},{42,94}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,2},{42,94}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>Rocket23.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,316},{42,88}}</string>
                <key>offset</key>
                <string>{2,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,2},{42,88}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>Rocket31.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,434},{50,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,3},{50,74}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>Rocket32.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,250},{50,100}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,0},{50,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>Rocket33.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,82},{50,94}}</string>
                <key>offset</key>
                <string>{-2,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,0},{50,94}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>TRocket-hd.png</string>
            <key>size</key>
            <string>{499,499}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c88adb2e9a4d5db752510fbac0324fe1$</string>
            <key>textureFileName</key>
            <string>TRocket-hd.png</string>
        </dict>
    </dict>
</plist>
