<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>PShit-11.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,2},{78,18}}</string>
                <key>offset</key>
                <string>{0,-15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,46},{78,18}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>PShit-12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{80,22}}</string>
                <key>offset</key>
                <string>{0,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,42},{80,22}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>PShit01.png</key>
            <dict>
                <key>frame</key>
                <string>{{496,64},{22,22}}</string>
                <key>offset</key>
                <string>{-2,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,25},{22,22}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>PShit02.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,74},{52,48}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,15},{52,48}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>PShit11.png</key>
            <dict>
                <key>frame</key>
                <string>{{536,2},{18,48}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,11},{18,48}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>PShit12.png</key>
            <dict>
                <key>frame</key>
                <string>{{536,52},{14,50}}</string>
                <key>offset</key>
                <string>{-2,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,9},{14,50}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>PShit21.png</key>
            <dict>
                <key>frame</key>
                <string>{{496,104},{22,54}}</string>
                <key>offset</key>
                <string>{-2,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,7},{22,54}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>PShit22.png</key>
            <dict>
                <key>frame</key>
                <string>{{472,68},{22,54}}</string>
                <key>offset</key>
                <string>{-2,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,7},{22,54}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>PShit31.png</key>
            <dict>
                <key>frame</key>
                <string>{{456,2},{28,64}}</string>
                <key>offset</key>
                <string>{-1,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,4},{28,64}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>PShit32.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,2},{30,66}}</string>
                <key>offset</key>
                <string>{0,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,1},{30,66}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>Shit-11.png</key>
            <dict>
                <key>frame</key>
                <string>{{424,2},{64,30}}</string>
                <key>offset</key>
                <string>{0,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,35},{64,30}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>Shit-12.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,82},{74,36}}</string>
                <key>offset</key>
                <string>{0,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,35},{74,36}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>Shit-13.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,82},{78,36}}</string>
                <key>offset</key>
                <string>{0,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,42},{78,36}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>Shit00.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,2},{76,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{76,78}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>Shit01.png</key>
            <dict>
                <key>frame</key>
                <string>{{26,2},{76,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{76,78}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>Shit11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,84},{48,42}}</string>
                <key>offset</key>
                <string>{-1,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,15},{48,42}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>Shit12.png</key>
            <dict>
                <key>frame</key>
                <string>{{52,82},{44,46}}</string>
                <key>offset</key>
                <string>{0,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,9},{44,46}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>Shit13.png</key>
            <dict>
                <key>frame</key>
                <string>{{424,68},{56,46}}</string>
                <key>offset</key>
                <string>{-1,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,13},{56,46}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>Shit21.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,72},{54,54}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,9},{54,54}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>Shit22.png</key>
            <dict>
                <key>frame</key>
                <string>{{486,2},{48,60}}</string>
                <key>offset</key>
                <string>{0,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,1},{48,60}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>Shit23.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,70},{60,56}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,8},{60,56}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>Shit31.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,2},{62,66}}</string>
                <key>offset</key>
                <string>{-1,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,3},{62,66}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>Shit32.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,2},{56,68}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,1},{56,68}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>Shit33.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,2},{70,66}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,6},{70,66}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>TShit-hd.png</string>
            <key>size</key>
            <string>{556,128}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e647b714939eabefdc7d5d23b0f4bb51$</string>
            <key>textureFileName</key>
            <string>TShit-hd.png</string>
        </dict>
    </dict>
</plist>
