<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>PSnow-21.png</key>
            <dict>
                <key>frame</key>
                <string>{{654,278},{96,36}}</string>
                <key>offset</key>
                <string>{0,-32}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,64},{96,36}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>PSnow01.png</key>
            <dict>
                <key>frame</key>
                <string>{{654,278},{96,36}}</string>
                <key>offset</key>
                <string>{0,-32}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,64},{96,36}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>PSnow02.png</key>
            <dict>
                <key>frame</key>
                <string>{{654,278},{96,36}}</string>
                <key>offset</key>
                <string>{0,-32}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,64},{96,36}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>PSnow11.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,278},{248,248}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,50},{248,248}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>PSnow12.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,2},{276,274}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,38},{276,274}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>PSnow13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1530},{308,308}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,22},{308,308}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>PSnow14.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,1512},{322,322}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,14},{322,322}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>PSnow15.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,1188},{322,322}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,15},{322,322}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>PSnow21.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,804},{306,306}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,47},{306,306}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>PSnow22.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1188},{340,340}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,30},{340,340}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>PSnow23.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,804},{382,382}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,9},{382,382}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>PSnow24.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,404},{398,400}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{398,400}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>PSnow25.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{400,400}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{400,400}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>PSnow31.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,804},{306,306}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,47},{306,306}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>PSnow32.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1188},{340,340}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,30},{340,340}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>PSnow33.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,804},{382,382}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,9},{382,382}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>PSnow34.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,404},{398,400}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{398,400}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>PSnow35.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{400,400}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{400,400}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>Snow-11.png</key>
            <dict>
                <key>frame</key>
                <string>{{468,740},{56,56}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,12},{56,56}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>Snow-12.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,682},{62,62}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,10},{62,62}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>Snow-13.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,682},{62,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,9},{62,62}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>Snow00.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,528},{76,78}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{76,78}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>Snow01.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,528},{76,78}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{76,78}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>Snow11.png</key>
            <dict>
                <key>frame</key>
                <string>{{624,732},{56,64}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,9},{56,64}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>Snow12.png</key>
            <dict>
                <key>frame</key>
                <string>{{626,606},{60,66}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,7},{60,66}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>Snow13.png</key>
            <dict>
                <key>frame</key>
                <string>{{626,668},{62,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,8},{62,64}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>Snow21.png</key>
            <dict>
                <key>frame</key>
                <string>{{480,606},{72,62}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,7},{72,62}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>Snow22.png</key>
            <dict>
                <key>frame</key>
                <string>{{552,678},{70,68}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,4},{70,68}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>Snow23.png</key>
            <dict>
                <key>frame</key>
                <string>{{480,670},{70,68}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,5},{70,68}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>Snow31.png</key>
            <dict>
                <key>frame</key>
                <string>{{554,606},{70,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,5},{70,70}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>Snow32.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,606},{74,74}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{74,74}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>Snow33.png</key>
            <dict>
                <key>frame</key>
                <string>{{564,528},{76,76}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{76,76}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>TSnow-hd.png</string>
            <key>size</key>
            <string>{694,1840}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:48d552907e6b94d0ed2fb1a9adc5d445$</string>
            <key>textureFileName</key>
            <string>TSnow-hd.png</string>
        </dict>
    </dict>
</plist>
