<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>PSun01.png</key>
            <dict>
                <key>frame</key>
                <string>{{690,362},{70,52}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,16},{70,52}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>PSun02.png</key>
            <dict>
                <key>frame</key>
                <string>{{916,1030},{78,56}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,12},{78,56}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>PSun03.png</key>
            <dict>
                <key>frame</key>
                <string>{{540,362},{74,56}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,11},{74,56}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>PSun04.png</key>
            <dict>
                <key>frame</key>
                <string>{{916,790},{78,58}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,10},{78,58}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>PSun05.png</key>
            <dict>
                <key>frame</key>
                <string>{{616,362},{72,52}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,16},{72,52}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>PSun06.png</key>
            <dict>
                <key>frame</key>
                <string>{{690,362},{70,52}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,16},{70,52}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>PSun07.png</key>
            <dict>
                <key>frame</key>
                <string>{{916,1030},{78,56}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,12},{78,56}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>PSun08.png</key>
            <dict>
                <key>frame</key>
                <string>{{540,362},{74,56}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,11},{74,56}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>PSun09.png</key>
            <dict>
                <key>frame</key>
                <string>{{916,790},{78,58}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,10},{78,58}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>PSun11.png</key>
            <dict>
                <key>frame</key>
                <string>{{750,256},{228,228}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{61,60},{228,228}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>PSun12.png</key>
            <dict>
                <key>frame</key>
                <string>{{750,2},{252,252}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{49,49},{252,252}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>PSun13.png</key>
            <dict>
                <key>frame</key>
                <string>{{628,790},{286,286}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,33},{286,286}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>PSun14.png</key>
            <dict>
                <key>frame</key>
                <string>{{670,486},{304,302}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,24},{304,302}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>PSun15.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,770},{308,306}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,22},{308,306}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>PSun21.png</key>
            <dict>
                <key>frame</key>
                <string>{{384,486},{284,282}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{83,85},{284,282}}</string>
                <key>sourceSize</key>
                <string>{450,450}</string>
            </dict>
            <key>PSun22.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,770},{316,314}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{67,69},{316,314}}</string>
                <key>sourceSize</key>
                <string>{450,450}</string>
            </dict>
            <key>PSun23.png</key>
            <dict>
                <key>frame</key>
                <string>{{388,2},{360,358}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{45,47},{360,358}}</string>
                <key>sourceSize</key>
                <string>{450,450}</string>
            </dict>
            <key>PSun24.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,388},{380,380}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,36},{380,380}}</string>
                <key>sourceSize</key>
                <string>{450,450}</string>
            </dict>
            <key>PSun25.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{384,384}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,34},{384,384}}</string>
                <key>sourceSize</key>
                <string>{450,450}</string>
            </dict>
            <key>PSun31.png</key>
            <dict>
                <key>frame</key>
                <string>{{384,486},{284,282}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{83,85},{284,282}}</string>
                <key>sourceSize</key>
                <string>{450,450}</string>
            </dict>
            <key>PSun32.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,770},{316,314}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{67,69},{316,314}}</string>
                <key>sourceSize</key>
                <string>{450,450}</string>
            </dict>
            <key>PSun33.png</key>
            <dict>
                <key>frame</key>
                <string>{{388,2},{360,358}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{45,47},{360,358}}</string>
                <key>sourceSize</key>
                <string>{450,450}</string>
            </dict>
            <key>PSun34.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,388},{380,380}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,36},{380,380}}</string>
                <key>sourceSize</key>
                <string>{450,450}</string>
            </dict>
            <key>PSun35.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{384,384}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,34},{384,384}}</string>
                <key>sourceSize</key>
                <string>{450,450}</string>
            </dict>
            <key>Sun-11.png</key>
            <dict>
                <key>frame</key>
                <string>{{668,434},{46,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,17},{46,46}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>Sun-12.png</key>
            <dict>
                <key>frame</key>
                <string>{{628,1078},{52,52}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,13},{52,52}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>Sun-13.png</key>
            <dict>
                <key>frame</key>
                <string>{{606,420},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,10},{60,60}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>Sun00.png</key>
            <dict>
                <key>frame</key>
                <string>{{916,950},{76,78}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{76,78}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>Sun01.png</key>
            <dict>
                <key>frame</key>
                <string>{{916,870},{76,78}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{76,78}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>Sun11.png</key>
            <dict>
                <key>frame</key>
                <string>{{540,420},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,8},{64,64}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>Sun21.png</key>
            <dict>
                <key>frame</key>
                <string>{{468,362},{70,70}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,4},{70,70}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>Sun31.png</key>
            <dict>
                <key>frame</key>
                <string>{{388,362},{78,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{78,78}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>TSun-hd.png</string>
            <key>size</key>
            <string>{1004,1133}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:16b2fa77bf8968f77b824ce72979df7c$</string>
            <key>textureFileName</key>
            <string>TSun-hd.png</string>
        </dict>
    </dict>
</plist>
