<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>Path.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,0},{896,488}}</string>
			<key>offset</key>
			<string>{-32,-76}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,152},{896,488}}</string>
			<key>sourceSize</key>
			<string>{960,640}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>BG-hd.png</string>
		<key>size</key>
		<string>{1024,1024}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:d6d2877d7594ce948adc0dd72282fbb9$</string>
		<key>textureFileName</key>
		<string>BG-hd.png</string>
	</dict>
</dict>
</plist>
